.BookDetailSection.d-flex.flex-wrap.justify-content-between
  .BookDetailSection-col
    .BookDetailSection-preview.d-flex.align-items-start
      .BookDetailSection-preview-list
        .BookDetailSection-preview-list-arrow.prev 
          img(src="./assets/icons/icon-angle-up-gray-light.svg" alt="")

        .BookDetailSection-preview-list-group
          each item in [1,2,3,4,5]
            .BookDetailSection-preview-list-item 
              img(src="./assets/images/image-book-detail.png" alt="")

        .BookDetailSection-preview-list-arrow.next
          img(src="./assets/icons/icon-angle-down-gray-light.svg" alt="")

      .BookDetailSection-preview-carousel-wrapper
        .BookDetailSection-preview-carousel 
          .owl-carousel#BookDetailSection-carousel 
            each item in [1,2,3,4,5]
              .item 
                .BookDetailSection-preview-carousel-item 
                  img(src="./assets/images/image-book-detail.png" alt="")

        .BookDetailSection-actions.d-flex.align-items-center.justify-content-center.auto
          button.btn.btn-sm.btn-success
            <svg class="mr-2" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.79167 10.5C3.5596 10.5 3.33704 10.5922 3.17295 10.7563C3.00885 10.9204 2.91667 11.143 2.91667 11.375C2.91667 11.6972 2.6555 11.9584 2.33333 11.9584C2.01117 11.9584 1.75 11.6972 1.75 11.375C1.75 10.8336 1.9651 10.3142 2.34799 9.93136C2.73088 9.54848 3.25018 9.33337 3.79167 9.33337H11.6667C11.9888 9.33337 12.25 9.59454 12.25 9.91671C12.25 10.2389 11.9888 10.5 11.6667 10.5H3.79167Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3.79167 1.75004C3.5596 1.75004 3.33704 1.84223 3.17295 2.00632C3.00885 2.17042 2.91667 2.39298 2.91667 2.62504V11.375C2.91667 11.6071 3.00885 11.8297 3.17295 11.9938C3.33704 12.1579 3.5596 12.25 3.79167 12.25H11.0833V1.75004H3.79167ZM3.79167 0.583374H11.6667C11.9888 0.583374 12.25 0.844541 12.25 1.16671V12.8334C12.25 13.1555 11.9888 13.4167 11.6667 13.4167H3.79167C3.25018 13.4167 2.73088 13.2016 2.34799 12.8187C1.9651 12.4358 1.75 11.9165 1.75 11.375V2.62504C1.75 2.08356 1.9651 1.56425 2.34799 1.18136C2.73088 0.798478 3.25018 0.583374 3.79167 0.583374Z" fill="white"/></svg>
            |Đọc thử
          button.btn.btn-sm.btn-primary
            <svg class="mr-2" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.00008 2.33329C5.7624 2.33329 4.57542 2.82496 3.70025 3.70013C2.82508 4.5753 2.33341 5.76228 2.33341 6.99996V10.5C2.33341 10.8221 2.07225 11.0833 1.75008 11.0833C1.42792 11.0833 1.16675 10.8221 1.16675 10.5V6.99996C1.16675 5.45286 1.78133 3.96913 2.87529 2.87517C3.96925 1.78121 5.45299 1.16663 7.00008 1.16663C8.54718 1.16663 10.0309 1.78121 11.1249 2.87517C12.2188 3.96913 12.8334 5.45286 12.8334 6.99996V10.5C12.8334 10.8221 12.5722 11.0833 12.2501 11.0833C11.9279 11.0833 11.6667 10.8221 11.6667 10.5V6.99996C11.6667 5.76228 11.1751 4.5753 10.2999 3.70013C9.42474 2.82496 8.23776 2.33329 7.00008 2.33329Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M1.16675 8.16663C1.16675 7.84446 1.42792 7.58329 1.75008 7.58329H3.50008C3.96421 7.58329 4.40933 7.76767 4.73752 8.09586C5.06571 8.42405 5.25008 8.86916 5.25008 9.33329V11.0833C5.25008 11.5474 5.06571 11.9925 4.73752 12.3207C4.40933 12.6489 3.96421 12.8333 3.50008 12.8333H2.91675C2.45262 12.8333 2.0075 12.6489 1.67931 12.3207C1.35112 11.9925 1.16675 11.5474 1.16675 11.0833V8.16663ZM2.33341 8.74996V11.0833C2.33341 11.238 2.39487 11.3864 2.50427 11.4958C2.61367 11.6052 2.76204 11.6666 2.91675 11.6666H3.50008C3.65479 11.6666 3.80316 11.6052 3.91256 11.4958C4.02196 11.3864 4.08342 11.238 4.08342 11.0833V9.33329C4.08342 9.17858 4.02196 9.03021 3.91256 8.92081C3.80316 8.81142 3.65479 8.74996 3.50008 8.74996H2.33341ZM10.5001 8.74996C10.3454 8.74996 10.197 8.81142 10.0876 8.92081C9.97821 9.03021 9.91675 9.17858 9.91675 9.33329V11.0833C9.91675 11.238 9.97821 11.3864 10.0876 11.4958C10.197 11.6052 10.3454 11.6666 10.5001 11.6666H11.0834C11.2381 11.6666 11.3865 11.6052 11.4959 11.4958C11.6053 11.3864 11.6667 11.238 11.6667 11.0833V8.74996H10.5001ZM9.26265 8.09586C9.59083 7.76767 10.036 7.58329 10.5001 7.58329H12.2501C12.5722 7.58329 12.8334 7.84446 12.8334 8.16663V11.0833C12.8334 11.5474 12.649 11.9925 12.3209 12.3207C11.9927 12.6489 11.5475 12.8333 11.0834 12.8333H10.5001C10.036 12.8333 9.59083 12.6489 9.26265 12.3207C8.93446 11.9925 8.75008 11.5474 8.75008 11.0833V9.33329C8.75008 8.86916 8.93446 8.42405 9.26265 8.09586Z" fill="white"/></svg>
            |Nghe thử

  .BookDetailSection-col
    .BookDetailSection-title Chiến lược barbell trong quản trị danh mục đầu tư trái phiếu của ngân hàng thương mại Việt Nam
    .BookDetailSection-subtitle Subtitle: Mô tả tiêu đề phụ ở đây
    .BookDetailSection-values.d-flex.flex-wrap.align-items-center 
      .BookDetailSection-values-item.d-flex.align-items-center
        .BookDetailSection-values-item-number 4.5
        .BookDetailSection-values-item-label.d-flex.align-items-center 
          each item in [1]
            img(src="./assets/icons/icon-star-yellow.svg" alt="")
      .BookDetailSection-values-item.d-flex.align-items-center
        .BookDetailSection-values-item-number 52358
        .BookDetailSection-values-item-label Lượt xem
      .BookDetailSection-values-item.d-flex.align-items-center
        .BookDetailSection-values-item-number 3639
        .BookDetailSection-values-item-label Đã bán
      .BookDetailSection-values-item.d-flex.align-items-center
        .BookDetailSection-values-item-share
          img(src="./assets/icons/icon-share.svg" alt="")

    .BookDetailSection-info
      .BookDetailSection-info-header.d-flex
        .BookDetailSection-info-header-item Chọn sản phẩm

      .BookDetailSection-info-body
        .BookDetailSection-info-options
          .BookDetailSection-info-options-overlay
          .BookDetailSection-info-options-item.d-flex.align-items-center
            .BookDetailSection-info-options-item-icon 
              <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.67773 1.75H4.42773C3.94449 1.75 3.55273 2.14175 3.55273 2.625V4.375H2.67773V2.625C2.67773 1.6585 3.46124 0.875 4.42773 0.875H9.67773C10.6442 0.875 11.4277 1.6585 11.4277 2.625V4.375H10.5527V2.625C10.5527 2.14175 10.161 1.75 9.67773 1.75Z" fill="#02010E"/><path d="M12.3027 5.25H1.80273C1.31949 5.25 0.927734 5.64175 0.927734 6.125V8.75C0.927734 9.23325 1.31949 9.625 1.80273 9.625H2.67773V10.5H1.80273C0.836236 10.5 0.0527344 9.7165 0.0527344 8.75V6.125C0.0527344 5.1585 0.836236 4.375 1.80273 4.375H12.3027C13.2692 4.375 14.0527 5.1585 14.0527 6.125V8.75C14.0527 9.7165 13.2692 10.5 12.3027 10.5H11.4277V9.625H12.3027C12.786 9.625 13.1777 9.23325 13.1777 8.75V6.125C13.1777 5.64175 12.786 5.25 12.3027 5.25Z" fill="#02010E"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.67773 7.875H4.42773C3.94449 7.875 3.55273 8.26675 3.55273 8.75V11.375C3.55273 11.8582 3.94449 12.25 4.42773 12.25H9.67773C10.161 12.25 10.5527 11.8582 10.5527 11.375V8.75C10.5527 8.26675 10.161 7.875 9.67773 7.875ZM4.42773 7C3.46124 7 2.67773 7.7835 2.67773 8.75V11.375C2.67773 12.3415 3.46124 13.125 4.42773 13.125H9.67773C10.6442 13.125 11.4277 12.3415 11.4277 11.375V8.75C11.4277 7.7835 10.6442 7 9.67773 7H4.42773Z" fill="#02010E"/><path d="M2.67773 6.5625C2.67773 6.80412 2.48186 7 2.24023 7C1.99861 7 1.80273 6.80412 1.80273 6.5625C1.80273 6.32088 1.99861 6.125 2.24023 6.125C2.48186 6.125 2.67773 6.32088 2.67773 6.5625Z" fill="#02010E"/></svg>

            .BookDetailSection-info-options-item-title Sách giấy
            .BookDetailSection-info-options-item-control 
              .skin-1
                .num-in
                  span.minus
                  input.in-num(type="number" value="0")
                  span.plus
            .BookDetailSection-info-options-item-price 
              |315.000 đ
              del 515.000 đ
            .BookDetailSection-info-options-item-checkbox
              input(type="checkbox")

          .BookDetailSection-info-options-item.d-flex.align-items-center
            .BookDetailSection-info-options-item-icon 
              <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.96932 13.4167H4.13599C3.14432 13.4167 2.38599 12.6584 2.38599 11.6667V2.33337C2.38599 1.34171 3.14432 0.583374 4.13599 0.583374H9.96932C10.961 0.583374 11.7193 1.34171 11.7193 2.33337V11.6667C11.7193 12.6584 10.961 13.4167 9.96932 13.4167ZM4.13599 1.75004C3.78599 1.75004 3.55265 1.98337 3.55265 2.33337V11.6667C3.55265 12.0167 3.78599 12.25 4.13599 12.25H9.96932C10.3193 12.25 10.5527 12.0167 10.5527 11.6667V2.33337C10.5527 1.98337 10.3193 1.75004 9.96932 1.75004H4.13599Z" fill="#02010E"/><path d="M7.05265 11.0834C6.99432 11.0834 6.87765 11.0834 6.81932 11.025C6.76099 11.025 6.70265 10.9667 6.64432 10.9084C6.52765 10.7917 6.46932 10.675 6.46932 10.5C6.46932 10.4417 6.46932 10.325 6.52765 10.2667C6.58599 10.2084 6.58599 10.15 6.64432 10.0917C6.87765 9.85837 7.22765 9.85837 7.46099 10.0917C7.57765 10.2084 7.63599 10.3834 7.63599 10.5C7.63599 10.675 7.57765 10.7917 7.46099 10.9084C7.34432 11.025 7.22765 11.0834 7.05265 11.0834Z" fill="#02010E"/></svg>

            .BookDetailSection-info-options-item-title Ebook
            .BookDetailSection-info-options-item-control 
              .time.click-show-dropdow
                input.valua-time(type='hidden' value="1")
                h6.time-text.mb-0.mr-1 1 tháng
                i.fas.fa-angle-down
                ul.dropdow
                  li
                    input.get-valua-number(type='hidden' value="1" )
                    i.fas.fa-check
                    span.get-valua-text 1 tháng
                  li
                    input.get-valua-number(type='hidden' value="3" )
                    i.fas.fa-check
                    span.get-valua-text 3 tháng
                  li
                    input.get-valua-number(type='hidden' value="6" )
                    i.fas.fa-check
                    span.get-valua-text 6 tháng
                  li
                    input.get-valua-number(type='hidden' value="999" )
                    i.fas.fa-check
                    span.get-valua-text Vĩnh viễn
            .BookDetailSection-info-options-item-out-stock Tạm hết hàng
            
            .BookDetailSection-info-options-item-checkbox
              input(type="checkbox" disabled)

          .BookDetailSection-info-options-item.d-flex.align-items-center
            .BookDetailSection-info-options-item-icon 
              <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_9136_2373)"><path d="M11.6985 4.83337H11.2922C11.0637 4.83337 10.886 5.0365 10.886 5.23962V6.45837C10.886 8.36267 9.2356 9.88611 7.30591 9.70837C5.60474 9.53064 4.38599 8.03259 4.38599 6.33142V5.23962C4.38599 5.0365 4.18286 4.83337 3.97974 4.83337H3.57349C3.34497 4.83337 3.16724 5.0365 3.16724 5.23962V6.28064C3.16724 8.54041 4.76685 10.5717 7.02661 10.8763V11.7396H5.60474C5.37622 11.7396 5.19849 11.9427 5.19849 12.1459V12.5521C5.19849 12.7806 5.37622 12.9584 5.60474 12.9584H9.66724C9.87036 12.9584 10.0735 12.7806 10.0735 12.5521V12.1459C10.0735 11.9427 9.87036 11.7396 9.66724 11.7396H8.24536V10.9017C10.4036 10.597 12.1047 8.71814 12.1047 6.45837V5.23962C12.1047 5.0365 11.9016 4.83337 11.6985 4.83337ZM7.63599 8.89587C8.98169 8.89587 10.0735 7.82947 10.0735 6.45837V2.39587C10.0735 1.05017 8.98169 -0.041626 7.63599 -0.041626C6.26489 -0.041626 5.19849 1.05017 5.19849 2.39587V6.45837C5.19849 7.82947 6.26489 8.89587 7.63599 8.89587ZM6.41724 2.39587C6.41724 1.73572 6.95044 1.17712 7.63599 1.17712C8.29614 1.17712 8.85474 1.73572 8.85474 2.39587V6.45837C8.85474 7.14392 8.29614 7.67712 7.63599 7.67712C6.95044 7.67712 6.41724 7.14392 6.41724 6.45837V2.39587Z" fill="#02010E"/></g><defs><clipPath id="clip0_9136_2373"><rect width="14" height="14" fill="white" transform="translate(0.0527344)"/></clipPath></defs></svg>

            .BookDetailSection-info-options-item-title Audio book
            .BookDetailSection-info-options-item-control 
              .time.click-show-dropdow
                input.valua-time(type='hidden' value="1")
                h6.time-text.mb-0.mr-1 1 tháng
                i.fas.fa-angle-down
                ul.dropdow
                  li
                    input.get-valua-number(type='hidden' value="1" )
                    i.fas.fa-check
                    span.get-valua-text 1 tháng
                  li
                    input.get-valua-number(type='hidden' value="3" )
                    i.fas.fa-check
                    span.get-valua-text 3 tháng
                  li
                    input.get-valua-number(type='hidden' value="6" )
                    i.fas.fa-check
                    span.get-valua-text 6 tháng
                  li
                    input.get-valua-number(type='hidden' value="999" )
                    i.fas.fa-check
                    span.get-valua-text Vĩnh viễn

            .BookDetailSection-info-options-item-price 
              |315.000 đ
            .BookDetailSection-info-options-item-checkbox
              input(type="checkbox")


        .BookDetailSection-info-price
          .BookDetailSection-info-price-text.d-flex.align-items-center
            |Thành tiền
            strong 9.345.000 đ

          .BookDetailSection-info-price-btn.d-flex.justify-content-between
            button.btn.btn-danger 
              <svg class="mr-2" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.03516 1C4.16953 1 1.03516 4.13438 1.03516 8C1.03516 11.8656 4.16953 15 8.03516 15C11.9008 15 15.0352 11.8656 15.0352 8C15.0352 4.13438 11.9008 1 8.03516 1ZM8.03516 13.8125C4.82578 13.8125 2.22266 11.2094 2.22266 8C2.22266 4.79063 4.82578 2.1875 8.03516 2.1875C11.2445 2.1875 13.8477 4.79063 13.8477 8C13.8477 11.2094 11.2445 13.8125 8.03516 13.8125ZM8.78047 7.6375L8.38359 7.54531V5.44688C8.97734 5.52813 9.34453 5.9 9.40703 6.35625C9.41484 6.41875 9.46797 6.46406 9.53047 6.46406H10.232C10.3055 6.46406 10.3633 6.4 10.357 6.32656C10.2617 5.35313 9.46016 4.72813 8.38984 4.62031V4.10938C8.38984 4.04063 8.33359 3.98438 8.26484 3.98438H7.82578C7.75703 3.98438 7.70078 4.04063 7.70078 4.10938V4.625C6.59453 4.73281 5.72891 5.34375 5.72891 6.48438C5.72891 7.54063 6.50703 8.05 7.32422 8.24531L7.71016 8.34375V10.5734C7.01953 10.4812 6.63203 10.1125 6.55234 9.61563C6.54297 9.55625 6.48984 9.5125 6.42891 9.5125H5.70703C5.63359 9.5125 5.57578 9.575 5.58203 9.64844C5.65234 10.5078 6.30391 11.2984 7.69453 11.4V11.8906C7.69453 11.9594 7.75078 12.0156 7.81953 12.0156H8.26328C8.33203 12.0156 8.38828 11.9594 8.38828 11.8891L8.38516 11.3938C9.60859 11.2859 10.4836 10.6313 10.4836 9.45625C10.482 8.37188 9.79297 7.8875 8.78047 7.6375ZM7.70859 7.38438C7.62109 7.35938 7.54766 7.33594 7.47422 7.30625C6.94609 7.11562 6.70078 6.80781 6.70078 6.41094C6.70078 5.84375 7.13047 5.52031 7.70859 5.44688V7.38438ZM8.38359 10.5781V8.48906C8.43203 8.50312 8.47578 8.51406 8.52109 8.52344C9.26016 8.74844 9.50859 9.06094 9.50859 9.54062C9.50859 10.1516 9.04922 10.5188 8.38359 10.5781Z" fill="white"/></svg>
              |Mua ngay

            button.btn.btn-outline-danger 
              <svg class="mr-2" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.5351 7.43626H2.53512C2.30298 7.43626 2.10209 7.35375 1.93244 7.18873C1.7628 7.02371 1.67798 6.82302 1.67798 6.58664C1.67798 6.35026 1.76057 6.14734 1.92575 5.97786C2.09092 5.80838 2.29405 5.72364 2.53512 5.72364H3.28512C3.46369 5.99124 3.6936 6.20085 3.97485 6.35249C4.2561 6.50413 4.56191 6.57995 4.89226 6.57995C5.22262 6.57995 5.52842 6.50413 5.80967 6.35249C6.09092 6.20085 6.32084 5.99124 6.49941 5.72364H10.5708C10.7494 5.99124 10.9793 6.20085 11.2606 6.35249C11.5418 6.50413 11.8476 6.57995 12.178 6.57995C12.5083 6.57995 12.8141 6.50413 13.0954 6.35249C13.3766 6.20085 13.6065 5.99124 13.7851 5.72364H14.5351C14.7762 5.72364 14.9793 5.80838 15.1445 5.97786C15.3097 6.14734 15.3923 6.35026 15.3923 6.58664C15.3923 6.82302 15.3074 7.02371 15.1378 7.18873C14.9682 7.35375 14.7673 7.43626 14.5351 7.43626ZM12.4726 5.64336C12.303 5.74148 12.1244 5.76378 11.9369 5.71026C11.7494 5.65674 11.6065 5.54525 11.5083 5.37577L9.48601 1.65619C9.3878 1.48671 9.36325 1.30608 9.41235 1.1143C9.46146 0.922527 9.57084 0.77758 9.74048 0.679461C9.91012 0.581343 10.0887 0.559043 10.2762 0.612562C10.4637 0.666081 10.6065 0.77758 10.7048 0.947057L12.7271 4.66664C12.8253 4.83612 12.8499 5.01674 12.8007 5.20852C12.7516 5.4003 12.6423 5.54525 12.4726 5.64336ZM5.56191 5.37577C5.46369 5.54525 5.32084 5.65674 5.13334 5.71026C4.94584 5.76378 4.76726 5.74148 4.59762 5.64336C4.42798 5.54525 4.3186 5.4003 4.2695 5.20852C4.22039 5.01674 4.24494 4.83612 4.34316 4.66664L6.36548 0.947057C6.46369 0.77758 6.60655 0.666081 6.79405 0.612562C6.98155 0.559043 7.16012 0.581343 7.32976 0.679461C7.49941 0.77758 7.60878 0.922527 7.65789 1.1143C7.707 1.30608 7.68244 1.48671 7.58423 1.65619L5.56191 5.37577ZM13.678 13.4304C13.6065 13.7872 13.4749 14.0191 13.2829 14.1262C13.0909 14.2332 12.7985 14.2867 12.4057 14.2867H4.71816C4.31637 14.2867 4.0128 14.2332 3.80744 14.1262C3.60209 14.0191 3.46369 13.7872 3.39226 13.4304L2.53512 8.29256H14.5351L13.678 13.4304ZM11.5351 10.8615H10.2494V9.57702C10.2494 9.46106 10.207 9.36072 10.1222 9.27598C10.0374 9.19124 9.93691 9.14887 9.82084 9.14887C9.70476 9.14887 9.60432 9.19124 9.5195 9.27598C9.43467 9.36072 9.39226 9.46106 9.39226 9.57702V10.8615H8.10655C7.99048 10.8615 7.89003 10.9039 7.80521 10.9886C7.72039 11.0733 7.67798 11.1737 7.67798 11.2896C7.67798 11.4056 7.72039 11.5059 7.80521 11.5907C7.89003 11.6754 7.99048 11.7178 8.10655 11.7178H9.39226V13.0022C9.39226 13.1182 9.43467 13.2186 9.5195 13.3033C9.60432 13.388 9.70476 13.4304 9.82084 13.4304C9.93691 13.4304 10.0374 13.388 10.1222 13.3033C10.207 13.2186 10.2494 13.1182 10.2494 13.0022V11.7178H11.5351C11.6512 11.7178 11.7516 11.6754 11.8365 11.5907C11.9213 11.5059 11.9637 11.4056 11.9637 11.2896C11.9637 11.1737 11.9213 11.0733 11.8365 10.9886C11.7516 10.9039 11.6512 10.8615 11.5351 10.8615Z" fill="#EB5757"/></svg>
              |Thêm vào giỏ


        .BookDetailSection-voice
          .BookDetailSection-voice-wrapper.d-flex.align-items-center.justify-content-between
            .BookDetailSection-voice-item.d-flex.align-items-center
              img(src="./assets/icons/icon-voice.svg" alt="")
              |Phiên bản sách nói:

            .BookDetailSection-voice-item
              button.btn.btn-primary.d-flex.align-items-center 
                |Mua tại Fonos
                img(src="./assets/images/image-logo-fonos.png" alt="")

        .BookDetailSection-bonus.d-flex.align-items-center 
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.07827 17.9392V21.9179L9.05699 20.9349L12.0527 23.9307L15.0485 20.9349L19.0272 21.9179V17.9392L23.0527 16.9094L21.04 12.9307L23.0527 8.95194L19.0272 7.92215V3.94343L15.0485 4.92641L12.0527 1.93066L9.05699 4.92641L5.07827 3.94343V7.92215L1.05273 8.95194L3.0655 12.9307L1.05273 16.9094L5.07827 17.9392ZM4.84422 12.0413L3.95486 10.2158L5.54635 9.8413C6.01444 9.74769 6.3811 9.52144 6.64635 9.16258C6.9116 8.80371 7.04422 8.39024 7.04422 7.92215V6.5179L8.5421 6.93917H9.05699C9.58749 6.93917 10.0556 6.73634 10.4612 6.33066L12.0527 4.73917L13.6442 6.33066C14.0499 6.73634 14.518 6.93917 15.0485 6.93917C15.2357 6.93917 15.4073 6.90797 15.5634 6.84556L17.0612 6.5179V7.92215C17.0612 8.39024 17.1939 8.80371 17.4591 9.16258C17.7244 9.52144 18.091 9.74769 18.5591 9.8413L20.1506 10.2158L19.2612 12.0413C18.9492 12.6342 18.9492 13.2271 19.2612 13.82L20.1506 15.6456L18.5591 16.02C18.091 16.1136 17.7244 16.3399 17.4591 16.6987C17.1939 17.0576 17.0612 17.4711 17.0612 17.9392V19.3434L15.5634 18.9222H15.0485C14.518 18.9222 14.0499 19.125 13.6442 19.5307L12.0527 21.1222L10.4612 19.5307C10.0556 19.125 9.58749 18.9222 9.05699 18.9222C8.86976 18.9222 8.69812 18.9534 8.5421 19.0158L7.04422 19.3434V17.9392C7.04422 17.4711 6.9116 17.0576 6.64635 16.6987C6.3811 16.3399 6.01444 16.1136 5.54635 16.02L3.95486 15.6456L4.84422 13.82C5.15628 13.2271 5.15628 12.6342 4.84422 12.0413ZM11.0698 16.3477L15.7506 11.62C16.1875 11.1831 16.1875 10.7151 15.7506 10.2158C15.2825 9.8101 14.8144 9.8101 14.3464 10.2158L11.0698 13.5392L9.75912 12.2285C9.29103 11.8229 8.82295 11.8229 8.35486 12.2285C7.94919 12.6966 7.94919 13.1647 8.35486 13.6328L11.0698 16.3477Z" fill="#2D9CDB"/></svg>
          strong Khuyến mãi: 
          |Mua bộ sách giấy tặng bộ ebook



