.BookDetailSection.d-flex.flex-wrap.align-items-start.justify-content-between.mb-4
  .BookDetailSection-col
    .BookDetailSection-preview.d-flex.align-items-start
      .BookDetailSection-preview-list
        .BookDetailSection-preview-list-arrow.prev 
          img(src="./assets/icons/icon-angle-up-gray-light.svg", alt="")

        .BookDetailSection-preview-list-group
          each item in [1,2,3,4,5]
            .BookDetailSection-preview-list-item 
              img(src="./assets/images/image-book-detail.png", alt="")
        
        .BookDetailSection-preview-list-arrow.next
          img(src="./assets/icons/icon-angle-down-gray-light.svg", alt="")

      .BookDetailSection-preview-carousel-wrapper
        .BookDetailSection-preview-carousel 
          .owl-carousel#BookDetailSection-carousel 
            each item in [1,2,3,4,5]
              .item 
                .BookDetailSection-preview-carousel-item 
                  img(src="./assets/images/image-book-detail.png", alt="")

        .BookDetailSection-actions.d-flex.align-items-center.justify-content-center.auto
          button.btn.btn-sm.btn-success
            <svg class="mr-2" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.79167 10.5C3.5596 10.5 3.33704 10.5922 3.17295 10.7563C3.00885 10.9204 2.91667 11.143 2.91667 11.375C2.91667 11.6972 2.6555 11.9584 2.33333 11.9584C2.01117 11.9584 1.75 11.6972 1.75 11.375C1.75 10.8336 1.9651 10.3142 2.34799 9.93136C2.73088 9.54848 3.25018 9.33337 3.79167 9.33337H11.6667C11.9888 9.33337 12.25 9.59454 12.25 9.91671C12.25 10.2389 11.9888 10.5 11.6667 10.5H3.79167Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M3.79167 1.75004C3.5596 1.75004 3.33704 1.84223 3.17295 2.00632C3.00885 2.17042 2.91667 2.39298 2.91667 2.62504V11.375C2.91667 11.6071 3.00885 11.8297 3.17295 11.9938C3.33704 12.1579 3.5596 12.25 3.79167 12.25H11.0833V1.75004H3.79167ZM3.79167 0.583374H11.6667C11.9888 0.583374 12.25 0.844541 12.25 1.16671V12.8334C12.25 13.1555 11.9888 13.4167 11.6667 13.4167H3.79167C3.25018 13.4167 2.73088 13.2016 2.34799 12.8187C1.9651 12.4358 1.75 11.9165 1.75 11.375V2.62504C1.75 2.08356 1.9651 1.56425 2.34799 1.18136C2.73088 0.798478 3.25018 0.583374 3.79167 0.583374Z" fill="white"/></svg>
            |Đọc thử
          button.btn.btn-sm.btn-primary
            <svg class="mr-2" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.00008 2.33329C5.7624 2.33329 4.57542 2.82496 3.70025 3.70013C2.82508 4.5753 2.33341 5.76228 2.33341 6.99996V10.5C2.33341 10.8221 2.07225 11.0833 1.75008 11.0833C1.42792 11.0833 1.16675 10.8221 1.16675 10.5V6.99996C1.16675 5.45286 1.78133 3.96913 2.87529 2.87517C3.96925 1.78121 5.45299 1.16663 7.00008 1.16663C8.54718 1.16663 10.0309 1.78121 11.1249 2.87517C12.2188 3.96913 12.8334 5.45286 12.8334 6.99996V10.5C12.8334 10.8221 12.5722 11.0833 12.2501 11.0833C11.9279 11.0833 11.6667 10.8221 11.6667 10.5V6.99996C11.6667 5.76228 11.1751 4.5753 10.2999 3.70013C9.42474 2.82496 8.23776 2.33329 7.00008 2.33329Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M1.16675 8.16663C1.16675 7.84446 1.42792 7.58329 1.75008 7.58329H3.50008C3.96421 7.58329 4.40933 7.76767 4.73752 8.09586C5.06571 8.42405 5.25008 8.86916 5.25008 9.33329V11.0833C5.25008 11.5474 5.06571 11.9925 4.73752 12.3207C4.40933 12.6489 3.96421 12.8333 3.50008 12.8333H2.91675C2.45262 12.8333 2.0075 12.6489 1.67931 12.3207C1.35112 11.9925 1.16675 11.5474 1.16675 11.0833V8.16663ZM2.33341 8.74996V11.0833C2.33341 11.238 2.39487 11.3864 2.50427 11.4958C2.61367 11.6052 2.76204 11.6666 2.91675 11.6666H3.50008C3.65479 11.6666 3.80316 11.6052 3.91256 11.4958C4.02196 11.3864 4.08342 11.238 4.08342 11.0833V9.33329C4.08342 9.17858 4.02196 9.03021 3.91256 8.92081C3.80316 8.81142 3.65479 8.74996 3.50008 8.74996H2.33341ZM10.5001 8.74996C10.3454 8.74996 10.197 8.81142 10.0876 8.92081C9.97821 9.03021 9.91675 9.17858 9.91675 9.33329V11.0833C9.91675 11.238 9.97821 11.3864 10.0876 11.4958C10.197 11.6052 10.3454 11.6666 10.5001 11.6666H11.0834C11.2381 11.6666 11.3865 11.6052 11.4959 11.4958C11.6053 11.3864 11.6667 11.238 11.6667 11.0833V8.74996H10.5001ZM9.26265 8.09586C9.59083 7.76767 10.036 7.58329 10.5001 7.58329H12.2501C12.5722 7.58329 12.8334 7.84446 12.8334 8.16663V11.0833C12.8334 11.5474 12.649 11.9925 12.3209 12.3207C11.9927 12.6489 11.5475 12.8333 11.0834 12.8333H10.5001C10.036 12.8333 9.59083 12.6489 9.26265 12.3207C8.93446 11.9925 8.75008 11.5474 8.75008 11.0833V9.33329C8.75008 8.86916 8.93446 8.42405 9.26265 8.09586Z" fill="white"/></svg>
            |Nghe thử

  .BookDetailSection-col
    .BookDetailSection-title Chiến lược barbell trong quản trị danh mục đầu tư trái phiếu của ngân hàng thương mại Việt Nam
    .BookDetailSection-subtitle Subtitle: Mô tả tiêu đề phụ ở đây
    .BookDetailSection-values.d-flex.flex-wrap.align-items-center 
      .BookDetailSection-values-item.d-flex.align-items-center
        .BookDetailSection-values-item-number 4.5
        .BookDetailSection-values-item-label.d-flex.align-items-center 
          each item in [1,2,3,4,5]
            img(src="./assets/icons/icon-star-yellow.svg" alt="")
      .BookDetailSection-values-item.d-flex.align-items-center
        .BookDetailSection-values-item-number 52358
        .BookDetailSection-values-item-label Lượt xem
      .BookDetailSection-values-item.d-flex.align-items-center
        .BookDetailSection-values-item-number 3639
        .BookDetailSection-values-item-label Đã bán
      .BookDetailSection-values-item.d-flex.align-items-center
        .BookDetailSection-values-item-share
          img(src="./assets/icons/icon-share.svg", alt="")

include ../components/author-list.pug

.BookDetailSection-info.mb-4
  .BookDetailSection-info-header.d-flex
    .BookDetailSection-info-header-item Chọn sản phẩm

  .BookDetailSection-info-body
    .BookDetailSection-info-type.d-flex.flex-wrap
      .BookDetailSection-info-type-item-wrapper.js-product-type-option.disabled
        input(type="radio" name="type")
        .BookDetailSection-info-type-item.d-flex.align-items-center
          <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.25 2H3.75C3.33579 2 3 2.33579 3 2.75V4.25H2.25V2.75C2.25 1.92157 2.92157 1.25 3.75 1.25H8.25C9.07843 1.25 9.75 1.92157 9.75 2.75V4.25H9V2.75C9 2.33579 8.66421 2 8.25 2Z" fill="#343A40"/><path d="M10.5 5H1.5C1.08579 5 0.75 5.33579 0.75 5.75V8C0.75 8.41421 1.08579 8.75 1.5 8.75H2.25V9.5H1.5C0.671573 9.5 0 8.82843 0 8V5.75C0 4.92157 0.671573 4.25 1.5 4.25H10.5C11.3284 4.25 12 4.92157 12 5.75V8C12 8.82843 11.3284 9.5 10.5 9.5H9.75V8.75H10.5C10.9142 8.75 11.25 8.41421 11.25 8V5.75C11.25 5.33579 10.9142 5 10.5 5Z" fill="#343A40"/><path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 7.25H3.75C3.33579 7.25 3 7.58579 3 8V10.25C3 10.6642 3.33579 11 3.75 11H8.25C8.66421 11 9 10.6642 9 10.25V8C9 7.58579 8.66421 7.25 8.25 7.25ZM3.75 6.5C2.92157 6.5 2.25 7.17157 2.25 8V10.25C2.25 11.0784 2.92157 11.75 3.75 11.75H8.25C9.07843 11.75 9.75 11.0784 9.75 10.25V8C9.75 7.17157 9.07843 6.5 8.25 6.5H3.75Z" fill="#343A40"/><path d="M2.25 6.125C2.25 6.33211 2.08211 6.5 1.875 6.5C1.66789 6.5 1.5 6.33211 1.5 6.125C1.5 5.91789 1.66789 5.75 1.875 5.75C2.08211 5.75 2.25 5.91789 2.25 6.125Z" fill="#343A40"/></svg>
          |Sách giấy

      .BookDetailSection-info-type-item-wrapper.js-product-type-option.out-stock
        input(type="radio" name="type")
        .BookDetailSection-info-type-item.d-flex.align-items-center
          <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 12H4C3.15 12 2.5 11.35 2.5 10.5V2.5C2.5 1.65 3.15 1 4 1H9C9.85 1 10.5 1.65 10.5 2.5V10.5C10.5 11.35 9.85 12 9 12ZM4 2C3.7 2 3.5 2.2 3.5 2.5V10.5C3.5 10.8 3.7 11 4 11H9C9.3 11 9.5 10.8 9.5 10.5V2.5C9.5 2.2 9.3 2 9 2H4Z" fill="#343A40"/><path d="M6.5 10C6.45 10 6.35 10 6.3 9.95C6.25 9.95 6.2 9.9 6.15 9.85C6.05 9.75 6 9.65 6 9.5C6 9.45 6 9.35 6.05 9.3C6.1 9.25 6.1 9.2 6.15 9.15C6.35 8.95 6.65 8.95 6.85 9.15C6.95 9.25 7 9.4 7 9.5C7 9.65 6.95 9.75 6.85 9.85C6.75 9.95 6.65 10 6.5 10Z" fill="#343A40"/></svg>
          |Ebook

      .BookDetailSection-info-type-item-wrapper.js-product-type-option
        input(type="radio" name="type")
        .BookDetailSection-info-type-item.d-flex.align-items-center
          <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_9115_10327)"><path d="M10.25 5.5H9.875C9.66406 5.5 9.5 5.6875 9.5 5.875V7C9.5 8.75781 7.97656 10.1641 6.19531 10C4.625 9.83594 3.5 8.45312 3.5 6.88281V5.875C3.5 5.6875 3.3125 5.5 3.125 5.5H2.75C2.53906 5.5 2.375 5.6875 2.375 5.875V6.83594C2.375 8.92188 3.85156 10.7969 5.9375 11.0781V11.875H4.625C4.41406 11.875 4.25 12.0625 4.25 12.25V12.625C4.25 12.8359 4.41406 13 4.625 13H8.375C8.5625 13 8.75 12.8359 8.75 12.625V12.25C8.75 12.0625 8.5625 11.875 8.375 11.875H7.0625V11.1016C9.05469 10.8203 10.625 9.08594 10.625 7V5.875C10.625 5.6875 10.4375 5.5 10.25 5.5ZM6.5 9.25C7.74219 9.25 8.75 8.26562 8.75 7V3.25C8.75 2.00781 7.74219 1 6.5 1C5.23438 1 4.25 2.00781 4.25 3.25V7C4.25 8.26562 5.23438 9.25 6.5 9.25ZM5.375 3.25C5.375 2.64062 5.86719 2.125 6.5 2.125C7.10938 2.125 7.625 2.64062 7.625 3.25V7C7.625 7.63281 7.10938 8.125 6.5 8.125C5.86719 8.125 5.375 7.63281 5.375 7V3.25Z" fill="#343A40"/></g><defs><clipPath id="clip0_9115_10327"><rect width="12" height="12" fill="white" transform="translate(0.5 0.5)"/></clipPath></defs></svg>
          |Audio book

      .BookDetailSection-info-type-item-wrapper.js-product-type-option
        input(type="radio" name="type")
        .BookDetailSection-info-type-item.d-flex.align-items-center
          <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_9115_10484)"><path d="M12.625 1.75H3.875C3.52344 1.75 3.25 2.02344 3.25 2.33594V3.9375H4.1875V2.6875H5.125V3.9375H6.0625V2.6875H10.4375V8.625H12.625C12.957 8.625 13.25 8.37109 13.25 8.05859V2.33594C13.25 2.02344 12.957 1.75 12.625 1.75ZM12.3125 7.6875H11.375V6.59375H12.3125V7.6875ZM12.3125 5.65625H11.375V4.71875H12.3125V5.65625ZM12.3125 3.78125H11.375V2.6875H12.3125V3.78125ZM3.25 8C3.58203 8 3.875 7.72656 3.875 7.375C3.875 7.04297 3.58203 6.75 3.25 6.75C2.89844 6.75 2.625 7.04297 2.625 7.375C2.625 7.72656 2.89844 8 3.25 8ZM8.875 4.875H1.375C1.02344 4.875 0.75 5.16797 0.75 5.5V11.125C0.75 11.4766 1.02344 11.75 1.375 11.75H8.875C9.20703 11.75 9.5 11.4766 9.5 11.125V5.5C9.5 5.16797 9.20703 4.875 8.875 4.875ZM8.5625 9.5625L6.58984 7.60938C6.53125 7.55078 6.45312 7.51172 6.375 7.51172C6.27734 7.51172 6.19922 7.55078 6.14062 7.60938L4.1875 9.5625L3.46484 8.85938C3.40625 8.80078 3.32812 8.76172 3.25 8.76172C3.15234 8.76172 3.07422 8.80078 3.01562 8.85938L1.6875 10.1875V5.8125H8.5625V9.5625Z" fill="#343A40"/></g><defs><clipPath id="clip0_9115_10484"><rect width="12" height="12" fill="white" transform="translate(0.5 0.5)"/></clipPath></defs></svg>
          |Sách đa phương tiện


    .BookDetailSection-info-price
      .BookDetailSection-info-price-btn.d-flex.justify-content-between
        button.btn.btn-danger 
          <svg class="mr-2" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.03516 1C4.16953 1 1.03516 4.13438 1.03516 8C1.03516 11.8656 4.16953 15 8.03516 15C11.9008 15 15.0352 11.8656 15.0352 8C15.0352 4.13438 11.9008 1 8.03516 1ZM8.03516 13.8125C4.82578 13.8125 2.22266 11.2094 2.22266 8C2.22266 4.79063 4.82578 2.1875 8.03516 2.1875C11.2445 2.1875 13.8477 4.79063 13.8477 8C13.8477 11.2094 11.2445 13.8125 8.03516 13.8125ZM8.78047 7.6375L8.38359 7.54531V5.44688C8.97734 5.52813 9.34453 5.9 9.40703 6.35625C9.41484 6.41875 9.46797 6.46406 9.53047 6.46406H10.232C10.3055 6.46406 10.3633 6.4 10.357 6.32656C10.2617 5.35313 9.46016 4.72813 8.38984 4.62031V4.10938C8.38984 4.04063 8.33359 3.98438 8.26484 3.98438H7.82578C7.75703 3.98438 7.70078 4.04063 7.70078 4.10938V4.625C6.59453 4.73281 5.72891 5.34375 5.72891 6.48438C5.72891 7.54063 6.50703 8.05 7.32422 8.24531L7.71016 8.34375V10.5734C7.01953 10.4812 6.63203 10.1125 6.55234 9.61563C6.54297 9.55625 6.48984 9.5125 6.42891 9.5125H5.70703C5.63359 9.5125 5.57578 9.575 5.58203 9.64844C5.65234 10.5078 6.30391 11.2984 7.69453 11.4V11.8906C7.69453 11.9594 7.75078 12.0156 7.81953 12.0156H8.26328C8.33203 12.0156 8.38828 11.9594 8.38828 11.8891L8.38516 11.3938C9.60859 11.2859 10.4836 10.6313 10.4836 9.45625C10.482 8.37188 9.79297 7.8875 8.78047 7.6375ZM7.70859 7.38438C7.62109 7.35938 7.54766 7.33594 7.47422 7.30625C6.94609 7.11562 6.70078 6.80781 6.70078 6.41094C6.70078 5.84375 7.13047 5.52031 7.70859 5.44688V7.38438ZM8.38359 10.5781V8.48906C8.43203 8.50312 8.47578 8.51406 8.52109 8.52344C9.26016 8.74844 9.50859 9.06094 9.50859 9.54062C9.50859 10.1516 9.04922 10.5188 8.38359 10.5781Z" fill="white"/></svg>
          |Mua ngay

        button.btn.btn-outline-danger 
          <svg class="mr-2" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.5351 7.43626H2.53512C2.30298 7.43626 2.10209 7.35375 1.93244 7.18873C1.7628 7.02371 1.67798 6.82302 1.67798 6.58664C1.67798 6.35026 1.76057 6.14734 1.92575 5.97786C2.09092 5.80838 2.29405 5.72364 2.53512 5.72364H3.28512C3.46369 5.99124 3.6936 6.20085 3.97485 6.35249C4.2561 6.50413 4.56191 6.57995 4.89226 6.57995C5.22262 6.57995 5.52842 6.50413 5.80967 6.35249C6.09092 6.20085 6.32084 5.99124 6.49941 5.72364H10.5708C10.7494 5.99124 10.9793 6.20085 11.2606 6.35249C11.5418 6.50413 11.8476 6.57995 12.178 6.57995C12.5083 6.57995 12.8141 6.50413 13.0954 6.35249C13.3766 6.20085 13.6065 5.99124 13.7851 5.72364H14.5351C14.7762 5.72364 14.9793 5.80838 15.1445 5.97786C15.3097 6.14734 15.3923 6.35026 15.3923 6.58664C15.3923 6.82302 15.3074 7.02371 15.1378 7.18873C14.9682 7.35375 14.7673 7.43626 14.5351 7.43626ZM12.4726 5.64336C12.303 5.74148 12.1244 5.76378 11.9369 5.71026C11.7494 5.65674 11.6065 5.54525 11.5083 5.37577L9.48601 1.65619C9.3878 1.48671 9.36325 1.30608 9.41235 1.1143C9.46146 0.922527 9.57084 0.77758 9.74048 0.679461C9.91012 0.581343 10.0887 0.559043 10.2762 0.612562C10.4637 0.666081 10.6065 0.77758 10.7048 0.947057L12.7271 4.66664C12.8253 4.83612 12.8499 5.01674 12.8007 5.20852C12.7516 5.4003 12.6423 5.54525 12.4726 5.64336ZM5.56191 5.37577C5.46369 5.54525 5.32084 5.65674 5.13334 5.71026C4.94584 5.76378 4.76726 5.74148 4.59762 5.64336C4.42798 5.54525 4.3186 5.4003 4.2695 5.20852C4.22039 5.01674 4.24494 4.83612 4.34316 4.66664L6.36548 0.947057C6.46369 0.77758 6.60655 0.666081 6.79405 0.612562C6.98155 0.559043 7.16012 0.581343 7.32976 0.679461C7.49941 0.77758 7.60878 0.922527 7.65789 1.1143C7.707 1.30608 7.68244 1.48671 7.58423 1.65619L5.56191 5.37577ZM13.678 13.4304C13.6065 13.7872 13.4749 14.0191 13.2829 14.1262C13.0909 14.2332 12.7985 14.2867 12.4057 14.2867H4.71816C4.31637 14.2867 4.0128 14.2332 3.80744 14.1262C3.60209 14.0191 3.46369 13.7872 3.39226 13.4304L2.53512 8.29256H14.5351L13.678 13.4304ZM11.5351 10.8615H10.2494V9.57702C10.2494 9.46106 10.207 9.36072 10.1222 9.27598C10.0374 9.19124 9.93691 9.14887 9.82084 9.14887C9.70476 9.14887 9.60432 9.19124 9.5195 9.27598C9.43467 9.36072 9.39226 9.46106 9.39226 9.57702V10.8615H8.10655C7.99048 10.8615 7.89003 10.9039 7.80521 10.9886C7.72039 11.0733 7.67798 11.1737 7.67798 11.2896C7.67798 11.4056 7.72039 11.5059 7.80521 11.5907C7.89003 11.6754 7.99048 11.7178 8.10655 11.7178H9.39226V13.0022C9.39226 13.1182 9.43467 13.2186 9.5195 13.3033C9.60432 13.388 9.70476 13.4304 9.82084 13.4304C9.93691 13.4304 10.0374 13.388 10.1222 13.3033C10.207 13.2186 10.2494 13.1182 10.2494 13.0022V11.7178H11.5351C11.6512 11.7178 11.7516 11.6754 11.8365 11.5907C11.9213 11.5059 11.9637 11.4056 11.9637 11.2896C11.9637 11.1737 11.9213 11.0733 11.8365 10.9886C11.7516 10.9039 11.6512 10.8615 11.5351 10.8615Z" fill="#EB5757"/></svg>
          |Thêm vào giỏ


    .BookDetailSection-voice
      .BookDetailSection-voice-wrapper.d-flex.align-items-center.justify-content-between
        .BookDetailSection-voice-item.d-flex.align-items-center
          img(src="./assets/icons/icon-voice.svg", alt="")
          |Phiên bản sách nói:

        .BookDetailSection-voice-item
          button.btn.btn-primary.d-flex.align-items-center 
            |Mua tại Fonos
            img(src="./assets/images/image-logo-fonos.png", alt="")

    .BookDetailSection-bonus.d-flex.align-items-center 
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.07827 17.9392V21.9179L9.05699 20.9349L12.0527 23.9307L15.0485 20.9349L19.0272 21.9179V17.9392L23.0527 16.9094L21.04 12.9307L23.0527 8.95194L19.0272 7.92215V3.94343L15.0485 4.92641L12.0527 1.93066L9.05699 4.92641L5.07827 3.94343V7.92215L1.05273 8.95194L3.0655 12.9307L1.05273 16.9094L5.07827 17.9392ZM4.84422 12.0413L3.95486 10.2158L5.54635 9.8413C6.01444 9.74769 6.3811 9.52144 6.64635 9.16258C6.9116 8.80371 7.04422 8.39024 7.04422 7.92215V6.5179L8.5421 6.93917H9.05699C9.58749 6.93917 10.0556 6.73634 10.4612 6.33066L12.0527 4.73917L13.6442 6.33066C14.0499 6.73634 14.518 6.93917 15.0485 6.93917C15.2357 6.93917 15.4073 6.90797 15.5634 6.84556L17.0612 6.5179V7.92215C17.0612 8.39024 17.1939 8.80371 17.4591 9.16258C17.7244 9.52144 18.091 9.74769 18.5591 9.8413L20.1506 10.2158L19.2612 12.0413C18.9492 12.6342 18.9492 13.2271 19.2612 13.82L20.1506 15.6456L18.5591 16.02C18.091 16.1136 17.7244 16.3399 17.4591 16.6987C17.1939 17.0576 17.0612 17.4711 17.0612 17.9392V19.3434L15.5634 18.9222H15.0485C14.518 18.9222 14.0499 19.125 13.6442 19.5307L12.0527 21.1222L10.4612 19.5307C10.0556 19.125 9.58749 18.9222 9.05699 18.9222C8.86976 18.9222 8.69812 18.9534 8.5421 19.0158L7.04422 19.3434V17.9392C7.04422 17.4711 6.9116 17.0576 6.64635 16.6987C6.3811 16.3399 6.01444 16.1136 5.54635 16.02L3.95486 15.6456L4.84422 13.82C5.15628 13.2271 5.15628 12.6342 4.84422 12.0413ZM11.0698 16.3477L15.7506 11.62C16.1875 11.1831 16.1875 10.7151 15.7506 10.2158C15.2825 9.8101 14.8144 9.8101 14.3464 10.2158L11.0698 13.5392L9.75912 12.2285C9.29103 11.8229 8.82295 11.8229 8.35486 12.2285C7.94919 12.6966 7.94919 13.1647 8.35486 13.6328L11.0698 16.3477Z" fill="#2D9CDB"/></svg>
      strong Khuyến mãi: 
      |Mua bộ sách giấy tặng bộ ebook


.BookDetailSection-info-options-mobile 
  .BookDetailSection-info-options-mobile-overlay 
  .BookDetailSection-info-options-mobile-main 
    .BookDetailSection-info-options-mobile-main-header.d-flex
      .BookDetailSection-info-options-mobile-title Chọn sản phẩm

    .BookDetailSection-info-options-mobile-main-body
      .BookDetailSection-info-type.d-flex.flex-wrap
        .BookDetailSection-info-type-item-wrapper.disabled
          input(type="radio" name="type")
          .BookDetailSection-info-type-item.d-flex.align-items-center
            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.25 2H3.75C3.33579 2 3 2.33579 3 2.75V4.25H2.25V2.75C2.25 1.92157 2.92157 1.25 3.75 1.25H8.25C9.07843 1.25 9.75 1.92157 9.75 2.75V4.25H9V2.75C9 2.33579 8.66421 2 8.25 2Z" fill="#343A40"/><path d="M10.5 5H1.5C1.08579 5 0.75 5.33579 0.75 5.75V8C0.75 8.41421 1.08579 8.75 1.5 8.75H2.25V9.5H1.5C0.671573 9.5 0 8.82843 0 8V5.75C0 4.92157 0.671573 4.25 1.5 4.25H10.5C11.3284 4.25 12 4.92157 12 5.75V8C12 8.82843 11.3284 9.5 10.5 9.5H9.75V8.75H10.5C10.9142 8.75 11.25 8.41421 11.25 8V5.75C11.25 5.33579 10.9142 5 10.5 5Z" fill="#343A40"/><path fill-rule="evenodd" clip-rule="evenodd" d="M8.25 7.25H3.75C3.33579 7.25 3 7.58579 3 8V10.25C3 10.6642 3.33579 11 3.75 11H8.25C8.66421 11 9 10.6642 9 10.25V8C9 7.58579 8.66421 7.25 8.25 7.25ZM3.75 6.5C2.92157 6.5 2.25 7.17157 2.25 8V10.25C2.25 11.0784 2.92157 11.75 3.75 11.75H8.25C9.07843 11.75 9.75 11.0784 9.75 10.25V8C9.75 7.17157 9.07843 6.5 8.25 6.5H3.75Z" fill="#343A40"/><path d="M2.25 6.125C2.25 6.33211 2.08211 6.5 1.875 6.5C1.66789 6.5 1.5 6.33211 1.5 6.125C1.5 5.91789 1.66789 5.75 1.875 5.75C2.08211 5.75 2.25 5.91789 2.25 6.125Z" fill="#343A40"/></svg>
            |Sách giấy

        .BookDetailSection-info-type-item-wrapper.out-stock
          input(type="radio" name="type")
          .BookDetailSection-info-type-item.d-flex.align-items-center
            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 12H4C3.15 12 2.5 11.35 2.5 10.5V2.5C2.5 1.65 3.15 1 4 1H9C9.85 1 10.5 1.65 10.5 2.5V10.5C10.5 11.35 9.85 12 9 12ZM4 2C3.7 2 3.5 2.2 3.5 2.5V10.5C3.5 10.8 3.7 11 4 11H9C9.3 11 9.5 10.8 9.5 10.5V2.5C9.5 2.2 9.3 2 9 2H4Z" fill="#343A40"/><path d="M6.5 10C6.45 10 6.35 10 6.3 9.95C6.25 9.95 6.2 9.9 6.15 9.85C6.05 9.75 6 9.65 6 9.5C6 9.45 6 9.35 6.05 9.3C6.1 9.25 6.1 9.2 6.15 9.15C6.35 8.95 6.65 8.95 6.85 9.15C6.95 9.25 7 9.4 7 9.5C7 9.65 6.95 9.75 6.85 9.85C6.75 9.95 6.65 10 6.5 10Z" fill="#343A40"/></svg>
            |Ebook

        .BookDetailSection-info-type-item-wrapper
          input(type="radio" name="type")
          .BookDetailSection-info-type-item.d-flex.align-items-center
            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_9115_10327)"><path d="M10.25 5.5H9.875C9.66406 5.5 9.5 5.6875 9.5 5.875V7C9.5 8.75781 7.97656 10.1641 6.19531 10C4.625 9.83594 3.5 8.45312 3.5 6.88281V5.875C3.5 5.6875 3.3125 5.5 3.125 5.5H2.75C2.53906 5.5 2.375 5.6875 2.375 5.875V6.83594C2.375 8.92188 3.85156 10.7969 5.9375 11.0781V11.875H4.625C4.41406 11.875 4.25 12.0625 4.25 12.25V12.625C4.25 12.8359 4.41406 13 4.625 13H8.375C8.5625 13 8.75 12.8359 8.75 12.625V12.25C8.75 12.0625 8.5625 11.875 8.375 11.875H7.0625V11.1016C9.05469 10.8203 10.625 9.08594 10.625 7V5.875C10.625 5.6875 10.4375 5.5 10.25 5.5ZM6.5 9.25C7.74219 9.25 8.75 8.26562 8.75 7V3.25C8.75 2.00781 7.74219 1 6.5 1C5.23438 1 4.25 2.00781 4.25 3.25V7C4.25 8.26562 5.23438 9.25 6.5 9.25ZM5.375 3.25C5.375 2.64062 5.86719 2.125 6.5 2.125C7.10938 2.125 7.625 2.64062 7.625 3.25V7C7.625 7.63281 7.10938 8.125 6.5 8.125C5.86719 8.125 5.375 7.63281 5.375 7V3.25Z" fill="#343A40"/></g><defs><clipPath id="clip0_9115_10327"><rect width="12" height="12" fill="white" transform="translate(0.5 0.5)"/></clipPath></defs></svg>
            |Audio book

        .BookDetailSection-info-type-item-wrapper
          input(type="radio" name="type")
          .BookDetailSection-info-type-item.d-flex.align-items-center
            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_9115_10484)"><path d="M12.625 1.75H3.875C3.52344 1.75 3.25 2.02344 3.25 2.33594V3.9375H4.1875V2.6875H5.125V3.9375H6.0625V2.6875H10.4375V8.625H12.625C12.957 8.625 13.25 8.37109 13.25 8.05859V2.33594C13.25 2.02344 12.957 1.75 12.625 1.75ZM12.3125 7.6875H11.375V6.59375H12.3125V7.6875ZM12.3125 5.65625H11.375V4.71875H12.3125V5.65625ZM12.3125 3.78125H11.375V2.6875H12.3125V3.78125ZM3.25 8C3.58203 8 3.875 7.72656 3.875 7.375C3.875 7.04297 3.58203 6.75 3.25 6.75C2.89844 6.75 2.625 7.04297 2.625 7.375C2.625 7.72656 2.89844 8 3.25 8ZM8.875 4.875H1.375C1.02344 4.875 0.75 5.16797 0.75 5.5V11.125C0.75 11.4766 1.02344 11.75 1.375 11.75H8.875C9.20703 11.75 9.5 11.4766 9.5 11.125V5.5C9.5 5.16797 9.20703 4.875 8.875 4.875ZM8.5625 9.5625L6.58984 7.60938C6.53125 7.55078 6.45312 7.51172 6.375 7.51172C6.27734 7.51172 6.19922 7.55078 6.14062 7.60938L4.1875 9.5625L3.46484 8.85938C3.40625 8.80078 3.32812 8.76172 3.25 8.76172C3.15234 8.76172 3.07422 8.80078 3.01562 8.85938L1.6875 10.1875V5.8125H8.5625V9.5625Z" fill="#343A40"/></g><defs><clipPath id="clip0_9115_10484"><rect width="12" height="12" fill="white" transform="translate(0.5 0.5)"/></clipPath></defs></svg>
            |Sách đa phương tiện

      .BookDetailSection-info-options-mobile-subtitle Thời gian

      .BookDetailSection-info-type.d-flex.flex-wrap
        .BookDetailSection-info-type-item-wrapper
          input(type="radio" name="time")
          .BookDetailSection-info-type-item.d-flex.align-items-center
            |1 tháng

        .BookDetailSection-info-type-item-wrapper
          input(type="radio" name="time")
          .BookDetailSection-info-type-item.d-flex.align-items-center
            |3 tháng

        .BookDetailSection-info-type-item-wrapper
          input(type="radio" name="time")
          .BookDetailSection-info-type-item.d-flex.align-items-center
            |6 tháng

        .BookDetailSection-info-type-item-wrapper
          input(type="radio" name="time")
          .BookDetailSection-info-type-item.d-flex.align-items-center
            |Vĩnh viễn

      .BookDetailSection-info-amount.d-flex.align-items-center
        .BookDetailSection-info-options-mobile-subtitle.mr-3.mb-0 Số lượng
        .skin-1
          .num-in
            span.minus
            input.in-num(type="number" value="0")
            span.plus

      .BookDetailSection-info-price
        .BookDetailSection-info-price-text.d-flex.align-items-center
          |Thành tiền
          strong 9.345.000 đ

        .BookDetailSection-info-price-btn.d-flex.justify-content-between
          button.btn.btn-danger 
            <svg class="mr-2" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.03516 1C4.16953 1 1.03516 4.13438 1.03516 8C1.03516 11.8656 4.16953 15 8.03516 15C11.9008 15 15.0352 11.8656 15.0352 8C15.0352 4.13438 11.9008 1 8.03516 1ZM8.03516 13.8125C4.82578 13.8125 2.22266 11.2094 2.22266 8C2.22266 4.79063 4.82578 2.1875 8.03516 2.1875C11.2445 2.1875 13.8477 4.79063 13.8477 8C13.8477 11.2094 11.2445 13.8125 8.03516 13.8125ZM8.78047 7.6375L8.38359 7.54531V5.44688C8.97734 5.52813 9.34453 5.9 9.40703 6.35625C9.41484 6.41875 9.46797 6.46406 9.53047 6.46406H10.232C10.3055 6.46406 10.3633 6.4 10.357 6.32656C10.2617 5.35313 9.46016 4.72813 8.38984 4.62031V4.10938C8.38984 4.04063 8.33359 3.98438 8.26484 3.98438H7.82578C7.75703 3.98438 7.70078 4.04063 7.70078 4.10938V4.625C6.59453 4.73281 5.72891 5.34375 5.72891 6.48438C5.72891 7.54063 6.50703 8.05 7.32422 8.24531L7.71016 8.34375V10.5734C7.01953 10.4812 6.63203 10.1125 6.55234 9.61563C6.54297 9.55625 6.48984 9.5125 6.42891 9.5125H5.70703C5.63359 9.5125 5.57578 9.575 5.58203 9.64844C5.65234 10.5078 6.30391 11.2984 7.69453 11.4V11.8906C7.69453 11.9594 7.75078 12.0156 7.81953 12.0156H8.26328C8.33203 12.0156 8.38828 11.9594 8.38828 11.8891L8.38516 11.3938C9.60859 11.2859 10.4836 10.6313 10.4836 9.45625C10.482 8.37188 9.79297 7.8875 8.78047 7.6375ZM7.70859 7.38438C7.62109 7.35938 7.54766 7.33594 7.47422 7.30625C6.94609 7.11562 6.70078 6.80781 6.70078 6.41094C6.70078 5.84375 7.13047 5.52031 7.70859 5.44688V7.38438ZM8.38359 10.5781V8.48906C8.43203 8.50312 8.47578 8.51406 8.52109 8.52344C9.26016 8.74844 9.50859 9.06094 9.50859 9.54062C9.50859 10.1516 9.04922 10.5188 8.38359 10.5781Z" fill="white"/></svg>
            |Mua ngay

          button.btn.btn-outline-danger 
            <svg class="mr-2" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.5351 7.43626H2.53512C2.30298 7.43626 2.10209 7.35375 1.93244 7.18873C1.7628 7.02371 1.67798 6.82302 1.67798 6.58664C1.67798 6.35026 1.76057 6.14734 1.92575 5.97786C2.09092 5.80838 2.29405 5.72364 2.53512 5.72364H3.28512C3.46369 5.99124 3.6936 6.20085 3.97485 6.35249C4.2561 6.50413 4.56191 6.57995 4.89226 6.57995C5.22262 6.57995 5.52842 6.50413 5.80967 6.35249C6.09092 6.20085 6.32084 5.99124 6.49941 5.72364H10.5708C10.7494 5.99124 10.9793 6.20085 11.2606 6.35249C11.5418 6.50413 11.8476 6.57995 12.178 6.57995C12.5083 6.57995 12.8141 6.50413 13.0954 6.35249C13.3766 6.20085 13.6065 5.99124 13.7851 5.72364H14.5351C14.7762 5.72364 14.9793 5.80838 15.1445 5.97786C15.3097 6.14734 15.3923 6.35026 15.3923 6.58664C15.3923 6.82302 15.3074 7.02371 15.1378 7.18873C14.9682 7.35375 14.7673 7.43626 14.5351 7.43626ZM12.4726 5.64336C12.303 5.74148 12.1244 5.76378 11.9369 5.71026C11.7494 5.65674 11.6065 5.54525 11.5083 5.37577L9.48601 1.65619C9.3878 1.48671 9.36325 1.30608 9.41235 1.1143C9.46146 0.922527 9.57084 0.77758 9.74048 0.679461C9.91012 0.581343 10.0887 0.559043 10.2762 0.612562C10.4637 0.666081 10.6065 0.77758 10.7048 0.947057L12.7271 4.66664C12.8253 4.83612 12.8499 5.01674 12.8007 5.20852C12.7516 5.4003 12.6423 5.54525 12.4726 5.64336ZM5.56191 5.37577C5.46369 5.54525 5.32084 5.65674 5.13334 5.71026C4.94584 5.76378 4.76726 5.74148 4.59762 5.64336C4.42798 5.54525 4.3186 5.4003 4.2695 5.20852C4.22039 5.01674 4.24494 4.83612 4.34316 4.66664L6.36548 0.947057C6.46369 0.77758 6.60655 0.666081 6.79405 0.612562C6.98155 0.559043 7.16012 0.581343 7.32976 0.679461C7.49941 0.77758 7.60878 0.922527 7.65789 1.1143C7.707 1.30608 7.68244 1.48671 7.58423 1.65619L5.56191 5.37577ZM13.678 13.4304C13.6065 13.7872 13.4749 14.0191 13.2829 14.1262C13.0909 14.2332 12.7985 14.2867 12.4057 14.2867H4.71816C4.31637 14.2867 4.0128 14.2332 3.80744 14.1262C3.60209 14.0191 3.46369 13.7872 3.39226 13.4304L2.53512 8.29256H14.5351L13.678 13.4304ZM11.5351 10.8615H10.2494V9.57702C10.2494 9.46106 10.207 9.36072 10.1222 9.27598C10.0374 9.19124 9.93691 9.14887 9.82084 9.14887C9.70476 9.14887 9.60432 9.19124 9.5195 9.27598C9.43467 9.36072 9.39226 9.46106 9.39226 9.57702V10.8615H8.10655C7.99048 10.8615 7.89003 10.9039 7.80521 10.9886C7.72039 11.0733 7.67798 11.1737 7.67798 11.2896C7.67798 11.4056 7.72039 11.5059 7.80521 11.5907C7.89003 11.6754 7.99048 11.7178 8.10655 11.7178H9.39226V13.0022C9.39226 13.1182 9.43467 13.2186 9.5195 13.3033C9.60432 13.388 9.70476 13.4304 9.82084 13.4304C9.93691 13.4304 10.0374 13.388 10.1222 13.3033C10.207 13.2186 10.2494 13.1182 10.2494 13.0022V11.7178H11.5351C11.6512 11.7178 11.7516 11.6754 11.8365 11.5907C11.9213 11.5059 11.9637 11.4056 11.9637 11.2896C11.9637 11.1737 11.9213 11.0733 11.8365 10.9886C11.7516 10.9039 11.6512 10.8615 11.5351 10.8615Z" fill="#EB5757"/></svg>
            |Thêm vào giỏ
      