.NxbInfo.my-4
  .container 
    .NxbInfo-wrapper 
      .NxbInfo-card.d-flex.align-items-center
        .NxbInfo-logo
          img(src="./assets/images/logo-university/logo-dai-hoc-ha-noi.png", alt="")
        .NxbInfo-info
          .NxbInfo-title Nhà xuất bản Y học

          .NxbInfo-row-group.d-flex.flex-wrap
            .NxbInfo-row.d-flex.align-items-center
              .NxbInfo-row-icon
                <svg width="15" height="13" viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_8363_136517)"><path d="M14.1094 3.27969L12.5883 0.851562C12.4523 0.633594 12.2109 0.5 11.9531 0.5H2.48437C2.22656 0.5 1.98515 0.633594 1.84921 0.851562L0.328118 3.27969C-0.457038 4.53359 0.239056 6.27734 1.70624 6.47656C1.81171 6.49062 1.91952 6.49766 2.02734 6.49766C2.72109 6.49766 3.33515 6.19297 3.75702 5.72188C4.1789 6.19297 4.79531 6.49766 5.48671 6.49766C6.18046 6.49766 6.79452 6.19297 7.2164 5.72188C7.63827 6.19297 8.25468 6.49766 8.94609 6.49766C9.63984 6.49766 10.2539 6.19297 10.6758 5.72188C11.1 6.19297 11.7141 6.49766 12.4055 6.49766C12.5156 6.49766 12.6211 6.49062 12.7266 6.47656C14.1984 6.27969 14.8969 4.53594 14.1094 3.27969ZM12.4101 7.25C12.1758 7.25 11.9437 7.21484 11.7187 7.16094V9.5H2.71874V7.16094C2.49374 7.2125 2.26171 7.25 2.02734 7.25C1.88671 7.25 1.74374 7.24062 1.60546 7.22187C1.47421 7.20312 1.34531 7.17266 1.22109 7.1375V11.75C1.22109 12.1648 1.55624 12.5 1.97109 12.5H12.4711C12.8859 12.5 13.2211 12.1648 13.2211 11.75V7.1375C13.0945 7.175 12.968 7.20547 12.8367 7.22187C12.6937 7.24062 12.5531 7.25 12.4101 7.25Z" fill="#91909A"/></g><defs><clipPath id="clip0_8363_136517"><rect width="14.4375" height="12" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>

              .NxbInfo-row-label
                |Sản phẩm:
                span 232

            .NxbInfo-row.d-flex.align-items-center
              .NxbInfo-row-icon
                <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_8363_136526)"><path d="M11.9789 9.37812L11.3531 5.62813C11.2922 5.26719 10.9805 5.00234 10.6125 5.00234H4.87499V3.50234H7.12499C7.33124 3.50234 7.49999 3.33359 7.49999 3.12734V0.875C7.49999 0.66875 7.33124 0.5 7.12499 0.5H1.12499C0.918744 0.5 0.749994 0.66875 0.749994 0.875V3.125C0.749994 3.33125 0.918744 3.5 1.12499 3.5H3.37499V5H1.38515C1.01953 5 0.705463 5.26484 0.644525 5.62578L0.0187439 9.37578C0.0046814 9.45781 -0.00234985 9.53984 -0.00234985 9.62188V11.75C-0.00234985 12.1648 0.332806 12.5 0.74765 12.5H11.2477C11.6625 12.5 11.9977 12.1648 11.9977 11.75V9.62422C12 9.54219 11.993 9.46016 11.9789 9.37812ZM6.56249 6.3125C6.56249 6.10625 6.73124 5.9375 6.93749 5.9375H7.31249C7.51874 5.9375 7.68749 6.10625 7.68749 6.3125V6.6875C7.68749 6.89375 7.51874 7.0625 7.31249 7.0625H6.93749C6.73124 7.0625 6.56249 6.89375 6.56249 6.6875V6.3125ZM5.81249 7.8125H6.18749C6.39374 7.8125 6.56249 7.98125 6.56249 8.1875V8.5625C6.56249 8.76875 6.39374 8.9375 6.18749 8.9375H5.81249C5.60624 8.9375 5.43749 8.76875 5.43749 8.5625V8.1875C5.43749 7.98125 5.60624 7.8125 5.81249 7.8125ZM5.06249 5.9375C5.26874 5.9375 5.43749 6.10625 5.43749 6.3125V6.6875C5.43749 6.89375 5.26874 7.0625 5.06249 7.0625H4.68749C4.48124 7.0625 4.31249 6.89375 4.31249 6.6875V6.3125C4.31249 6.10625 4.48124 5.9375 4.68749 5.9375H5.06249ZM1.87499 2.375V1.625H6.37499V2.375H1.87499ZM2.81249 7.0625H2.43749C2.23124 7.0625 2.06249 6.89375 2.06249 6.6875V6.3125C2.06249 6.10625 2.23124 5.9375 2.43749 5.9375H2.81249C3.01874 5.9375 3.18749 6.10625 3.18749 6.3125V6.6875C3.18749 6.89375 3.01874 7.0625 2.81249 7.0625ZM3.18749 8.5625V8.1875C3.18749 7.98125 3.35624 7.8125 3.56249 7.8125H3.93749C4.14374 7.8125 4.31249 7.98125 4.31249 8.1875V8.5625C4.31249 8.76875 4.14374 8.9375 3.93749 8.9375H3.56249C3.35624 8.9375 3.18749 8.76875 3.18749 8.5625ZM8.24999 11.1875C8.24999 11.2906 8.16562 11.375 8.06249 11.375H3.93749C3.83437 11.375 3.74999 11.2906 3.74999 11.1875V10.8125C3.74999 10.7094 3.83437 10.625 3.93749 10.625H8.06249C8.16562 10.625 8.24999 10.7094 8.24999 10.8125V11.1875ZM8.81249 8.5625C8.81249 8.76875 8.64374 8.9375 8.43749 8.9375H8.06249C7.85624 8.9375 7.68749 8.76875 7.68749 8.5625V8.1875C7.68749 7.98125 7.85624 7.8125 8.06249 7.8125H8.43749C8.64374 7.8125 8.81249 7.98125 8.81249 8.1875V8.5625ZM9.93749 6.6875C9.93749 6.89375 9.76874 7.0625 9.56249 7.0625H9.18749C8.98124 7.0625 8.81249 6.89375 8.81249 6.6875V6.3125C8.81249 6.10625 8.98124 5.9375 9.18749 5.9375H9.56249C9.76874 5.9375 9.93749 6.10625 9.93749 6.3125V6.6875Z" fill="#91909A"/></g><defs><clipPath id="clip0_8363_136526"><rect width="12" height="12" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>

              .NxbInfo-row-label
                |Đã bán:
                span 4321

            .NxbInfo-row.d-flex.align-items-center
              .NxbInfo-row-icon
                <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_8363_136521)"><path d="M10.8352 1.96723C9.55079 0.872702 7.64064 1.06958 6.46173 2.28598L6.00001 2.76176L5.53829 2.28598C4.36173 1.06958 2.44923 0.872702 1.16486 1.96723C-0.307018 3.22348 -0.384362 5.47817 0.932825 6.83989L5.46798 11.5227C5.76095 11.825 6.23673 11.825 6.5297 11.5227L11.0649 6.83989C12.3844 5.47817 12.307 3.22348 10.8352 1.96723Z" fill="#91909A"/></g><defs><clipPath id="clip0_8363_136521"><rect width="12" height="12" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>

              .NxbInfo-row-label
                |Người Theo Dõi:
                span 532

            .NxbInfo-row.d-flex.align-items-center
              .NxbInfo-row-icon
                <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_8363_136530)"><path d="M6.07734 0.917241L4.54687 4.02037L1.12265 4.51958C0.50859 4.60865 0.262496 5.36568 0.707808 5.79927L3.18515 8.21333L2.59921 11.6235C2.49375 12.2399 3.14296 12.7016 3.68671 12.4133L6.75 10.8032L9.81328 12.4133C10.357 12.6993 11.0062 12.2399 10.9008 11.6235L10.3148 8.21333L12.7922 5.79927C13.2375 5.36568 12.9914 4.60865 12.3773 4.51958L8.95312 4.02037L7.42265 0.917241C7.14843 0.364115 6.3539 0.357084 6.07734 0.917241Z" fill="#91909A"/></g><defs><clipPath id="clip0_8363_136530"><rect width="13.5" height="12" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>

              .NxbInfo-row-label
                |Đánh giá:
                span 0 đánh giá

        .NxbInfo-action
          .NxbInfo-row.d-flex.align-items-center
            .NxbInfo-row-icon
              <svg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_8363_136536)"><path d="M2.66132 13.8625C-0.889926 10.3112 -0.884649 4.5587 2.66132 1.01274C2.81712 0.856936 3.05854 0.831396 3.24273 0.946514L5.01507 2.05429C5.10852 2.1127 5.17848 2.20209 5.21271 2.30684C5.24694 2.41159 5.24327 2.52504 5.20234 2.62736L4.31619 4.84278C4.27833 4.93742 4.21073 5.01718 4.12359 5.07005C4.03644 5.12292 3.93447 5.14602 3.83305 5.13588L2.307 4.9833C1.73138 6.57637 1.74339 8.33211 2.307 9.89191L3.83308 9.73931C3.9345 9.72916 4.03647 9.75227 4.12362 9.80513C4.21076 9.858 4.27836 9.93777 4.31621 10.0324L5.20237 12.2478C5.24329 12.3502 5.24696 12.4636 5.21273 12.5684C5.1785 12.6731 5.10854 12.7625 5.01509 12.8209L3.24275 13.9287C3.15262 13.985 3.04607 14.0091 2.94047 13.9971C2.83487 13.9851 2.73647 13.9376 2.66132 13.8625ZM6.75722 2.61071C7.08075 3.15887 7.08075 3.8414 6.75722 4.38956C6.64921 4.57257 6.3988 4.60719 6.2454 4.46013L6.08202 4.30356C5.97508 4.20108 5.95096 4.04046 6.0202 3.90954C6.08683 3.78336 6.12166 3.64282 6.12166 3.50013C6.12166 3.35744 6.08683 3.21691 6.0202 3.09073C5.95093 2.95981 5.97508 2.79919 6.08202 2.6967L6.2454 2.54013C6.3988 2.39308 6.64921 2.4277 6.75722 2.61071ZM9.26702 0.117314C10.9115 2.07524 10.9102 4.92659 9.26702 6.88292C9.14468 7.02858 8.9244 7.04004 8.78708 6.90844L8.62854 6.75649C8.50385 6.63697 8.49245 6.44124 8.60311 6.30862C9.96174 4.68063 9.96062 2.31827 8.60311 0.691615C8.49245 0.558998 8.50383 0.363271 8.62854 0.243752L8.78708 0.0918026C8.9244 -0.0398029 9.14468 -0.0283458 9.26702 0.117314ZM8.00997 1.34617C8.99571 2.61279 8.9973 4.3854 8.00997 5.65407C7.88993 5.80831 7.66279 5.82499 7.52172 5.68972L7.36264 5.53717C7.24232 5.42181 7.22597 5.2338 7.3275 5.10156C8.05309 4.15645 8.05304 2.84373 7.3275 1.89868C7.22597 1.76644 7.24232 1.57845 7.36264 1.46306L7.52172 1.31051C7.66279 1.17524 7.88993 1.19192 8.00997 1.34617Z" fill="#828282"/></g><defs><clipPath id="clip0_8363_136536"><rect width="10.5" height="14" fill="white"/></clipPath></defs></svg>

            a(href="tel: 0982349238").NxbInfo-row-label Hotline: 0982349238

          .NxbInfo-row.d-flex.align-items-center
            .NxbInfo-row-icon
              <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.7727 4.47188C11.8641 4.39922 12 4.46719 12 4.58203V9.375C12 9.99609 11.4961 10.5 10.875 10.5H1.125C0.503906 10.5 0 9.99609 0 9.375V4.58438C0 4.46719 0.133594 4.40156 0.227344 4.47422C0.752344 4.88203 1.44844 5.4 3.83906 7.13672C4.33359 7.49766 5.16797 8.25703 6 8.25234C6.83672 8.25938 7.6875 7.48359 8.16328 7.13672C10.5539 5.4 11.2477 4.87969 11.7727 4.47188ZM6 7.5C6.54375 7.50938 7.32656 6.81563 7.72031 6.52969C10.8305 4.27266 11.0672 4.07578 11.7844 3.51328C11.9203 3.40781 12 3.24375 12 3.07031V2.625C12 2.00391 11.4961 1.5 10.875 1.5H1.125C0.503906 1.5 0 2.00391 0 2.625V3.07031C0 3.24375 0.0796875 3.40547 0.215625 3.51328C0.932813 4.07344 1.16953 4.27266 4.27969 6.52969C4.67344 6.81563 5.45625 7.50938 6 7.5Z" fill="#828282"/></svg>

            a(href="mailto: webmaster@hanu.edu.vn").NxbInfo-row-label webmaster@hanu.edu.vn

          
          .NxbInfo-action-btn.d-flex 
            button.btn.btn-outline-secondary.btn-sm
              <svg class="mr-2" width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_8441_7720)"><path d="M10.8352 1.96723C9.55078 0.872702 7.64062 1.06958 6.46172 2.28598L6 2.76176L5.53828 2.28598C4.36172 1.06958 2.44922 0.872702 1.16484 1.96723C-0.307034 3.22348 -0.384377 5.47817 0.93281 6.83989L5.46797 11.5227C5.76094 11.825 6.23672 11.825 6.52969 11.5227L11.0648 6.83989C12.3844 5.47817 12.307 3.22348 10.8352 1.96723Z" fill="#91909A"/></g><defs><clipPath id="clip0_8441_7720"><rect width="12" height="12" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>
              |Theo dõi

            button.btn.btn-outline-secondary.btn-sm
              <svg class="mr-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 6.32C0.5 2.97584 3.12002 0.5 6.5 0.5C9.87998 0.5 12.5 2.97584 12.5 6.32C12.5 9.66416 9.87998 12.14 6.5 12.14C5.8929 12.14 5.31044 12.0598 4.76318 11.9094C4.6568 11.8801 4.54368 11.8884 4.44272 11.9329L3.2518 12.4586C2.94028 12.5961 2.58864 12.3746 2.5782 12.0342L2.54552 10.9669C2.5415 10.8354 2.48234 10.7125 2.38434 10.6248C1.21688 9.58074 0.5 8.06922 0.5 6.32ZM4.65953 5.22583L2.89703 8.02207C2.72789 8.29041 3.05774 8.59281 3.31043 8.40106L5.20364 6.96424C5.33171 6.86704 5.50868 6.86653 5.63729 6.96298L7.03913 8.01436C7.45976 8.32987 8.06012 8.21908 8.3405 7.77427L10.103 4.978C10.2721 4.70965 9.94226 4.40725 9.68957 4.59901L7.79636 6.03583C7.66829 6.13303 7.49132 6.13354 7.36271 6.03706L5.9609 4.98571C5.54024 4.67023 4.93988 4.78099 4.65953 5.22583Z" fill="#91909A"/></svg>
              |Chat

            button.btn.btn-brand.btn-sm.js-open-nxb-info-modal
              <svg class="mr-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 0.5C3.18652 0.5 0.5 3.18749 0.5 6.5C0.5 9.81444 3.18652 12.5 6.5 12.5C9.81348 12.5 12.5 9.81444 12.5 6.5C12.5 3.18749 9.81348 0.5 6.5 0.5ZM6.5 3.16129C7.06119 3.16129 7.51613 3.61623 7.51613 4.17742C7.51613 4.73861 7.06119 5.19355 6.5 5.19355C5.93881 5.19355 5.48387 4.73861 5.48387 4.17742C5.48387 3.61623 5.93881 3.16129 6.5 3.16129ZM7.85484 9.30645C7.85484 9.46678 7.72485 9.59677 7.56452 9.59677H5.43548C5.27515 9.59677 5.14516 9.46678 5.14516 9.30645V8.72581C5.14516 8.56548 5.27515 8.43548 5.43548 8.43548H5.72581V6.8871H5.43548C5.27515 6.8871 5.14516 6.7571 5.14516 6.59677V6.01613C5.14516 5.8558 5.27515 5.72581 5.43548 5.72581H6.98387C7.1442 5.72581 7.27419 5.8558 7.27419 6.01613V8.43548H7.56452C7.72485 8.43548 7.85484 8.56548 7.85484 8.72581V9.30645Z" fill="white"/></svg>
              |Giới thiệu