.alert-confirm {
    width: 445px;
    background: $white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 32px rgba(136, 152, 170, 0.15);
    border-radius: 10px;
    text-align: center;
    padding: 28px;
    opacity: 0;
    visibility: hidden;
    &__label {
        font-family: $font-inter;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        margin: 14px 0;
        color: $grey-color;
    }
    &__text {
        font-family: $font-inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        margin-bottom: 31px;
        color: $grey-medium;
    }
    &__btn {
        a {
            display: inline-block;
            padding: 12px 17px;
            font-family: $font-inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            color: $white;
            border-radius: 5px;
            text-decoration: none;
            &:last-child {
                margin-left: 18px;
            }
        }
        &-white {
            padding: 12px 32px !important;
            background-color: $white;
            color: $grey-color !important;
        }
        &-blue {
            background-color: $blue-secondary;
        }
    }
}
