section.footer 
    .container 
        .row 
            div(class ="col-12 col-lg-4 col-md-12")
                div(class=" footer__content footer__info") 
                    a(href="/" class="footer__logo")
                        img(src="./assets/images/logo.svg", alt="")
                        span(class="footer__logo-text")
                            span Nhà Xuất Bản
                            span Xây dựng
                    ul(class="footer__content-list") 
                        li.content-list__item 
                            i(class="fas fa-map-marker-alt")  
                            span.item-text  37 Lê Đại Hành, Hai Bà Trưng, Tp. Hà Nội
                        li.content-list__item 
                            i(class="fas fa-phone-volume")  
                            span.item-text  0243 7265 180 
                        li.content-list__item 
                            i(class="fas fa-globe-asia") 
                            span.item-text  088 8080290
                        li.content-list__item 
                            i(class="fas fa-envelope") 
                            span.item-text  banhang@nxbxaydung.com.vn                      
                    .footer__tablet 
                        .tablet-follow 
                            p Theo dõi chúng tôi trên:
                            ul
                                li 
                                    a(href="#")
                                        i(class="fab fa-facebook-f")
                                li 
                                    a(href="#")
                                        i(class="fab fa-instagram")
                                li 
                                    a(href="#")
                                        i(class="fab fa-youtube")
                                li 
                                    a(href="#")
                                        i(class="fab fa-twitter")  
                        a(href="#" class="footer-bct")
                            img(class="lazy" data-src="./assets/images/footer_bct.png" src="./assets/images/footer_bct.png", alt="")
            div(class ="col-12 col-lg-8 col-md-12")
                .row
                    div(class ="col-12 col-lg-4 col-md-4")
                        .footer__content    
                            a(href="#" class="content-title") Chúng tôi phục vụ
                            ul(class="footer__content-list list-sty")
                                li.content-list__item 
                                    a(href="#")  Chính Phủ
                                li.content-list__item 
                                    a(href="#")  Nhà sách
                                li.content-list__item 
                                    a(href="#")  Trường đại học 
                                li.content-list__item 
                                    a(href="#")  Doanh nghiệp/Tổ chức 
                                li.content-list__item 
                                    a(href="#")  Quản lí thư viện 
                                li.content-list__item 
                                    a(href="#")  Sinh viên 
                                li.content-list__item 
                                    a(href="#")  Viện nghiên cứu 
                                li.content-list__item 
                                    a(href="#")  Tác giả                       
                    div(class ="col-12 col-lg-4 col-md-4")
                        .footer__content    
                            a(href="#" class="content-title") Tin Tức
                            ul(class="footer__content-list list-sty")
                                li.content-list__item 
                                    a(href="#")  Tin xây dựng   
                                li.content-list__item 
                                    a(href="#")  Thông tin xuất bản 
                                li.content-list__item 
                                    a(href="#")  Công nghệ mới 
                    div(class ="col-12 col-lg-4 col-md-4")
                        .footer__content    
                            a(href="#" class="content-title") Về Chúng Tôi
                            ul(class="footer__content-list list-sty")
                                li.content-list__item 
                                    a(href="#")  Giới thiệu 
                                li.content-list__item 
                                    a(href="#")  Liên hệ 
                                li.content-list__item 
                                    a(href="#")  Tin tức 
                                li.content-list__item 
                                    a(href="#")  Chính sách và điều khoản 
        .footer__tablet 
            .tablet-follow 
                p Theo dõi chúng tôi trên:
                ul
                    li 
                        a(href="#")
                            i(class="fab fa-facebook-f")
                    li 
                        a(href="#")
                            i(class="fab fa-instagram")
                    li 
                        a(href="#")
                            i(class="fab fa-youtube")
                    li 
                        a(href="#")
                            i(class="fab fa-twitter")                        
            a(href="#" class="footer-bct")
                img(class="lazy" data-src="./assets/images/footer_bct.png" src="./assets/images/footer_bct.png", alt="")
section.footer-copyright
    span Copyright © 2019 
    span NHÀ XUẤT BẢN XÂY DỰNG 
    span BỘ XÂY DỰNG. All rights reserved.