.form__title-forget{
    padding: 0px 25px;
    h4{
        font-size: 18px;
        font-weight: 400;
        color: $black;
        line-height: 21px;
    }
    span{
        color: $blue2
    }
}
.form__forget{
    .input__forget{
        margin-bottom: 24px !important;
    }
}