.home__page {
    .banner__section {
        padding: 1px 0;
        background: $brown-light;
    }
    .book-box__section {
        margin-top: 10px;
    }
    .new-box__section {
        margin-top: 5px;
    }
    .partner-box__section {
        background: $grey-7;
    }
    .author-box__section {
        background: $white;
    }
    .topic-box__section {
        margin-top: 15px;
    }
}
