.box__bookvideo{
    border-radius: 5px;
    background-color: $white;
    padding-bottom: 12px;
    overflow: hidden;
    .box__video{
        .plyr__video-wrapper{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .plyr__control--overlaid{
            padding: 9px;
        }
    }
    &-infor{
        @include max-breakpoint(426){
            padding-top: 17px;
        }
        padding-top: 12px;
        .infor__item{
            align-items: center;
            padding: 0 0 0px 24px;
            @include max-breakpoint(426){
                padding: 0 0 0px 24px;
            }
            img{
                width: 14px;
                height: 14px;
                margin-right: 5px;
            }
            h6{
                color: $grey-medium;
                font-size: 13px;
                font-weight: 700;
                color: $headding-color;
                margin-top: 10px;
            }
            span{
                color: $grey-medium;
                font-size: 13px;
                font-weight: 400;
                color: $headding-color;
            }
        }
    }
}
