.book__content-mb {
    border-radius: 0;
    .book_item {
        border-top: 1px solid $gray-F2F2F2;
        &:nth-child(-n + 2) {
            border-top:none;
        }
    }
    .book__content-content {
        .content__item {
            margin: 0;
            width: 100%;
            .content__item-img {
                width: 127px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}