.filter__partner {
    &-box {
        margin-bottom: 20px;
        border-radius: 5px;
        background: $white;
        padding: 20px;
        border: 1px solid $white;
        .box-title {
            font-size: 20px;
            font-weight: 700;
            line-height: 23px;
            color: $grey-medium;
            margin-bottom: 27px;
        }
        .box-classify {
            &__title {
                font-size: 18px;
                font-weight: 500;
                color: $grey-medium;
            }
            &__list {
                position: relative;
                .list-item {
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid $grey-2;
                    .icon-mg {
                        margin-right: 5px;
                    }
                    &__link {
                        padding: 15px 0;
                        font-size: 12px;
                        color: $grey-medium;
                        font-weight: 600;
                        align-items: center;
                        display: inline-block;
                        line-height: 14.06px;
                        margin-left: 10px;
                    }
                }
            }
        }
        .box-select {
            margin-top: 30px;
            label {
                font-size: 18px;
                font-weight: 500;
                color: $grey-medium;
            }
            .select2-container--open .select2-selection {
            }
            .select2.select2-container,
            .select2.select2-container--open {
                width: 100% !important;
                .select2-selection {
                    border: 1px solid $grey-light;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    outline: none;
                    transition: all 0.15s ease-in-out;
                    background: $grey-3;
                    display: flex;
                    align-items: center;
                    height: 40px;
                    padding: 0 10px;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "\f002";
                        top: 50%;
                        right: 10px;
                        transform: translateY(-43%);
                        z-index: 100;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 800;
                        color: $grey-1;
                        cursor: pointer;
                        z-index: 100;
                    }
                    &__rendered {
                        color: $blue;
                        font-size: 14px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        text-transform: uppercase;
                        line-height: 25px;
                        margin-top: -3px;
                        padding: 0;
                    }
                    .select2-search__field {
                        padding-right: 30px;
                    }
                }
            }
        }
        .box-languages {
            margin-top: 25px;
            &__title {
                font-size: 18px;
                font-weight: 500;
                color: $grey-medium;
            }
            &__item {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 20px;
                .item-link {
                    display: inline-block;
                    border-radius: 5px;
                    background: $nav-color;
                    margin-right: 10px;
                    width: calc(50% - 10px);
                    padding: 8px 12px;
                    color: $nav-black;
                    font-size: 13px;
                    font-weight: 400;
                    transition: all 0.25s ease 0s;
                    &.active,
                    &:hover {
                        background: $primary-color;
                        color: $white;
                    }
                }
            }
        }
        .box-price {
            padding: 17px 13px;
            background: $primary-color;
            border-radius: 5px;
            margin-bottom: 15px;
            &__title {
                font-size: 14px;
                font-weight: 500;
                color: $white;
                margin-bottom: 15px;
                text-transform: uppercase;
            }
            &__form {
                width: 100%;
                .form-item {
                    margin-bottom: 10px;
                    input {
                        outline: none;
                        border: none;
                    }
                    .input-control {
                        width: 100%;
                        background: $nav-color;
                        border-radius: 5px;
                        color: $grey-1;
                        font-size: 14px;
                        font-weight: 400;
                        padding: 12px 15px;
                        &.diff {
                            padding: 12px 25px;
                        }
                    }
                }
            }
        }
    }
}

.select2-dropdown {
    border: 1px solid $grey-light;
    border-radius: 5px !important;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    margin-top: 1px;
    .select2-search {
        background: $grey-3;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        &__field {
            border: none !important;
            outline: none;
            background: $grey-3;
            color: $grey-1;
            font-size: 14px;
            position: relative;
            display: block;
        }
    }
    .select2-results {
        display: block;
        &__options {
            border-radius: 5px;
            overflow: hidden;
        }
        &__option {
            padding: 6px;
            user-select: none;
            -webkit-user-select: none;
            transition: all 0.3s;
            position: relative;
        }
    }
}
