.last-view {
    padding: 25px;
    background: $white;
    border-radius: 5px;
    & .plyr{
        max-height: 450px;
    }
    & h3{
        margin-bottom: 30px;
    }
    &__info{
        padding-top: 16px;
        & h5{
            margin-bottom: 4px;
        }
        & p{
            font-size: 13px;
            line-height: 21px;
            color: $grey-1;
            margin-bottom: 5px;
            &:last-child{
                margin-bottom: 0;
            }
            & .time{
                margin-left: 20px;
                display: inline-block;
            }
        }
    }
    & .bookvideo .plyr__control.plyr__control--overlaid{
        background:transparent;
        & svg{
            width: 40px;
            height: 40px;
        }
    }

}
.last-view {
    .bookvideo{
        @include breakpoint(425) {
            margin-right: -25px;
            margin-left: -25px;
            width: calc(100% + 50px);
        }
    }
}