.partner-card{
    .partner-card-img{
        padding: 38px 0;
    }
    .card-content-title{
        font-size: 15px;
        font-weight: 500;
        color: $brown-medium;
    }
    .bottom-book-amount{
        color: $headding-color;
        font-size: 14px;
        font-weight: 400;
    }
}