// global variable css
$white: #fff;
$bd-black: #767676;
$bd-b: #d8d8d8;
$nav-color: #f5f6fa;
$nav-black: #100e0c;
$headding-color: #4f4f4f;
$text-color: #687188;
$blue: #2c9cdb;
$blue2: #4953ed;
$blue-light: #2ea4e6;
$black: #02010e;
$primary-color: #d4b26b;
$green: #28a745;
$border-color: #d1d1d1;
$icon-bround: #444444;
$white-light: #e5e5e5;
$yellow: #e6c069;
$white-light: #e5e5e5;
$bg-footer: #2c2c2c;
$color-hover-yellow: rgb(238, 217, 34);
$border-color: #d1d1d1;
$border-color2: #e1d6bf;
$border-color3: #bdbdbd;
$border-color-grey: rgba(209, 209, 209, 0.5);
$border-color-1: #e2ebee;
$red: #ff324d;
$line-color: #cfe1e9;
// Fonts
$font-roboto: "Roboto";
$font-inter: 'Inter', sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-opensans: "Open Sans", sans-serif;
// Sheet Colors
$black: #02010e;
$white: #ffffff;
$blue: #2f80ed;
$green: #27ae34;
$green-hover: #10801b;
$blue-70:#72aaf3;
$blue-medium: #3c5a99;
$blue-secondary: #445FF5;
$blue-light: #e9f0fd;
$yellow: #f2c94c;
$yellow-medium: #ffce47;
$yellow-bold: #ffc107;
$red: #eb5757;
$red-secondary: #e0e0e0;
$red-deep: #b92626;
$red-dark: #be2623;
$red-dark2: #c45353;
$black: #02010e;
$white: #ffffff;
$blue: #2f80ed;
$green: #27ae34;
$green-alert: #0db14b;
$blue-medium: #3c5a99;
$blue-secondary: #445ff5;
$blue-light: #e9f0fd;
$yellow: #f2c94c;
$yellow-medium: #ffce47;
$red: #eb5757;
$red-secondary: #e0e0e0;
$red-deep: #b92626;
$red-dark: #be2623;
$grey-dark: #333333;
$grey-medium: #4f4f4f;
$grey-light: #e0e0e0;
$grey-1: #828282;
$grey-2: #d1d1d1;
$grey-3: #f2f2f2;
$grey-8: #999999;
$grey-7: #f8f8f8;
$grey-star: #c1c0c8;
$brown-dark: #be9c58;
$brown-1: #e1d6bf;
$brown-2: #f3dfb6;
$brown-3: #d1d1d1;
$brown-medium: #d4b26b;
$grey-9: #444444;
$grey-4: #91909a;
$grey-11: #757575;
$grey-10: #c1c1c1;
$grey-11: #525f7f;
$brown-medium: #d4b26b;
$brown-opacity: #d4b26b61;
$brown-light: #d4b880;
$brown-price: #aa8b47;
$footer-bg: #2c2c2c;
$text-color: #555555;
$background: #e5e5e5;
$blue-dark: #2d9cdb;
$orange: #f2994a;
$background: #e5e5e5;
$blue-dark: #2d9cdb;
$btn-red: #e02020;
$brown-4: #f0eadf;
$grey-color: #333333;
$dark-border: #000000;
$bg-cancle: #292929;
$grey-10:#848484;
$brown-3:#D1D1D1;
$light-gray: #f1f1f1;
$overlay: rgba(0,0,0,0.2);
$brown-medium-opacity: rgba(212, 178, 107, 0.7);
$bg-table:#F8FAFF;
$blue3: #6DA6F2;
$grey-10: #848484;
$brown-3: #d1d1d1;
$overlay: rgba(0, 0, 0, 0.2);
$brown-medium-opacity: rgba(212, 178, 107, 0.7);
$black-iframe: #333639;
$blue-color-cpl:#377DFF;
$more-book-result: rgba(51, 51, 51, 0.8);
$bg-table2:#F9FAFC;
$table-product-w :171px;
$table-stt-w :44px;
$table-amount-w:60px;
$table-status-w:70px;
$table-mainwallet-w: 120px;
$alert-rgba-green: rgba(39, 174, 52, 0.6);
$alert-rgba-pink: rgba(235, 87, 87, 0.8);
$alert-rgba-warning: rgba(248, 199, 53, 0.8);
$alert-rgba-primary: rgba(82, 151, 243, 0.8);
$orange_dark: #f2994a;
$red-price: #CD0000;
$border-radius: 5px;
$border-bottom : #c4c4c4;
$green-color : #22A45D;
$footer: #fcfcfc;

//nxb-ver3
//border
$nxb-border : 5px;
$nxb-border-30: 30px;
//color
$black-3F3B3B : #3F3B3B;
$gray-333333: #333333;
$gray-4F4F4F: #4F4F4F;
$gray-828282: #828282;
$gray-BDBDBD: #BDBDBD;
$gray-E0E0E0: #E0E0E0;
$gray-F2F2F2: #F2F2F2;
$gray-F8F8F8: #F8F8F8;
$gray-D1D1D1: #D1D1D1;
$gray-828282: #828282;
$gray-8C8C8C: #8C8C8C;
$brand-AA8B47: #AA8B47;
$brand-D4B26B: #D4B26B;
$brand-D4B880: #D4B880;
$brand-E1D6BF: #E1D6BF;
$brand-B92626: #B92626;
$brand-EB5757: #EB5757;
$brand-FBF6EB: #FBF6EB;
$red-B70808: #B70808;
$red-EB5757: #EB5757;
$red-FFF7F7: #FFF7F7;
$blue-377DFF: #377DFF;
$blue-007BFF: #007BFF;
$blue-F4F9FF: #F4F9FF;
$yellow-F9F6EF: #F9F6EF;