.alert-modal-content
    .alert-modal.alert-confirm
        .alert-modal__img
            img(src="./assets/images/alert/alert-3.svg" alt="")
        .alert-confirm__label Xác nhận thanh toán
        .alert-confirm__text Bạn có chắc chắn muốn thanh toán qua ví
        .alert-confirm__btn
            a(href="" class="alert-confirm__btn-white close-modal") Huỷ
            a(href="" class="alert-confirm__btn-blue close-modal") Xác nhận