.alert-modal-content
    .alert-modal.alert-info
        .alert-modal__img
            img(src="./assets/images/alert/alert-4.svg" alt="")
        .alert-info__label Thông tin
        .alert-info__text Thông tin info
        .alert-info__btn
            a(href="" class="alert-info__btn-blue close-modal") Ok