.alert-modal-content  
    .alert-modal.alert-delete
        .alert-modal__img
            img(src="./assets/images/alert/alert-1.svg" alt="")
        .alert-delete__label Xoá sản phẩm đã chọn
        .alert-delete__text Xóa sản phẩm
        .alert-delete__btn
            a(href="" class="alert-delete__btn-white close-modal") Huỷ
            a(href="" class="alert-delete__btn-yellow close-modal") Xoá