.alert-modal-content
    .alert-modal.alert-successful
        .alert-modal__img
            img(src="./assets/images/alert/alert-2.svg" alt="")
        .alert-successful__label Đặt mua sách thành công!
        .alert-successful__text Cám ơn bạn đã đặt hàng
        .alert-successful__btn
            a(href="" class="alert-successful__btn-green close-modal") Ok