.alert-modal-content
    .alert-modal.alert-noti
        .alert-noti__label Tiêu đề thông báo
        .alert-noti__text Nội dung thông báo nhập ở đâyNội dung thông báo nhập ở đâyNội dung thông báo nhập ở đâyNội dung thông báo nhập ở đây
        .alert-noti__btn
            a(href="" class="alert-noti__btn-blue close-modal") Ok