.alert-modal-content
    .alert-modal.alert-expired
        .alert-modal__img
            img(src="./assets/images/alert/alert-1.svg" alt="")
        .alert-expired__label Hết đọc thử
        .alert-expired__text Bạn có mua sách hoặc thuê sách để tiếp tục đọc
        .alert-expired__btn
            a(href="" class="alert-expired__btn-brown") Thuê sách
            a(href="" class="alert-expired__btn-blue ") Mua sách