extend includes/layout/layout.pug
block pages
    include includes/components/breadcrumb.pug
    div
        +brcrumb('Đổi mật khẩu')
    include includes/pages/change-password.pug
    include includes/components/partner.pug