extend includes/layout/layout.pug
include includes/components/breadcrumb.pug
block pages
  +brcrumb('Lấy lại mật khẩu')
  .password__reset__page
    .container
      .password__reset__page__wrap
        h3.title Lấy lại mật khẩu

        form(action="#" method="method")
          p Điền #[span số điện thoại hoặc email đã đăng ký] để lấy lại mật khẩu
          input(type="text" placeholder="Địa chỉ email hoặc số điện thoại")
          button(type="submit") Lấy lại mật khẩu

      .password__notification.d-flex.flex-column.justify-content-center.align-items-center
        .notify__success.notify__item.d-flex.align-items-center
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M16 30C19.713 30 23.274 28.525 25.8995 25.8995C28.525 23.274 30 19.713 30 16C30 12.287 28.525 8.72601 25.8995 6.1005C23.274 3.475 19.713 2 16 2C12.287 2 8.72601 3.475 6.1005 6.1005C3.475 8.72601 2 12.287 2 16C2 19.713 3.475 23.274 6.1005 25.8995C8.72601 28.525 12.287 30 16 30ZM16 32C20.2435 32 24.3131 30.3143 27.3137 27.3137C30.3143 24.3131 32 20.2435 32 16C32 11.7565 30.3143 7.68687 27.3137 4.68629C24.3131 1.68571 20.2435 0 16 0C11.7565 0 7.68687 1.68571 4.68629 4.68629C1.68571 7.68687 0 11.7565 0 16C0 20.2435 1.68571 24.3131 4.68629 27.3137C7.68687 30.3143 11.7565 32 16 32Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M21.9393 9.94007C22.2192 9.66262 22.5971 9.50646 22.9912 9.50538C23.3853 9.50429 23.764 9.65835 24.0454 9.93426C24.3269 10.2102 24.4884 10.5858 24.4951 10.9798C24.5018 11.3739 24.3532 11.7547 24.0813 12.0401L16.0973 22.0201C15.9601 22.1679 15.7945 22.2865 15.6104 22.3688C15.4263 22.4511 15.2275 22.4955 15.0258 22.4992C14.8242 22.503 14.6239 22.466 14.4369 22.3905C14.2498 22.3151 14.0799 22.2027 13.9373 22.0601L8.64734 16.7681C8.49997 16.6307 8.38176 16.4651 8.29978 16.2811C8.21779 16.0972 8.17371 15.8985 8.17016 15.6971C8.1666 15.4957 8.20365 15.2957 8.27909 15.1089C8.35454 14.9221 8.46682 14.7524 8.60926 14.61C8.7517 14.4676 8.92137 14.3553 9.10814 14.2798C9.29492 14.2044 9.49498 14.1673 9.69638 14.1709C9.89779 14.1744 10.0964 14.2185 10.2804 14.3005C10.4644 14.3825 10.63 14.5007 10.7673 14.6481L14.9553 18.8341L21.9013 9.98407C21.9137 9.96858 21.9271 9.95388 21.9413 9.94007H21.9393Z" fill="white"/></svg>
          |Thành công, bạn hãy kiểm tra email và nhấn xác nhận nhé
        .notify__error.notify__item.d-flex.align-items-center
          <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M27.7925 4.74192C21.5705 -1.47808 11.4385 -1.48008 5.21653 4.74192C-1.00547 10.9659 -1.00347 21.0959 5.21653 27.3199C11.4385 33.5399 21.5685 33.5419 27.7925 27.3199C34.0165 21.0939 34.0145 10.9659 27.7925 4.74192ZM7.67453 24.8619C2.79653 19.9859 2.79253 12.0559 7.66053 7.18792C12.5285 2.31792 20.4585 2.32392 25.3365 7.19992C30.2125 12.0759 30.2145 20.0079 25.3485 24.8759C20.4765 29.7439 12.5485 29.7379 7.67453 24.8619Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M20.827 22.126C20.5417 22.1348 20.264 22.0339 20.051 21.844L16.517 18.314L13.127 21.704C12.891 21.9029 12.5894 22.0069 12.281 21.996C12.0547 21.9932 11.8312 21.9448 11.624 21.8538C11.4168 21.7627 11.2301 21.6308 11.075 21.466C10.633 21.026 10.535 20.59 10.533 20.306C10.5166 20.0127 10.6173 19.725 10.813 19.506L14.261 16.056L10.901 12.7C10.597 12.394 10.343 11.446 11.141 10.65C11.591 10.2 12.033 10.106 12.327 10.106C12.693 10.106 12.967 10.25 13.101 10.388L16.517 13.8L19.909 10.408C20.1457 10.2089 20.4479 10.1049 20.757 10.116C20.9838 10.1185 21.2078 10.1669 21.4154 10.2583C21.623 10.3498 21.81 10.4823 21.965 10.648C22.721 11.406 22.569 12.268 22.227 12.608L18.775 16.06L22.249 19.532C22.383 19.668 22.541 19.972 22.541 20.38C22.5389 20.6061 22.4908 20.8294 22.3997 21.0364C22.3086 21.2434 22.1763 21.4297 22.011 21.584C21.561 22.032 21.121 22.126 20.827 22.126Z" fill="white"/></svg>
          |Lạ ghê, không có tài khoản nào email như bạn nhập. Bạn thử lại nhé!

          
