extend includes/layout/layout.pug
block pages
    main.main__checkout
        section.checkout-complete
            .container
                .row.d-flex.justify-content-center
                    .col-md-7
                        include includes/pages/checkout-complete-desktop.pug