extend includes/layout/layout.pug
block pages
    section.services-contact 
        include includes/components/breadcrumb.pug
        +brcrumb('Báo giá sách sỉ')

        include includes/components/account-sidebar-mb.pug
        +slide__bar-mb(" Báo giá sách sỉ", true)

        .container 
            .services-contact-wrapper.d-flex.justify-content-between.flex-wrap
                .services-contact-item 
                    form(action="#")
                        h5.services-contact-title Thông tin cần báo giá

                        .form-groups.d-flex.flex-wrap
                            .form-group.full
                                label(for='') Chọn theo chuyên mục
                                .input-group
                                    .form-icon
                                        img(src="./assets/images/contact-info/icon-angle-down-gray.svg", alt="")
                                    input.form-control.hover-input(type='text' placeholder='Chọn chuyên mục' aria-label='Chọn theo chuyên mục' )

                            .form-group.full
                                label(for='') Chọn theo tên sách
                                .input-group
                                    .form-icon
                                        img(src="./assets/images/contact-info/icon-search-gray.svg", alt="")
                                    input.form-control.hover-input(type='text' placeholder='Chọn theo tên sách' aria-label='Chọn theo tên sách' )

                            .form-group.full
                                table.table-group
                                    thead 
                                        tr 
                                            td #
                                            td Sản phẩm
                                            td Số lượng
                                            td Hành động 
                                    tbody 
                                        tr 
                                            td 1
                                            td Hệ thống giao thông thông minh trong các đô thị thông minh
                                            td 
                                                .num-block.skin-1
                                                    .num-in
                                                        span.minus
                                                        input.in-num(type='number' value='1' )
                                                        span.plus
                                            td
                                                .table-actions.d-flex.justify-content-center 
                                                    .table-action-item 
                                                        img(src="./assets/images/contact-info/icon-trash-red.svg", alt="")
                                        
                                        tr 
                                            td 2
                                            td Hệ thống giao thông thông minh trong các đô thị thông minh
                                            td 
                                                .num-block.skin-1
                                                    .num-in
                                                        span.minus
                                                        input.in-num(type='number' value='1' )
                                                        span.plus
                                            td
                                                .table-actions.d-flex.justify-content-center 
                                                    .table-action-item 
                                                        img(src="./assets/images/contact-info/icon-trash-red.svg", alt="")

                                        tr 
                                            td 3
                                            td Hệ thống giao thông thông minh trong các đô thị thông minh
                                            td 
                                                .num-block.skin-1
                                                    .num-in
                                                        span.minus
                                                        input.in-num(type='number' value='1' )
                                                        span.plus
                                            td
                                                .table-actions.d-flex.justify-content-center 
                                                    .table-action-item 
                                                        img(src="./assets/images/contact-info/icon-trash-red.svg", alt="")



                            .form-group.full
                                label(for='') Đơn vị / cá nhân đặt hàng
                                .input-group
                                    .form-icon
                                        img(src="./assets/images/contact-info/icon-user-gray.svg", alt="" width="20px")
                                    input.form-control.hover-input(type='text' placeholder='Đơn vị / cá nhân đặt hàng' aria-label='Đơn vị / cá nhân đặt hàng' )

                            .form-group.width-40
                                label(for='') Số điện thoại
                                .input-group
                                    .form-icon
                                        img(src="./assets/images/contact-info/icon-phone-gray.svg", alt="")
                                    input.form-control.hover-input(type='phone' placeholder='Số điện thoại' aria-label='Số điện thoại' )
                                    

                            .form-group.width-60
                                label(for='') Email
                                .input-group
                                    .form-icon
                                        img(src="./assets/images/contact-info/icon-mail-gray.svg", alt="")
                                    input.form-control.hover-input(type='Email' placeholder='Email' aria-label='Email' )

                            .form-group.full
                                label(for='') Địa chỉ
                                .input-group
                                    .form-icon
                                        img(src="./assets/images/contact-info/icon-map-marker-gray.svg", alt="")
                                    input.form-control.hover-input(type='text' placeholder='Nhập vị trí' aria-label='Địa chỉ' )

                            .form-group.full
                                .checkbox-group.flex-wrap.checkbox-bill
                                    input(type="checkbox" name="book" id="bill-export").checkbox-input
                                    .checkbox-wrapper
                                    label(for="bill-export") Thông tin xuất hoá đơn (chỉ tích chọn khi cần xuất hoá đơn)

                                    .bill-export-info 
                                        .form-group.full
                                            label(for='') Tên công ty
                                            .input-group
                                                input.form-control.hover-input(type='text' placeholder='Ít nhất 2 từ' aria-label='Tên công ty' )

                                        .form-group.full
                                            label(for='') Mã số thuế
                                            .input-group
                                                input.form-control.hover-input(type='text' placeholder='Ít nhất 2 từ' aria-label='Mã số thuế' )

                                        .form-group.full
                                            label(for='') Địa chỉ
                                            .input-group.form-area
                                                textarea.hover-input(placeholder='Nhập địa chỉ công ty (bao gồm Phường/Xã, Quận/Huyện, Tỉnh/Thành phố nếu có)')
                                                .form-area__icon
                                                    img(class="lazy" data-src="./assets/images/checkout/Icon.svg", alt="")

                            .form-group.full.d-flex.justify-content-center 
                                .button__item
                                    button.btn.btn-red-1.btn-sm
                                        span Gửi thông tin

                .services-contact-item
                    include includes/components/section-contact-info.pug
                    +sectionContactInfo({
                        description: 'Thư viện các trường đại học, các nhà sách hay đơn vị phân phối và đại lý cần đặt mua số lượng lớn… xin liên hệ trực tiếp hotline để nhận mức chiết khấu ưu đãi.',
                        hotline: '024 3821 8785 -  024 3974 1791',
                        email: 'phathanh@nxbxaydung.com.vn',
                        address: '37 Lê Đại Hành, Hai Bà Trưng, TP. Hà Nội',
                    })