extend includes/layout/layout.pug
block pages
    include includes/components/breadcrumb.pug
    +brcrumb('Khai báo theo mẫu')
    .samplecdeclaration
        include includes/pages/declaration-form-1.pug 