extend includes/layout/layout.pug
block pages
    .container
        .row.mb-3
            .col-lg-4
                h1.large-title-32.bold Large Title
                h1.h1-28.bold Heading 1
                h2.h2-24.bold Heading 2
                h3.h3-20.bold Heading 3
                h4.h4-18.bold Heading 4
                h5.h5-16.bold Heading 5
                h6.h6-14.bold Heading 6
                p.body-13.bold Body
                p.caption-12.bold Caption
            .col-lg-4
                h1.large-title-32.medium Large Title
                h1.h1-28.medium Heading 1
                h2.h2-24.medium Heading 2
                h3.h3-20.medium Heading 3
                h4.h4-18.medium Heading 4
                h5.h5-16.medium Heading 5
                h6.h6-14.medium Heading 6
                p.body-13.medium Body
                p.caption-12.medium Caption
            .col-lg-4
                h1.large-title-32.regular Large Title
                h1.h1-28.regular Heading 1
                h2.h2-24.regular Heading 2
                h3.h3-20.regular Heading 3
                h4.h4-18.regular Heading 4
                h5.h5-16.regular Heading 5
                h6.h6-14.regular Heading 6
                p.body-13.regular Body
                p.caption-12.regular Caption
        .row
            .col-lg-12.mb-4
                .list__button.d-flex.flex-wrap.p-3
                    .button__item.mr-2.mb-2
                        button.btn.btn-primary Primary
                    .button__item.mr-2.mb-2
                        button.btn.btn-secondary Secondary
                    .button__item.mr-2.mb-2
                        button.btn.btn-success Success
                    .button__item.mr-2.mb-2
                        button.btn.btn-danger Danger
                    .button__item.mr-2.mb-2
                        button.btn.btn-warning Warning
                    .button__item.mr-2.mb-2
                        button.btn.btn-info Info
                    .button__item.mr-2.mb-2
                        button.btn.btn-brand Brand
                    .button__item.mr-2.mb-2
                        button.btn.btn-outline-brand Brand
                    .button__item.mr-2.mb-2
                        button.btn.btn-outline-brand-none-border Brand
                .list__button.d-flex.flex-wrap.p-3
                    .button__item.mr-2.mb-2
                        button.btn.btn-primary.btn-sm Primary
                    .button__item.mr-2.mb-2
                        button.btn.btn-secondary.btn-sm Secondary
                    .button__item.mr-2.mb-2
                        button.btn.btn-success.btn-sm Success
                    .button__item.mr-2.mb-2
                        button.btn.btn-danger.btn-sm Danger
                    .button__item.mr-2.mb-2
                        button.btn.btn-warning.btn-sm Warning
                    .button__item.mr-2.mb-2
                        button.btn.btn-info.btn-sm Info
                    .button__item.mr-2.mb-2
                        button.btn.btn-brand.btn-sm Brand
                    .button__item.mr-2.mb-2
                        button.btn.btn-outline-brand.btn-sm Brand
                    .button__item.mr-2.mb-2
                        button.btn.btn-outline-brand-none-border.btn-sm Brand
                .list__button.d-flex.flex-wrap.p-3
                    .button__item.mr-2.mb-2
                        button.btn.btn-primary.btn-xsm Primary
                    .button__item.mr-2.mb-2
                        button.btn.btn-secondary.btn-xsm Secondary
                    .button__item.mr-2.mb-2
                        button.btn.btn-success.btn-xsm Success
                    .button__item.mr-2.mb-2
                        button.btn.btn-danger.btn-xsm Danger
                    .button__item.mr-2.mb-2
                        button.btn.btn-warning.btn-xsm Warning
                    .button__item.mr-2.mb-2
                        button.btn.btn-info.btn-xsm Info
                    .button__item.mr-2.mb-2
                        button.btn.btn-brand.btn-xsm Brand
                    .button__item.mr-2.mb-2
                        button.btn.btn-outline-brand.btn-xsm Brand
                    .button__item.mr-2.mb-2
                        button.btn.btn-outline-brand-none-border.btn-xsm Brand
                .list__button.d-flex.flex-wrap.p-3
                    .button__item.mr-2.mb-2
                        button.btn.btn-success.btn-sm Đọc ngay
                    .button__item.mr-2.mb-2
                        button.btn.btn-success.btn-sm
                            img.mr-1(src="./assets/images/button/book.svg" alt="")
                            span Đọc ngay
                    .button__item.mr-2.mb-2
                        button.btn.btn-primary.btn-sm
                            img.mr-1(src="./assets/images/button/phone.svg" alt="")
                            span Nghe ngay
                    .button__item.mr-2.mb-2
                        button.btn.btn-primary.btn-sm
                            img.mr-1(src="./assets/images/button/play.svg" alt="")
                            span Xem video
                    .button__item.mr-2.mb-2
                        button.btn.btn-brand-brown.btn-sm
                            img.mr-1(src="./assets/images/button/cart.svg" alt="")
                            span Giỏ sách
                    .button__item.mr-2.mb-2
                        button.btn.btn-outline-brand-2.btn-sm
                            img.mr-1(src="./assets/images/button/user.svg" alt="")
                            span Tài khoản
                    .button__item.mr-2.mb-2
                        button.btn.btn-outline-brand-none-border.btn-sm
                            img.mr-1(src="./assets/images/button/book-1.svg" alt="")
                            span Tài khoản
                    .button__item.mr-2.mb-2
                        button.btn.btn-red-search.rounded-circle
                            img(src="./assets/images/button/search.svg" alt="")
                    .button__item.mr-2.mb-2
                        button.btn.btn-brand.btn-xsm.btn-border-radius-30    Xem danh sách
                .list__button.d-flex.flex-wrap.p-3
                    .button__item.mr-2.mb-2
                        button.btn.btn-red.btn-sm
                            img.mr-1(src="./assets/images/button/money.svg" alt="")
                            span Mua ngay
                    .button__item.mr-2.mb-2
                        button.btn.btn-outline-red.btn-sm
                            img.mr-1(src="./assets/images/button/add-cart.svg" alt="")
                            span Thêm vào giỏ
                    .button__item.mr-2.mb-2
                        button.btn.btn-red-1.btn-sm
                            span Tiếp tục mua hàng
                    .button__item.mr-2.mb-2
                        button.btn.btn-red-1.btn-sm
                            span Đặt sách
                    .button__item.mr-2.mb-2
                        button.btn.btn-outline-gray.btn-sm
                            img.mr-1(src="./assets/images/button/circle.svg" alt="")
                            span Tôi đã xem xong
                    .button__item.mr-2.mb-2
                        button.btn.btn-gray-link.btn-sm
                            span.mr-1 Xem toàn bộ
                            svg(width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M6.6 1L12 6.4L6.6 11.8M0 6.4H12H0Z" stroke="#8C8C8C" stroke-width="2")
