extend includes/layout/layout.pug
block pages
    include includes/components/topic-2.pug
    +topic(12, "Các chủ đề")
    include includes/components/filter-cate-mb.pug
    include includes/components/ebook-video-audio-mb.pug
    +audio-ebook-video-mb("","video", false)
    .search-result-mb.pb-3.d-flex.justify-content-center
        include includes/components/pagination-mb.pug