extend includes/layout/layout.pug

block pages
    main.main__payment-113
        section.payment-113
            .breadcrumb_detail 
                    include includes/components/breadcrumb.pug
                    +brcrumb('Văn Bản Pháp Quy')
            .container
                .payment 
                    .row 
                        include includes/pages/payment-113.pug