mixin book-reading(title)
    .book__reading.px-3.py-4
        .book__reading-intro
            h4.h4-18.bold.mb-3=title
        .book__reading-author.d-flex.flex-row-reverse.py-3
            .reading__author-name
                h6.h6-14.medium.pl-3.text-justify Các đô thị Việt Nam quá trình hình thành, phát triển và quy hoạch ...
                .content__infor-description.pl-3
                    p.caption-12.regular.mb-2
                        <svg class="mr-2" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.2257 9.99332C12.7717 10.5373 13.2067 11.1823 13.5065 11.8924C13.8021 12.59 13.9594 13.3291 13.9753 14.0885C13.976 14.1184 13.9707 14.1481 13.9598 14.176C13.9488 14.2039 13.9323 14.2294 13.9114 14.2509C13.8904 14.2724 13.8653 14.2894 13.8377 14.3011C13.81 14.3128 13.7803 14.3188 13.7503 14.3188C13.7503 14.3188 13.7503 14.3188 13.7503 14.3188H12.8128C12.69 14.3188 12.5906 14.2226 12.5878 14.0991M12.2257 9.99332L5.62492 8.84416C4.96015 9.13736 4.362 9.54772 3.8456 10.0656L3.77496 9.99484M12.2257 9.99332C11.717 9.48366 11.1207 9.07053 10.4657 8.7735M12.2257 9.99332L10.4657 8.7735M12.5878 14.0991L12.6878 14.0969M12.5878 14.0991C12.5878 14.0993 12.5878 14.0994 12.5878 14.0995L12.6878 14.0969M12.5878 14.0991C12.5571 12.9186 12.0833 11.8135 11.2452 10.9754C10.378 10.1082 9.22688 9.63125 8.00028 9.63125C6.77369 9.63125 5.62256 10.1082 4.75537 10.9754C3.91724 11.8135 3.44334 12.9188 3.41275 14.0995C3.4098 14.2203 3.3113 14.3188 3.18778 14.3188H2.25031C2.2503 14.3188 2.25029 14.3188 2.25028 14.3188C2.22027 14.3188 2.19056 14.3128 2.16289 14.3011C2.13522 14.2894 2.11016 14.2724 2.08919 14.2509C2.06822 14.2294 2.05177 14.2039 2.0408 14.176C2.02986 14.1481 2.0246 14.1183 2.02531 14.0884M12.6878 14.0969C12.6893 14.1656 12.744 14.2188 12.8128 14.2188H13.7503C13.767 14.2188 13.7835 14.2154 13.7989 14.2089C13.8142 14.2025 13.8281 14.193 13.8398 14.181C13.8514 14.1691 13.8606 14.1549 13.8667 14.1394C13.8728 14.1239 13.8757 14.1073 13.8753 14.0906L12.6878 14.0969ZM2.02531 14.0884C2.03994 13.3336 2.19909 12.5887 2.49415 11.8938C2.79449 11.1841 3.2294 10.5393 3.77487 9.99493C3.7749 9.9949 3.77493 9.99487 3.77496 9.99484M2.02531 14.0884C2.02531 14.0883 2.02531 14.0882 2.02531 14.0881L2.12528 14.0906L2.0253 14.0887C2.0253 14.0886 2.02531 14.0885 2.02531 14.0884ZM3.77496 9.99484C4.28717 9.48119 4.87863 9.07143 5.53484 8.77486M3.77496 9.99484L5.53484 8.77486M5.53484 8.77486C4.61515 8.04628 4.02528 6.91973 4.02528 5.65625C4.02528 3.4604 5.80443 1.68125 8.00028 1.68125C10.1961 1.68125 11.9753 3.4604 11.9753 5.65625C11.9753 6.91968 11.3855 8.04624 10.4657 8.7735M5.53484 8.77486L10.4657 8.7735M8.00028 8.24375C7.30965 8.24375 6.66007 7.97462 6.17099 7.48554C5.68192 6.99646 5.41278 6.34689 5.41278 5.65625C5.41278 4.96561 5.68192 4.31604 6.17099 3.82696C6.66007 3.33788 7.30965 3.06875 8.00028 3.06875C8.69092 3.06875 9.34049 3.33788 9.82957 3.82696C10.3187 4.31604 10.5878 4.96561 10.5878 5.65625C10.5878 6.34689 10.3187 6.99646 9.82957 7.48554C9.34049 7.97462 8.69092 8.24375 8.00028 8.24375Z" fill="#fff" stroke="#000" stroke-width="0.4"/></svg>
                        | Tác giả:
                    p.caption-12.regular.pr-3 Phan Huy Đông (CB) Đỗ Thị Thu Hiền, Phan Hồng Quân - ĐH Xây dựng HN
            .book__reading-book.d-flex.justify-content-center
                div(class="lazy lazy-opacity bg-layout" data-bg="./assets/images/my-account-mobile/rectangle-16.png" style="width: 89px; height: 119px;")
                span.reading__book-sm.type.caption-12.regular.px-2 Audio book
        .book__reading-maintime.d-flex.align-items-center.mt-2
            img(class="lazy mr-2" data-src="./assets/images/my-account-mobile/ant-design_clock-circle-outlined.svg" src="./assets/images/my-account-mobile/ant-design_clock-circle-outlined.svg", alt="")
            h6.h6-14.regular.mb-0 Còn: 
                span.color-blue.bold 323
                span ngày đọc (03-01-2021)
        .book__reading-btn.mt-3
            a(href="#" class="btn btn-danger btn-sm px-3 py-1 mr-2") Mua Lại
            a(href="#" class="btn btn-primary btn-sm px-3 py-1 mr-2") Đọc tiếp
            a(href="#" class="btn btn-success btn-sm px-3 py-1") Gia hạn 