.author__section
    .container
        .row
            .author__wrap
                .author__heading Tác Giả
                .author__heading-line
                .author__box
                    each item in [1,2,3,4,5]
                        .author__list(class="box")
                            .author__list-avatar
                                img(class="lazy" data-src="./assets/images/author/avtauthor.jpg" src="./assets/images/author/avtauthor.jpg" alt="")
                            .author__list-name Nguyễn Văn An
                            .author__list-member 15 member
