section.section__banner__goi-doc
  .container 
    .section__banner__goi-doc__wrapper
      img(src="./assets/images/bg-banner-goi-doc.png", alt="").section__bg
      .banner__wrapper.d-flex
        .banner__logo
          .banner__logo-wrap
            img(src="./assets/images/logo-university/logo-dai-hoc-ha-noi.png", alt="")
        .banner__info 
          h1.h1-28.bold.text-center Chào mừng bạn đến với trang tài khoản thành viên của Trường Đại học Hà Nội
          .info__wrapper.d-flex.justify-content-center
            .info__item.d-flex.align-items-center.check
              img(src="./assets/images/check-mark.svg", alt="")
              |Wifi
            a(href="tel: 0982349238").info__item.d-flex.align-items-center 
              img(src="./assets/images/phone-call.svg", alt="")
              |Hotline: 0982349238
            a(href="mailto: n").info__item.d-flex.align-items-center 
              img(src="./assets/images/mail.svg", alt="")
              |webmaster@hanu.edu.vn