.bookvideo
    .plyr__video-embed.video
        video( controls='' crossorigin='' playsinline='' poster='https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg'
            type='video/mp4' size='576' src="")
            a(href='' download='') Download
