mixin BookBlock({})
  .BookBlock
    .BookBlock-image 
      a(href="#") 
        img(src="./assets/images/image-combo-book.png" alt="")

      .BookBlock-badge Hot Sale

    a(href="#").BookBlock-title Bộ định mức dự toán xây dựng
    .BookBlock-description Ngày 26 tháng 12 năm 2019 Bộ Xây dựng đã ban hành  Thông tư 10/2019...

    .BookBlock-stars.d-flex
      .BookBlock-stars-item
        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.93577 3.60329L6.30973 3.17594L5.13671 0.512988C5.06733 0.381046 4.94079 0.300049 4.80406 0.300049C4.66732 0.300049 4.54079 0.381046 4.4714 0.512988L3.29615 3.17594L0.67012 3.60329C0.53042 3.62587 0.414278 3.7353 0.370518 3.88558C0.326758 4.03586 0.362967 4.20093 0.463924 4.31139L2.36456 6.38544L1.9162 9.3146C1.89236 9.4704 1.94957 9.62785 2.06377 9.72075C2.17798 9.81365 2.32937 9.8259 2.45431 9.75234L4.80294 8.36978L7.15158 9.75234C7.27652 9.8259 7.42791 9.81365 7.54212 9.72075C7.65632 9.62785 7.71353 9.4704 7.68969 9.3146L7.24132 6.38544L9.14196 4.31139C9.24289 4.20104 9.27918 4.03612 9.23559 3.8859C9.192 3.73567 9.07608 3.62613 8.93651 3.60329H8.93577Z" fill="#FFCE47"/></svg>
      .BookBlock-stars-item
        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.93577 3.60329L6.30973 3.17594L5.13671 0.512988C5.06733 0.381046 4.94079 0.300049 4.80406 0.300049C4.66732 0.300049 4.54079 0.381046 4.4714 0.512988L3.29615 3.17594L0.67012 3.60329C0.53042 3.62587 0.414278 3.7353 0.370518 3.88558C0.326758 4.03586 0.362967 4.20093 0.463924 4.31139L2.36456 6.38544L1.9162 9.3146C1.89236 9.4704 1.94957 9.62785 2.06377 9.72075C2.17798 9.81365 2.32937 9.8259 2.45431 9.75234L4.80294 8.36978L7.15158 9.75234C7.27652 9.8259 7.42791 9.81365 7.54212 9.72075C7.65632 9.62785 7.71353 9.4704 7.68969 9.3146L7.24132 6.38544L9.14196 4.31139C9.24289 4.20104 9.27918 4.03612 9.23559 3.8859C9.192 3.73567 9.07608 3.62613 8.93651 3.60329H8.93577Z" fill="#FFCE47"/></svg>
      .BookBlock-stars-item
        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.93577 3.60329L6.30973 3.17594L5.13671 0.512988C5.06733 0.381046 4.94079 0.300049 4.80406 0.300049C4.66732 0.300049 4.54079 0.381046 4.4714 0.512988L3.29615 3.17594L0.67012 3.60329C0.53042 3.62587 0.414278 3.7353 0.370518 3.88558C0.326758 4.03586 0.362967 4.20093 0.463924 4.31139L2.36456 6.38544L1.9162 9.3146C1.89236 9.4704 1.94957 9.62785 2.06377 9.72075C2.17798 9.81365 2.32937 9.8259 2.45431 9.75234L4.80294 8.36978L7.15158 9.75234C7.27652 9.8259 7.42791 9.81365 7.54212 9.72075C7.65632 9.62785 7.71353 9.4704 7.68969 9.3146L7.24132 6.38544L9.14196 4.31139C9.24289 4.20104 9.27918 4.03612 9.23559 3.8859C9.192 3.73567 9.07608 3.62613 8.93651 3.60329H8.93577Z" fill="#FFCE47"/></svg>
      .BookBlock-stars-item
        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.93577 3.60329L6.30973 3.17594L5.13671 0.512988C5.06733 0.381046 4.94079 0.300049 4.80406 0.300049C4.66732 0.300049 4.54079 0.381046 4.4714 0.512988L3.29615 3.17594L0.67012 3.60329C0.53042 3.62587 0.414278 3.7353 0.370518 3.88558C0.326758 4.03586 0.362967 4.20093 0.463924 4.31139L2.36456 6.38544L1.9162 9.3146C1.89236 9.4704 1.94957 9.62785 2.06377 9.72075C2.17798 9.81365 2.32937 9.8259 2.45431 9.75234L4.80294 8.36978L7.15158 9.75234C7.27652 9.8259 7.42791 9.81365 7.54212 9.72075C7.65632 9.62785 7.71353 9.4704 7.68969 9.3146L7.24132 6.38544L9.14196 4.31139C9.24289 4.20104 9.27918 4.03612 9.23559 3.8859C9.192 3.73567 9.07608 3.62613 8.93651 3.60329H8.93577Z" fill="#FFCE47"/></svg>
      .BookBlock-stars-item
        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.32218 3.60329L6.69615 3.17594L5.52313 0.512988C5.45374 0.381046 5.32721 0.300049 5.19047 0.300049C5.05374 0.300049 4.9272 0.381046 4.85781 0.512988L3.68257 3.17594L1.05653 3.60329C0.916834 3.62587 0.800692 3.7353 0.756932 3.88558C0.713171 4.03586 0.749381 4.20093 0.850337 4.31139L2.75098 6.38544L2.30261 9.3146C2.27877 9.4704 2.33598 9.62785 2.45019 9.72075C2.56439 9.81365 2.71579 9.8259 2.84072 9.75234L5.18936 8.36978L7.53799 9.75234C7.66293 9.8259 7.81432 9.81365 7.92853 9.72075C8.04273 9.62785 8.09994 9.4704 8.0761 9.3146L7.62774 6.38544L9.52838 4.31139C9.6293 4.20104 9.66559 4.03612 9.622 3.8859C9.57841 3.73567 9.46249 3.62613 9.32292 3.60329H9.32218Z" fill="#C1C0C8"/></svg>

    .BookBlock-price 
      |1.071.200đ
      del 1.071.200đ
