-
    const authorDatas2 = [
        {
            authorAvatar: './assets/images/author-avatar/author-avatar-1.png',
            authorType: 'checked'
        },
        {
            authorAvatar: './assets/images/author-avatar/author-avatar-2.png'
        },
        {
            authorAvatar: './assets/images/author-avatar/author-avatar-3.png'
        },
    ]

.row
    .col-lg-5.col-sm-12
        .detail__group
            .mobi.mt-3.mb-2
                .detail__title
                    h4.h4-18.bold Giáo trình Logic mở & ứng dụng (nxb xây dựng)
                .author-list2.d-flex.justify-content-between.align-items-center.py-2
                    .author-list__avatar.d-flex.justify-content-start
                        each item in authorDatas2
                            .author-list__avatar-img
                                img(class="lzay" data-src=`${item.authorAvatar}` src=`${item.authorAvatar}`, alt="")
                                span.img__check
                                    if item.authorType == "checked"
                                        svg(xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewbox='0 0 10 10' fill='none')
                                            path(d='M5.00016 0.833374C2.69808 0.833374 0.833496 2.69796 0.833496 5.00004C0.833496 7.30004 2.69808 9.16671 5.00016 9.16671C7.30016 9.16671 9.16683 7.30004 9.16683 5.00004C9.16683 2.69796 7.30016 0.833374 5.00016 0.833374ZM4.16683 7.08337L2.0835 5.00004L2.67308 4.41046L4.16683 5.90421L7.32725 2.74379L7.91683 3.33337L4.16683 7.08337Z' fill='#27AE34')
                                a(href="" class="author-list__avatar-more")
                    .author-list__more.d-flex.justify-content-center.align-items-center
                        .author-list__more-list
                            span Danh sách tác giả
                            .list__content
                                span.list__content-btn
                                    svg(xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewbox='0 0 14 14' fill='none')
                                        path(d='M14 1.415L12.585 0L7 5.585L1.415 0L0 1.415L5.585 7L0 12.585L1.415 14L7 8.415L12.585 14L14 12.585L8.415 7L14 1.415Z' fill='#828282')
                                h3.list__content-title Danh sách tác giả
                                .list__content-author
                                    .row.border-ct
                                        each item, index in [1,2,3,4,5,6,7,8,9,10]
                                            .col-6.col-sm-6.col-md-3.box-item
                                                .author__item
                                                    .author__item-img
                                                        a(href="#" class="img__links")
                                                            img(class="lzay" data-src="./assets/images/author-avatar/author-avatar-1.png" src="./assets/images/author-avatar/author-avatar-1.png" alt="")
                                                            if index == '0'
                                                                span.img__check
                                                                    svg(xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewbox='0 0 10 10' fill='none')
                                                                        path(d='M5.00016 0.833374C2.69808 0.833374 0.833496 2.69796 0.833496 5.00004C0.833496 7.30004 2.69808 9.16671 5.00016 9.16671C7.30016 9.16671 9.16683 7.30004 9.16683 5.00004C9.16683 2.69796 7.30016 0.833374 5.00016 0.833374ZM4.16683 7.08337L2.0835 5.00004L2.67308 4.41046L4.16683 5.90421L7.32725 2.74379L7.91683 3.33337L4.16683 7.08337Z' fill='#27AE34')
                                                    .author__item-info
                                                        h6.info__title Tác giả
                                                        p.info__name Dương Vân Yên
                            .list__overlay
                .category_social.d-flex
                    .social-title
                        img(src="./assets/images/book-detail/soci.png" alt="")
                        h6.h6-14.medium.mb-0.d-inline-block Chia sẻ:
                    .social-list.py-2
                        img(class="lazy ml-4" data-src="./assets/images/book-detail/fb.png" src="./assets/images/book-detail/fb.png", alt="")
                        img(class="lazy ml-2" data-src="./assets/images/book-detail/mess.png" src="./assets/images/book-detail/mess.png", alt="")
                        img(class="lazy ml-2" data-src="./assets/images/book-detail/zalo.png" src="./assets/images/book-detail/zalo.png", alt="")
                        img(class="lazy ml-2" data-src="./assets/images/book-detail/pt.png" src="./assets/images/book-detail/pt.png", alt="" style="width:30px; height:30px")
                        img(class="lazy ml-2" data-src="./assets/images/book-detail/file.png" src="./assets/images/book-detail/file.png", alt="")
            div(class="lazy lazy-opacity bg-layout bg-book-detail-mb m-auto" data-bg="./assets/images/book-detail/img.png" style="width:229px; height:333px")
            .group-list.mx-4.my-3.d-flex.align-items-center.justify-content-center
                a(href="#" class='btn btn-success h4-18 medium d-flex align-items-center text-white')
                    <svg class="mr-2" width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.33333 11.9993C2.06812 11.9993 1.81376 12.1047 1.62623 12.2922C1.43869 12.4798 1.33333 12.7341 1.33333 12.9993C1.33333 13.3675 1.03486 13.666 0.666667 13.666C0.298477 13.666 0 13.3675 0 12.9993C0 12.3805 0.245833 11.787 0.683417 11.3494C1.121 10.9118 1.71449 10.666 2.33333 10.666H11.3333C11.7015 10.666 12 10.9645 12 11.3327C12 11.7009 11.7015 11.9993 11.3333 11.9993H2.33333Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M2.33333 1.99935C2.06812 1.99935 1.81376 2.10471 1.62623 2.29224C1.43869 2.47978 1.33333 2.73413 1.33333 2.99935V12.9993C1.33333 13.2646 1.43869 13.5189 1.62623 13.7065C1.81376 13.894 2.06812 13.9993 2.33333 13.9993H10.6667V1.99935H2.33333ZM2.33333 0.666016H11.3333C11.7015 0.666016 12 0.964492 12 1.33268V14.666C12 15.0342 11.7015 15.3327 11.3333 15.3327H2.33333C1.71449 15.3327 1.121 15.0868 0.683417 14.6493C0.245833 14.2117 0 13.6182 0 12.9993V2.99935C0 2.38051 0.245833 1.78702 0.683417 1.34943C1.121 0.911848 1.71449 0.666016 2.33333 0.666016Z" fill="white"/>
                    </svg>
                    | Đọc ngay
                a(href="#" class='btn btn-primary h4-18 medium ml-3 d-flex align-items-center text-white')
                    <svg class="mr-2" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.00004 2.66732C6.58555 2.66732 5.229 3.22922 4.2288 4.22941C3.22861 5.22961 2.66671 6.58616 2.66671 8.00065V12.0007C2.66671 12.3688 2.36823 12.6673 2.00004 12.6673C1.63185 12.6673 1.33337 12.3688 1.33337 12.0007V8.00065C1.33337 6.23254 2.03575 4.53685 3.286 3.28661C4.53624 2.03636 6.23193 1.33398 8.00004 1.33398C9.76815 1.33398 11.4638 2.03636 12.7141 3.28661C13.9643 4.53685 14.6667 6.23254 14.6667 8.00065V12.0007C14.6667 12.3688 14.3682 12.6673 14 12.6673C13.6319 12.6673 13.3334 12.3688 13.3334 12.0007V8.00065C13.3334 6.58616 12.7715 5.22961 11.7713 4.22941C10.7711 3.22922 9.41453 2.66732 8.00004 2.66732Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M1.33337 9.33398C1.33337 8.96579 1.63185 8.66732 2.00004 8.66732H4.00004C4.53047 8.66732 5.03918 8.87803 5.41425 9.2531C5.78933 9.62818 6.00004 10.1369 6.00004 10.6673V12.6673C6.00004 13.1978 5.78933 13.7065 5.41425 14.0815C5.03918 14.4566 4.53047 14.6673 4.00004 14.6673H3.33337C2.80294 14.6673 2.29423 14.4566 1.91916 14.0815C1.54409 13.7065 1.33337 13.1978 1.33337 12.6673V9.33398ZM2.66671 10.0007V12.6673C2.66671 12.8441 2.73695 13.0137 2.86197 13.1387C2.98699 13.2637 3.15656 13.334 3.33337 13.334H4.00004C4.17685 13.334 4.34642 13.2637 4.47145 13.1387C4.59647 13.0137 4.66671 12.8441 4.66671 12.6673V10.6673C4.66671 10.4905 4.59647 10.3209 4.47145 10.1959C4.34642 10.0709 4.17685 10.0007 4.00004 10.0007H2.66671ZM12 10.0007C11.8232 10.0007 11.6537 10.0709 11.5286 10.1959C11.4036 10.3209 11.3334 10.4905 11.3334 10.6673V12.6673C11.3334 12.8441 11.4036 13.0137 11.5286 13.1387C11.6537 13.2637 11.8232 13.334 12 13.334H12.6667C12.8435 13.334 13.0131 13.2637 13.1381 13.1387C13.2631 13.0137 13.3334 12.8441 13.3334 12.6673V10.0007H12ZM10.5858 9.2531C10.9609 8.87803 11.4696 8.66732 12 8.66732H14C14.3682 8.66732 14.6667 8.96579 14.6667 9.33398V12.6673C14.6667 13.1978 14.456 13.7065 14.0809 14.0815C13.7058 14.4566 13.1971 14.6673 12.6667 14.6673H12C11.4696 14.6673 10.9609 14.4566 10.5858 14.0815C10.2108 13.7065 10 13.1978 10 12.6673V10.6673C10 10.1369 10.2108 9.62818 10.5858 9.2531Z" fill="white"/></svg>
                    | Nghe thử
    .col-lg-7
        .detail-book
            .list-content
                h1.detail__list-title Các đô thị Việt Nam quá trình hình thành, phát triển và quy hoạch đô thị. Tập 1: Hà Nội, Hải Phòng, Vinh, Huế, Đà Nẵng, Hội An, Đà Lạt, Nha Trang, Buôn Ma Thuột, Cần Thơ
                p.detail__list-description Qua cuốn sách “Các đô thị Việt Nam - Quá trình hình thành, phát triển và quy hoạch đô thị” tập thể tác giả đã rất cố gắng ...
            .list-card.d-flex.justify-content-around.align-items-center
                .card__item.d-flex.justify-content-center.align-items-center
                    p.num 4.5
                    .start.d-flex
                        each item in[1,2,3,4,5]
                            .start__in
                                img(class="lazy" data-src="./assets/images/book-detail/shape.png" src="./assets/images/book-detail/shape.png", alt="")
                .card__item.border__lr.d-flex.justify-content-center.align-items-center
                    p.num 5.8
                    span đánh giá
                .card__item.d-flex.justify-content-center.align-items-center
                    p.num 369
                    span đá bán
            .list-mobi.mt-2
                .list__content
                    p.content-title Được bán bởi
                    .list__content-item
                        .item-img
                            img(class="lazy" data-src="./assets/images/book-detail/logoT.png" src="./assets/images/book-detail/logoT.png" alt="")
                        .item_text
                            p.text_one Nhà Xuất Bản xây dựng
                            p.text_tow
                                img(class="lazy" data-src="./assets/images/book-detail/jam.png" src="./assets/images/book-detail/jam.png" alt="")
                                span Nhà phát hành tin cậy
                        p.btn_detail
                            a(href="") Chi tiết
            include ./chonbook-mb.pug
            +chon-book-mb()
ul.lstDetail.mb-2
    li
        span.icon
            img(class="lazy" data-src="./assets/images/book-detail/ic_1.png" alt="")
        span.text
            span.fRobotoB NXB
            span Nhà xuất bản xây dứng
    li
        span.icon
            img(class="lazy" data-src="./assets/images/book-detail/ic_2.png" alt="")
        span.text
            span.fRobotoB Người dịch:
            span Duy Phương
    li
        span.icon
            img(class="lazy" data-src="./assets/images/book-detail/ic_3.png" alt="")
        span.text
            span.fRobotoB Kt bìa:
            span 18x27
    li
        span.icon
            img(class="lazy" data-src="./assets/images/book-detail/ic_4.png" alt="")
        span.text
            span.fRobotoB Nhà XB:
            span 2019
    li
        span.icon
            img(class="lazy" data-src="./assets/images/book-detail/ic_5.png" alt="")
        span.text
            span.fRobotoB Quốc gia:
            span Đức
    li
        span.icon
            img(class="lazy" data-src="./assets/images/book-detail/ic_6.png" alt="")
        span.text
            span.fRobotoB Loại sách:
            span Ebook, Sách giấy
    li
        span.icon
            img(class="lazy" data-src="./assets/images/book-detail/ic_7.png" alt="")
        span.text
            span.fRobotoB Số trang
            span 202 trang
    li
        span.icon
            img(class="lazy" data-src="./assets/images/book-detail/ic_8.png" alt="")
        span.text
            span.fRobotoB
            span  Giấy phép xuất bản
    li
        span.icon
            img(class="lazy" data-src="./assets/images/book-detail/ic_9.png" alt="")
        span.text
            span.fRobotoB Ngôn ngữ:
            span Tiếng Việt
.contentBook.mb-2
    ul.nav.nav-tabs
        li.nav-item
            a(class ="nav-link active" data-toggle="tab" href="#review" ) Giới thiệu
        li.nav-item
            a(class="nav-link" data-toggle="tab" href="#menu1") Mục lục
    .tab-content.list__tabs
        #review.tab-pane.active
            h3.pane__title Mẹ luôn đồng hành cùng con
            p.pane__description là một cuốn sách hay không chỉ về tình mẫu tử thiêng liêng mà còn bởi những kỹ năng nuôi dạy con khôn khéo, tuyệt vời mà nữ tác giả Dương Văn mang tới cho đọc giả
            p.pane__description Một cô thợ may trở thành sinh viên đại học, đi du học ở Anh, là giảng viên của một trường đại học, là thạc sĩ rồi giáo sư, trở thành chủ tịch hội đồ
            p.pane__description Một cậu bé thông minh, ham đọc sách từ nhỏ, luôn vui vẻ, say mê khám phá, là học sinh giỏi, trở thành sinh viên rồi tiến sĩ của trường Cambridge... Đó chính là quá trình đồng hành cùng con trai của Dương Văn.
            p.pane__description Việc kiên trì quan điểm giáo dục tố chất, giáo dục vui vẻ đã giúp người mẹ này bồi dưỡng nên một tiến sĩ Cambridge vui vẻ, lương thiện, toàn diện. Đặc biệt là khi con trai trưởng thành thì người mẹ cũng tỏa sáng.
            p.pane__description Mẹ luôn đồng hành cùng con không chỉ là lý luận giáo dục tố chất gia đình của một chuyên gia giáo dục mà còn là sự tổng kết kinh nghiệm dạy con của một người mẹ yêu con một cách khoa học


        #menu1.tab-pane.fade
            h3.Home
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        #readtry.tab-pane.fade
            h3.Home
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
