.books__slider.book
    a(href="#")
        div(class="lazy lazy-opacity bg-layout" data-bg="./assets/images/book-box/book-tcvn.jpg")
    .books__slider-body.mt-2
        .book__title
            a(class="title-link text-overflow-ellipsis" href="./book-detail-desktop.html") Hệ thống giao thông thông minh trong các đô thị thông minh. Các...
        .book__vote.d-flex
            each item in[1,2,3,4,5]
                <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.64278 3.80324L6.69268 3.37589L5.37491 0.71294C5.29696 0.580997 5.15481 0.5 5.0012 0.5C4.84759 0.5 4.70544 0.580997 4.62749 0.71294L3.30721 3.37589L0.357115 3.80324C0.200175 3.82582 0.069701 3.93525 0.0205406 4.08553C-0.0286198 4.23581 0.0120577 4.40088 0.125473 4.51134L2.26066 6.58539L1.75696 9.51455C1.73018 9.67035 1.79445 9.8278 1.92275 9.9207C2.05105 10.0136 2.22113 10.0258 2.36148 9.95229L4.99995 8.56973L7.63841 9.95229C7.77877 10.0258 7.94885 10.0136 8.07715 9.9207C8.20544 9.8278 8.26971 9.67035 8.24293 9.51455L7.73924 6.58539L9.87442 4.51134C9.9878 4.40099 10.0286 4.23608 9.9796 4.08585C9.93063 3.93562 9.80041 3.82608 9.64361 3.80324H9.64278Z" fill=""/></svg>
        .book__detail.d-flex.flex-column
            a(class="book-detail-type my-1" href="#") Geneva
            span.book-price.mt-1 45.0000 VNĐ