-
    const bookCoinDatas = [
        {
            title: 'Số dư Book coin',
            coinType: 'loaded',
            icon: './assets/images/book-coin/icon_1.png'
        },
        {
            title: 'Số dư Book coin khuyến mãi',
            icon: './assets/images/book-coin/icon_2.png'
        },
    ]
.book-coin.d-flex
    each item in bookCoinDatas
        .book-coin__item
            h6.item-title.h6-14.mb-0=item.title
            .item-value.d-flex.align-items-center.mt-1
                .item-value__icon.mr-3
                    if item.coinType == 'loaded'
                        svg(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 20 20' fill='none')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M17.9163 15.8333H14.9997C13.1617 15.8333 11.6663 14.338 11.6663 12.5C11.6663 10.6621 13.1617 9.16675 14.9997 9.16675H17.9163C18.1466 9.16675 18.333 8.98038 18.333 8.75007V7.50009C18.333 6.62636 17.6553 5.91578 16.799 5.84688L14.406 1.66726C14.1843 1.2807 13.8262 1.00442 13.3977 0.889694C12.9713 0.77575 12.5253 0.835593 12.1436 1.05774L3.94042 5.83344H2.49968C1.58051 5.83344 0.833008 6.58089 0.833008 7.50009V17.4999C0.833008 18.4191 1.58047 19.1666 2.49968 19.1666H16.6663C17.5855 19.1666 18.333 18.4191 18.333 17.4999V16.25C18.333 16.0196 18.1466 15.8333 17.9163 15.8333ZM14.9226 4.24768L15.8305 5.83343H12.1988L14.9226 4.24768ZM5.59662 5.83344L12.5631 1.77792C12.7515 1.66764 12.9716 1.63835 13.182 1.69452C13.3948 1.75147 13.5722 1.88901 13.6825 2.08147L13.6834 2.08299L7.24157 5.83344H5.59662ZM17.9162 9.99991H14.9996C13.621 9.99991 12.4996 11.1213 12.4996 12.4999C12.4996 13.8785 13.621 14.9999 14.9996 14.9999H17.9162C18.6055 14.9999 19.1662 14.4392 19.1662 13.7499V11.2499C19.1662 10.5606 18.6055 9.99991 17.9162 9.99991ZM14.9998 13.3332C14.5404 13.3332 14.1665 12.9593 14.1665 12.4999C14.1665 12.0405 14.5404 11.6666 14.9998 11.6666C15.4592 11.6666 15.8331 12.0405 15.8331 12.4999C15.8331 12.9593 15.4592 13.3332 14.9998 13.3332Z' fill='#4953ED')
                    else
                        svg(xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewbox='0 0 18 18' fill='none')
                            path(d='M16.2 11.3684H1.8V5.68421H6.372L4.5 8.36526L5.958 9.47368L8.1 6.40421L9 5.11579L9.9 6.40421L12.042 9.47368L13.5 8.36526L11.628 5.68421H16.2V11.3684ZM16.2 16.1053H1.8V14.2105H16.2V16.1053ZM6.3 1.89474C6.53869 1.89474 6.76761 1.99455 6.9364 2.17221C7.10518 2.34988 7.2 2.59085 7.2 2.84211C7.2 3.09336 7.10518 3.33433 6.9364 3.512C6.76761 3.68966 6.53869 3.78947 6.3 3.78947C6.06131 3.78947 5.83239 3.68966 5.6636 3.512C5.49482 3.33433 5.4 3.09336 5.4 2.84211C5.4 2.59085 5.49482 2.34988 5.6636 2.17221C5.83239 1.99455 6.06131 1.89474 6.3 1.89474ZM11.7 1.89474C11.9387 1.89474 12.1676 1.99455 12.3364 2.17221C12.5052 2.34988 12.6 2.59085 12.6 2.84211C12.6 3.09336 12.5052 3.33433 12.3364 3.512C12.1676 3.68966 11.9387 3.78947 11.7 3.78947C11.4613 3.78947 11.2324 3.68966 11.0636 3.512C10.8948 3.33433 10.8 3.09336 10.8 2.84211C10.8 2.59085 10.8948 2.34988 11.0636 2.17221C11.2324 1.99455 11.4613 1.89474 11.7 1.89474ZM16.2 3.78947H14.238C14.337 3.49579 14.4 3.17368 14.4 2.84211C14.4 2.08833 14.1155 1.36543 13.6092 0.832433C13.1028 0.299435 12.4161 0 11.7 0C10.755 0 9.936 0.511579 9.45 1.27895L9 1.89474L8.55 1.26947C8.064 0.511579 7.245 0 6.3 0C5.58392 0 4.89716 0.299435 4.39081 0.832433C3.88446 1.36543 3.6 2.08833 3.6 2.84211C3.6 3.17368 3.663 3.49579 3.762 3.78947H1.8C0.801 3.78947 0 4.63263 0 5.68421V16.1053C0 17.1568 0.801 18 1.8 18H16.2C17.199 18 18 17.1568 18 16.1053V5.68421C18 4.63263 17.199 3.78947 16.2 3.78947Z' fill='#4A53EC')
                .item-value__coin.mr-3.mt-1
                    span 1.580.000 coin
                if item.coinType
                    a(href="#").btn.btn-primary.btn-xsm.btn-coin.mt-1 Nạp thêm