.box__bookvideo
    include ./book-video.pug
    .box__bookvideo-infor
        .infor__item.d-flex
            img(src="./assets/images/danhmuc.svg", alt="")
            h6 Danh mục: <span>xây dựng
        .infor__item.d-flex 
            img(src="./assets/images/thoiluong.svg", alt="")
            h6 Thời lượng: <span>32 video
        .infor__item.d-flex 
            img(src="./assets/images/capdo.svg", alt="")
            h6 Cấp độ: <span>nền tảng