.checkout__modal__wrapper.active
  .checkout__modal__overlay
  .checkout__modal__main
    .checkout__modal__close
      <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.0491 12.9998L24.5843 4.46468C24.9894 4.06032 25.2172 3.5116 25.2177 2.93924C25.2182 2.36688 24.9913 1.81776 24.587 1.41269C24.1826 1.00761 23.6339 0.779755 23.0615 0.77925C22.4892 0.778745 21.9401 1.00563 21.535 1.40999L12.9998 9.94515L4.46468 1.40999C4.0596 1.00491 3.5102 0.777344 2.93733 0.777344C2.36447 0.777344 1.81507 1.00491 1.40999 1.40999C1.00491 1.81507 0.777344 2.36447 0.777344 2.93733C0.777344 3.5102 1.00491 4.0596 1.40999 4.46468L9.94515 12.9998L1.40999 21.535C1.00491 21.9401 0.777344 22.4895 0.777344 23.0623C0.777344 23.6352 1.00491 24.1846 1.40999 24.5897C1.81507 24.9948 2.36447 25.2223 2.93733 25.2223C3.5102 25.2223 4.0596 24.9948 4.46468 24.5897L12.9998 16.0545L21.535 24.5897C21.9401 24.9948 22.4895 25.2223 23.0623 25.2223C23.6352 25.2223 24.1846 24.9948 24.5897 24.5897C24.9948 24.1846 25.2223 23.6352 25.2223 23.0623C25.2223 22.4895 24.9948 21.9401 24.5897 21.535L16.0491 12.9998Z" fill="black"/></svg>
    .checkout__modal__header.d-flex.align-items-center
      .d-flex.align-items-center
        .header__logo
          img(src="./assets/images/logo-qr-code.png", alt="")
        h3.header__title
          |Bạn đang thanh toán qua VNPAY QR
      button.header__button.text-nowrap Chọn lại 

    .checkout__modal__content.d-flex.flex-wrap
      .content__qr
        .qr-code-img
        .note-turtorial
          strong Hướng dẫn:
          |Sử dụng ứng dụng mobile của các ngân hàng hỗ trợ thanh toán VNPAY QR quét mã dưới đây và thực hiện các bước tiếp theo trong ứng dụng để thanh toán. 
      .content__info
        .info__item
          p Số tiền cần thanh toán
          .info__content.red-color 900.000đ
        .info__item
          p Mã đơn hàng
          .info__content.blue-color NXBXD122367
        .info__item
          p Nội dung thanh toán
          .info__content.blue-color NXBXD122367
        .info__item
          button Thanh toán
    


