a(href="#" class = "license")
    svg(width='96' height='73' viewbox='0 0 96 73' fill='none' xmlns='http://www.w3.org/2000/svg')
        rect(y='25.5005' width='6' height='23.6162' rx='3' fill='white')
        rect(x='54' y='14.2057' width='6' height='46.2056' rx='3' fill='white')
        rect(x='36' y='17.2861' width='6' height='39.0181' rx='3' fill='white')
        rect(x='18' y='9.07178' width='6' height='56.4735' rx='3' fill='white')
        rect(x='90' y='0.857422' width='6' height='71.8754' rx='3' fill='white')
        rect(x='72' y='28.5808' width='6' height='16.4286' rx='3' fill='white')
    span.license__text
        span Tra cứu
        span Bản quyền