.container
     .checkout-mb-2 
          .checkout-headding 
               h1 Thông tin người nhận
               a(herf="") thay đổi
          .liner
          .checkout-infor    
               .infor-item.align-items-center
                    .item_icon
                         i.fas.fa-user-plus
                    .item_content Hoàng Đức Tuấn
               .infor-item.align-items-center
                    .item_icon
                         i.fas.fa-phone-alt
                    .item_content +84 936 255 358
               .infor-item 
                    .item_icon
                         i.fas.fa-map-marker-alt
                    .item_content Tòa A Hồ Gươm plaza, Vũ Trọng Khánh, Phường Mộ Lao, Quận Hà Đông, Hà Nội
          a(href="./checkout-mobile-3.html").btn_checkout-mb-1 Tiếp tục
