.home-sliderMb
    .home-sliderMb__inner
        .owl-carousel
            each item in [1,2,3]
                .home-sliderMb__item
                    .home-sliderMb__item-caption
                        span eBook
                        h1.caption__title Magazine
                    a(href="#")
                        img(class="owl-lazy" data-src="./assets/images/home-slider/mb.jpg")
                            