.home-slider
    .home-slider__inner
        .row
            .col-8
                .owl-carousel
                    .home-slider__item
                        a(href="#")
                            img(src="./assets/images/home-slider/home-slider.jpg")
                    .home-slider__item
                        a(href="#")
                            img(src="./assets/images/home-slider/home-slider.jpg")
                    .home-slider__item
                        a(href="#")
                            img(src="./assets/images/home-slider/home-slider.jpg")
            .col-4.pl-0
                .home-slider__ads
                    .home-slider__ads-item
                        a(href="#")
                            img(src="./assets/images/home-slider/image-1.jpg")
                    .home-slider__ads-item
                        a(href="#")
                            img(src="./assets/images/home-slider/image-2.jpg")
        .row
            .col-8
                .home-slider__imgBottom
                    a(href="#")
                        img(src="./assets/images/home-slider/bottom.jpg")
            .col-4.pl-0  
                .home-slider__botAds
                    a(href="#")
                        img(src="./assets/images/home-slider/image-3.jpg")
                            