-
    const infoPartnerData1 = [
        {
            title: "Năm sinh:",
            content: "xx/xx/1970",
        },
        {
            title: "Học hàm, học vị:",
            content: "Phó Giáo sư, Tiến sĩ, Kiến trúc sư",
        },
        {
            title: "Đơn vị công tác:",
            content: "Trường Đại học Xây dựng",
        },
        {
            title: "Công trình nghiên cứu khoa học:",
            content: "Bằng Sáng tạo của HKTSVN năm 1994",
        },
        {
            title: "Chức danh:",
            content: "Chủ tịch Hội đồng trường – Giảng viên Bộ môn Lý thuyết và Lịch sử Kiến trúc, Khoa Kiến trúc và Quy hoạch, trường Đại học Xây dựng",
        },
        {
            title: "Thành tựu:",
            content: "Giải thưởng của HKTSVN năm 2001; 2003 Giải thưởng kiến trúc quốc gia năm 2012",
        }
    ]
    const firstDataInfo = {
        title: "Tiểu sử:",
        content: "Là một kiến trúc sư có nhiều năm công tác trong lĩnh vực thiết kế kiến trúc nhà ở nông thôn, ông từng chia sẻ “phải hiểu sâu sắc văn hóa nông thôn mới có thể tạo ra thiết kế dành cho người dân địa phương. Bởi thiết kế kiến trúc nhà ở nông thôn là chủ đề khó, để sáng tạo được không gian nhà ở nông thôn theo hướng hiện đại mà vẫn đảm bảo kế thừa các giá trị văn hóa kiến trúc truyền thống thì buộc người thiết kế phải am hiểu sâu sắc về nền văn hóa, lối sống, phong tục tập quán của người dân địa phương. ",
    }

.info-partner
    .info-partner__left
        .info-partner__left-img
            img(src="./assets/images/info-partner/info-partner-1.png" alt="")
        .info-partner__left-list
            .list__item
                p.list__item-num 13
                span Giải thưởng
            .list__item
                p.list__item-num 24
                span Sách - Giáo trình
    .info-partner__right
        h2.info-partner__right-heading PGS.TS.KTS Nguyễn Đình Thi
        ul.info-partner__right-list.content-more.load-more-active
            li.list__item
                ul.list__item-listData.listData__item-wrap
                    li.listData__item.listData__item-full
                        span.list__item-title=firstDataInfo.title
                        p.list__item-content=firstDataInfo.content
            li.list__item
                ul.list__item-listData.listData__item-wrap
                    - var i = 0
                    each item in infoPartnerData1
                        li.listData__item
                            span.listData__item-title=item.title
                            span.listData__item-content=item.content
                            - i++
        .btn_readmore.active
            a.btn_color.load-more-btn Xem đầy đủ
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.64592 4.64592C1.69236 4.59935 1.74754 4.56241 1.80828 4.5372C1.86903 4.512 1.93415 4.49902 1.99992 4.49902C2.06568 4.49902 2.13081 4.512 2.19155 4.5372C2.2523 4.56241 2.30747 4.59935 2.35392 4.64592L7.99992 10.2929L13.6459 4.64592C13.6924 4.59943 13.7476 4.56255 13.8083 4.53739C13.8691 4.51223 13.9342 4.49929 13.9999 4.49929C14.0657 4.49929 14.1308 4.51223 14.1915 4.53739C14.2522 4.56255 14.3074 4.59943 14.3539 4.64592C14.4004 4.6924 14.4373 4.74759 14.4624 4.80833C14.4876 4.86907 14.5005 4.93417 14.5005 4.99992C14.5005 5.06566 14.4876 5.13076 14.4624 5.1915C14.4373 5.25224 14.4004 5.30743 14.3539 5.35392L8.35392 11.3539C8.30747 11.4005 8.2523 11.4374 8.19155 11.4626C8.1308 11.4878 8.06568 11.5008 7.99992 11.5008C7.93415 11.5008 7.86903 11.4878 7.80828 11.4626C7.74754 11.4374 7.69236 11.4005 7.64592 11.3539L1.64592 5.35392C1.59935 5.30747 1.56241 5.2523 1.5372 5.19155C1.512 5.13081 1.49902 5.06568 1.49902 4.99992C1.49902 4.93415 1.512 4.86903 1.5372 4.80828C1.56241 4.74754 1.59935 4.69236 1.64592 4.64592Z" fill="white"/></svg>
