.last-view 
    h3.h3-20.medium Video bạn xem gần đây nhất
    include ./book-video.pug
    .last-view__info
        .row 
            .col-lg-9.col-md-7.col-7
                h5.h5-16.medium
                p Học viện FamHRM
                p 
                    span 63 bài giảng
                    span.time 06:32:21
            .col-lg-3.col-md-5.col-5.text-right
                button.btn.btn-primary.btn-sm
                    img.mr-1(src='./assets/images/button/play.svg' alt='')
                    span Xem video
        