.list__book-mb
    each item in [1,2]
        .list__book-content.d-flex
            .col-xs-3
                .book__content-img
                    a(href="./book-detail-mobile-1.html")
                        div(class="lazy lazy-opacity bg-layout" data-bg="./assets/images/typical-book/image.png" style="width: 106px; height: 173px;")
                        span Sách giấy
            .col-xs-9
                .book__content-infor
                    .content__infor-title
                        h4 Các đô thị Việt Nam quá trình hình thành, phát triể...
                    .content__infor-description
                        p • Tác giả:
                        p.text-indent Phan Huy Đông (CB) Đỗ Thị Thu Hiền, Phan Hồng Quân - ĐH Xây dựng HN
                    .content__infor-btn
                        button.infor__btn-details.d-flex.justify-content-center.align-items-center
                            a(href="book-detail-mobile-2.html")
                                span Đọc tiếp
                                svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M6 18L14.5 12L6 6V18ZM16 6V18H18V6H16Z' fill='white')
    each item in [1,2]
        .list__book-content.d-flex
            .col-xs-3
                .book__content-img
                    a(href="./book-detail-mobile-1.html")
                        div(class="lazy lazy-opacity bg-layout" data-bg="./assets/images/typical-book/image.png" style="width: 106px; height: 173px;")
                        span Sách giấy
            .col-xs-9
                .book__content-infor
                    .content__infor-title
                        h4 Các đô thị Việt Nam quá trình hình thành, phát triể...
                    .content__infor-description
                        p • Tác giả:
                        p.text-indent Phan Huy Đông (CB) Đỗ Thị Thu Hiền, Phan Hồng Quân - ĐH Xây dựng HN
                    .content__infor-btn
                        button.infor__btn-details.d-flex.justify-content-center.align-items-center.btn-red
                            a(href="book-detail-mobile-2.html")
                                span Mua lại
                                svg(width='25' height='24' viewbox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M9.34521 13.5H4.09521C3.68121 13.5 3.34521 13.164 3.34521 12.75V3.75C3.34521 3.336 3.68121 3 4.09521 3H17.5952C18.0092 3 18.3452 3.336 18.3452 3.75V7.5H16.8452V4.5H4.84521V12H9.34521V13.5Z' fill='white')
                                    path(d='M16.0952 15.0001C13.882 15.0001 12.043 14.5208 10.8452 13.7161C10.8452 14.2756 10.8452 14.6446 10.8452 15.0001C10.8452 16.2428 13.1957 17.2501 16.0952 17.2501C18.9947 17.2501 21.3452 16.2428 21.3452 15.0001C21.3452 14.6446 21.3452 14.2756 21.3452 13.7161C20.1475 14.5208 18.3085 15.0001 16.0952 15.0001Z' fill='white')
                                    path(d='M16.0952 18.7501C13.882 18.7501 12.043 18.2708 10.8452 17.4661C10.8452 18.0256 10.8452 18.3946 10.8452 18.7501C10.8452 19.9928 13.1957 21.0001 16.0952 21.0001C18.9947 21.0001 21.3452 19.9928 21.3452 18.7501C21.3452 18.3946 21.3452 18.0256 21.3452 17.4661C20.1475 18.2708 18.3085 18.7501 16.0952 18.7501Z' fill='white')
                                    path(d='M10.027 9.504C10.5415 8.90325 11.3275 8.41275 12.3265 8.067C12.2357 7.3275 11.6102 6.75 10.8452 6.75C10.018 6.75 9.34521 7.42275 9.34521 8.25C9.34521 8.775 9.61746 9.23625 10.027 9.504Z' fill='white')
                                    path(d='M16.0952 13.5C18.9947 13.5 21.3452 12.4926 21.3452 11.25C21.3452 10.0074 18.9947 9 16.0952 9C13.1957 9 10.8452 10.0074 10.8452 11.25C10.8452 12.4926 13.1957 13.5 16.0952 13.5Z' fill='white')
