.component__pagination-mb
    .pagination-mb
        ul.pagination-mb__list
            li.pagination-mb__list-btn
                a.first__page-mb(href='#')
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 3C0 1.34315 1.34315 0 3 0H27C28.6569 0 30 1.34315 30 3V27C30 28.6569 28.6569 30 27 30H3C1.34315 30 0 28.6569 0 27V3Z"/><path d="M23.0125 20.7375L17.275 15L23.0125 9.2625L21.25 7.5L13.75 15L21.25 22.5L23.0125 20.7375ZM7.5 7.5H10V22.5H7.5V7.5Z" fill="#BDBDBD"/></svg>
            li.pagination-mb__list-btn
                a.prev(href='#')
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 3C0 1.34315 1.34315 0 3 0H27C28.6569 0 30 1.34315 30 3V27C30 28.6569 28.6569 30 27 30H3C1.34315 30 0 28.6569 0 27V3Z"/><path d="M19.2687 9.26875L17.5 7.5L10 15L17.5 22.5L19.2687 20.7312L13.5375 15L19.2687 9.26875Z" fill="#BDBDBD"/></svg>
            li.active
                a(href='#') 123
            li
                a(href='#') 4
            li
                a(href='#') 23
            li.pagination-mb__list-btn
                a.next(href='#')
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 3C0 1.34315 1.34315 0 3 0H27C28.6569 0 30 1.34315 30 3V27C30 28.6569 28.6569 30 27 30H3C1.34315 30 0 28.6569 0 27V3Z"/><path d="M12.5 7.5L10.7312 9.26875L16.4625 15L10.7312 20.7312L12.5 22.5L20 15L12.5 7.5Z" fill="#D4B26B"/></svg>
            li.pagination-mb__list-btn
                a.last__page(href='#')
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 3C0 1.34315 1.34315 0 3 0H27C28.6569 0 30 1.34315 30 3V27C30 28.6569 28.6569 30 27 30H3C1.34315 30 0 28.6569 0 27V3Z"/><path d="M6.98755 9.2625L12.725 15L6.98755 20.7375L8.75005 22.5L16.25 15L8.75005 7.5L6.98755 9.2625ZM20 7.5H22.5V22.5H20V7.5Z" fill="#D4B26B"/></svg>

