.component__pagination
    .pagination
        ul.pagination__list
            li.pagination__list-btn
                a.first__page(href='#')
                    <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="39" y="39" width="39" height="39" rx="3" transform="rotate(-180 39 39)" fill="white"/><path d="M27.4783 25.355L22.1233 20L27.4783 14.645L25.8333 13L18.8333 20L25.8333 27L27.4783 25.355ZM13 13H15.3333V27H13V13Z" fill="#BDBDBD"/></svg>
            li.pagination__list-btn
                a.prev(href='#')
                    <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="39" y="39" width="39" height="39" rx="3" transform="rotate(-180 39 39)" fill="white"/><path d="M23.9838 14.6508L22.333 13L15.333 20L22.333 27L23.9838 25.3492L18.6347 20L23.9838 14.6508Z" fill="#BDBDBD"/></svg>
            li.active
                a(href='#') 1
            li
                a(href='#') 2
            li
                a(href='#') 3
            li.pagination__list-btn
                a.next(href='#')
                    <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="39" height="39" rx="3" fill="white"/><path d="M17.6665 13L16.0156 14.6508L21.3648 20L16.0156 25.3492L17.6665 27L24.6665 20L17.6665 13Z" fill="#D4B26B"/></svg>
            li.pagination__list-btn
                a.last__page(href='#')
                    <svg width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="39" height="39" rx="3" fill="white"/><path d="M12.5215 14.645L17.8765 20L12.5215 25.355L14.1665 27L21.1665 20L14.1665 13L12.5215 14.645ZM24.6665 13H26.9998V27H24.6665V13Z" fill="#D4B26B"/></svg>
