.partner-card.bg-white.rounded.px-3
    .partner-card-img.text-center
        img(src="./assets/images/box-partner/logo.png", alt="")
    .partner-card-content.border-top.py-4
        h6.card-content-title.text-uppercase.mb-3 Trường đại học mở hà nội
        .card-content-bottom.d-flex.align-items-center
            .bottom-img.mr-1
                img(src="./assets/images/box-partner/icon.png" class="w-75", alt="")
            p.bottom-book-amount 1500 đầu sách
            

        


