.partner__wrap
    .partner__content
        .partner__head
            h2.partner__title-title Đối tác tiêu biểu
            .partner__title-vector
        .partner__list.d-flex.justify-content-center
            a.partner__list-link
                .link__thumb.d-flex.justify-content-center.align-items-center
                    img(class="lazy" data-src="./assets/images/partner/p147-0428102815.png" src="./assets/images/partner/p147-0428102815.png", alt="").link__thumb-img
            a.partner__list-link
                .link__thumb.d-flex.justify-content-center.align-items-center
                    img(class="lazy" data-src="./assets/images/partner/dv01.png" src="./assets/images/partner/dv01.png", alt="").link__thumb-img
            a.partner__list-link
                .link__thumb.d-flex.justify-content-center.align-items-center
                    img(class="lazy" data-src="./assets/images/partner/logodhxd-0508103657.png" src="./assets/images/partner/logodhxd-0508103657.png", alt="").link__thumb-img
            a.partner__list-link
                .link__thumb.d-flex.justify-content-center.align-items-center
                    img(class="lazy" data-src="./assets/images/partner/download-0508104126.png" src="./assets/images/partner/download-0508104126.png", alt="").link__thumb-img
            a.partner__list-link
                .link__thumb.d-flex.justify-content-center.align-items-center
                    img(class="lazy" data-src="./assets/images/partner/ftuslogo-0508104421.png" src="./assets/images/partner/ftuslogo-0508104421.png", alt="").link__thumb-img