.printer-list
    h3.printer-list-heading.text-center.position-relative.medium.h3-20 Dịch vụ in ấn - thiết kế
    .row
        .col-lg-3.col-6.mb-4
            .printer-list-content.bg-white.rounded.py-md-5.py-3
                img(data-src="./assets/images/printer-list/printer-1.png" src="./assets/images/printer-list/printer-1.png", alt="").lazy.rounded-circle.d-flex.ml-auto.mr-auto.mb-md-5.mb-3
                h5.text-center.medium.h5-16 Catalogue
                p.text-center.h6-14 15 members
        .col-lg-3.col-6.mb-4
            .printer-list-content.bg-white.rounded.py-md-5.py-3
                img(data-src="./assets/images/printer-list/printer-2.png" src="./assets/images/printer-list/printer-2.png", alt="").lazy.rounded-circle.d-flex.ml-auto.mr-auto.mb-md-5.mb-3
                h5.text-center.medium.h5-16 Tờ rơi - tờ gấp
                p.text-center.h6-14 46 members
        .col-lg-3.col-6.mb-4
            .printer-list-content.bg-white.rounded.py-md-5.py-3
                img(data-src="./assets/images/printer-list/printer-3.png" src="./assets/images/printer-list/printer-3.png", alt="").lazy.rounded-circle.d-flex.ml-auto.mr-auto.mb-md-5.mb-3
                h5.text-center.medium.h5-16 Bằng khen
                p.text-center.h6-14 270 members
        .col-lg-3.col-6.mb-4
            .printer-list-content.bg-white.rounded.py-md-5.py-3
                img(data-src="./assets/images/printer-list/printer-4.png" src="./assets/images/printer-list/printer-4.png", alt="").lazy.rounded-circle.d-flex.ml-auto.mr-auto.mb-md-5.mb-3
                h5.text-center.medium.h5-16 Tạp chí - Kỷ yếu
                p.text-center.h6-14 258 members