mixin audio-ebook-video-mb(title,type,subtitle)
    .book__content.book__content-mb.bg-white.py-3
        .list-book.py-0.px-3
            .tabbar 
                .row.ml-0.mr-0.pd-0
                    .col-lg-9.pl-0.d-flex.col-7
                        h3.h3-20.medium.d-flex.align-items-center.mb-3=title
                    .col-lg-3.pr-0.pl-0.col-5
                        .select-dropdown
                            select.form-control.form-control-lg.pl-2.mw-100.h6-14.regular
                                option.h6-14.regular  Sắp xếp theo
                                option.h6-14.regular  Theo giá từ thấp đến cao
                                option.h6-14.regular  Theo giá từ cao đến thấp
                                option.h6-14.regular  Năm xuất bản
                                option.h6-14.regular  Theo thời gian
                .tabbar__border
        .book__content-content.px-4
            .row
                each item in [1,2,3,4,5,6,7,8]
                    .col-6.book_item.py-4
                        .content__item
                            .content__item-img.position-relative
                                a(href="#")
                                    div(class="lazy lazy-opacity bg-book-search bg-book-category bg-layout position-relative" data-bg="./assets/images/audio-player/bookk.png")
                                        if item == 3
                                            .reading__book-icon.d-flex.justify-content-center.align-items-center
                                                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.0292969 1.01182C0.0292969 0.582989 0.374062 0.235352 0.79935 0.235352H5.41967C6.44083 0.235352 7.42016 0.644384 8.14222 1.37247C8.86429 2.10055 9.26994 3.08804 9.26994 4.1177V14.9883C9.26994 15.4171 8.92517 15.7648 8.49989 15.7648C8.0746 15.7648 7.72983 15.4171 7.72983 14.9883C7.72983 14.5764 7.56757 14.1814 7.27875 13.8902C6.98992 13.599 6.59819 13.4354 6.18972 13.4354H0.79935C0.374062 13.4354 0.0292969 13.0877 0.0292969 12.6589V1.01182ZM7.72983 12.2985V4.1177C7.72983 3.49991 7.48644 2.90741 7.0532 2.47056C6.61996 2.03371 6.03236 1.78829 5.41967 1.78829H1.5694V11.8824H6.18972C6.7351 11.8824 7.26556 12.0282 7.72983 12.2985Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M8.85755 1.37247C9.57961 0.644384 10.5589 0.235352 11.5801 0.235352H16.2004C16.6257 0.235352 16.9705 0.582989 16.9705 1.01182V12.6589C16.9705 13.0877 16.6257 13.4354 16.2004 13.4354H10.81C10.4016 13.4354 10.0099 13.599 9.72103 13.8902C9.4322 14.1814 9.26994 14.5764 9.26994 14.9883C9.26994 15.4171 8.92517 15.7648 8.49989 15.7648C8.0746 15.7648 7.72983 15.4171 7.72983 14.9883V4.1177C7.72983 3.08804 8.13548 2.10055 8.85755 1.37247ZM9.26994 12.2985C9.73421 12.0282 10.2647 11.8824 10.81 11.8824H15.4304V1.78829H11.5801C10.9674 1.78829 10.3798 2.03371 9.94657 2.47056C9.51333 2.90741 9.26994 3.49991 9.26994 4.1177V12.2985Z" fill="white"/></svg>
                                        else if item == 1
                                            .reading__book-icon.d-flex.justify-content-center.align-items-center
                                                <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.49989 1.94106C4.6014 1.94106 1.44106 5.1014 1.44106 8.99989V15.3528H0.0292969V8.99989C0.0292969 4.32171 3.82171 0.529297 8.49989 0.529297C13.1781 0.529297 16.9705 4.32171 16.9705 8.99989V15.3528H15.5587V8.99989C15.5587 5.1014 12.3984 1.94106 8.49989 1.94106Z" fill="white"/><path d="M12.7352 11.8234C12.7352 11.0437 13.3672 10.4116 14.1469 10.4116H16.9705V16.0587C16.9705 16.8384 16.3384 17.4705 15.5587 17.4705H14.1469C13.3672 17.4705 12.7352 16.8384 12.7352 16.0587V11.8234Z" fill="white"/><path d="M4.26459 11.8234C4.26459 11.0437 3.63252 10.4116 2.85283 10.4116H0.0292969V16.0587C0.0292969 16.8384 0.661366 17.4705 1.44106 17.4705H2.85283C3.63252 17.4705 4.26459 16.8384 4.26459 16.0587V11.8234Z" fill="white"/></svg>
                                        else if item == 2
                                            .reading__book-icon.d-flex.justify-content-center.align-items-center
                                                <svg width="13" height="20" viewBox="0 0 13 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.9707 10.0001L0.264821 19.1698L0.264822 0.830419L12.9707 10.0001Z" fill="white"/></svg>
                                    span.reading__book-sm.type.caption-12.regular.px-2.py-1=subtitle
                                    if subtitle == "Hết hạn"
                                        span.reading__book-sm.overtime.caption-12.regular.px-2.py-1 Hết hạn
                            .content__item-infor.d-flex.flex-column.justify-content-center.align-items-center
                                .item__infor-title.mb-3
                                    h6.h6-14.element-text.mt-2.mb-0.text-center Gió và tác động của gió lên công trình
                                a(href="#" class="btn btn-outline-primary caption-12 medium text-primary px-4 py-1") Chi tiết
                                    