.search-books-wrapper#book-wrapper
    .row
        .col-5
            div(class="lazy search-book-img lazy-opacity bg-layout" data-bg="./assets/images/typical-book/image.png" style="padding-top:75%; padding-bottom:75%")
        .col-7
            .search-book-detail
                h3.book-detail-title Giáo trình logic mở và ứng dụng
                p.book-detail-desc Tác giả: Phan Huy Đông (CB) Đỗ Thị Thu Hiền, Phan Hồng Quân - ĐH Xây dựng HN
                .book-detail-check
                    a(href="#" class="btn-check-link") Xem chi tiết
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 18L15 12L6.5 6V18ZM16.5 6V18H18.5V6H16.5Z" fill="white"/></svg>


