.service
    .container
        .service__main
            .service__main-title Trân trọng phục vụ:
            .service__main-list
                .row
                    .col-lg-3.col-6.col-md-3
                        .list__service
                            .list__service-img
                                a(href="#" )
                                    img(class="lazy" data-src="./assets/images/service/service1.png" src="./assets/images/service/service1.png" alt="")
                            .list__service-text
                                a(href="#") Bộ xây dựng
                    .col-lg-3.col-6.col-md-3
                        .list__service
                            .list__service-img
                                a(href="#" )
                                    img(class="lazy" data-src="./assets/images/service/service2.png" src="./assets/images/service/service2.png" alt="")
                            .list__service-text
                                a(href="#") Viện nghiên cứu
                    .col-lg-3.col-6.col-md-3
                        .list__servicet
                            .list__service-img
                                a(href="#" )
                                    img(class="lazy" data-src="./assets/images/service/service3.png" src="./assets/images/service/service3.png" alt="")
                            .list__service-text
                                a(href="#") Doanh nghiệp<span>/ Tổ chức</span>
                    .col-lg-3.col-6.col-md-3
                        .list__service
                            .list__service-img
                                a(href="#" )
                                    img(class="lazy" data-src="./assets/images/service/service4.png" src="./assets/images/service/service4.png" alt="")
                            .list__service-text
                                a(href="#") Nhà sách
                    .col-lg-3.col-6.col-md-3
                        .list__servicet
                            .list__service-img
                                a(href="#" )
                                    img(class="lazy" data-src="./assets/images/service/service5.png" src="./assets/images/service/service5.png" alt="")
                            .list__service-text
                                a(href="#") Trường đại học
                    .col-lg-3.col-6.col-md-3
                        .list__service
                            .list__service-img
                                a(href="#" )
                                    img(class="lazy" data-src="./assets/images/service/service6.png" src="./assets/images/service/service6.png" alt="")
                            .list__service-text
                                a(href="#") Quản lý thư viện
                    .col-lg-3.col-6.col-md-3
                        .list__servicet
                            .list__service-img
                                a(href="#" )
                                    img(class="lazy" data-src="./assets/images/service/service7.png" src="./assets/images/service/service7.png" alt="")
                            .list__service-text
                                a(href="#") Sinh viên
                    .col-lg-3.col-6.col-md-3
                        .list__service
                            .list__service-img
                                a(href="#" )
                                    img(class="lazy" data-src="./assets/images/service/service8.png" src="./assets/images/service/service8.png" alt="")
                            .list__service-text
                                a(href="#") Tác giả