.single-author
    .single-author__info.d-flex.align-items.center
        .info-avatar
            img(src="./assets/images/single-author/avatar.png", alt="avatar")
            span.icon-check
                svg(xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewbox='0 0 10 10' fill='none')
                    path(d='M5.00016 0.833374C2.69808 0.833374 0.833496 2.69796 0.833496 5.00004C0.833496 7.30004 2.69808 9.16671 5.00016 9.16671C7.30016 9.16671 9.16683 7.30004 9.16683 5.00004C9.16683 2.69796 7.30016 0.833374 5.00016 0.833374ZM4.16683 7.08337L2.0835 5.00004L2.67308 4.41046L4.16683 5.90421L7.32725 2.74379L7.91683 3.33337L4.16683 7.08337Z' fill='#27AE34')
        .info-name
            h6.h6-14.bold.info-name.mb-0 Đỗ Nhật Nam
            span.info-txt Tác giả
    .single-author__publisher
        h6.h6-14.publisher-title.mb-0 Được bán bởi:
        .publisher-info.d-flex.align-items-center
            .publisher-info__logo
                img(src="./assets/images/single-author/logo.png", alt="logo")
            .publisher-info__desc
                h6.h6-14.bold.mb-0 Nhà Xuất Bản xây dựng
                .desc-txt
                    span.desc-icon
                        svg(xmlns='http://www.w3.org/2000/svg' width='10' height='12' viewbox='0 0 10 12' fill='none')
                            path(d='M0.71208 1.81284L5.00016 0.20459L9.28825 1.81284C9.39941 1.85451 9.49522 1.92911 9.56287 2.02667C9.63052 2.12424 9.66678 2.24012 9.66683 2.35884V4.87126C9.66683 6.72451 8.8665 8.48792 7.47175 9.70826L5.00016 11.8713L2.52858 9.70826C1.83913 9.105 1.2866 8.36134 0.908019 7.52711C0.529438 6.69288 0.333554 5.78737 0.333496 4.87126V2.35884C0.333541 2.24012 0.369809 2.12424 0.437457 2.02667C0.505105 1.92911 0.600912 1.85451 0.71208 1.81284ZM4.38125 6.19367L3.55641 5.37001C3.5026 5.31429 3.43823 5.26985 3.36707 5.23928C3.2959 5.20871 3.21935 5.19262 3.1419 5.19194C3.06444 5.19127 2.98763 5.20603 2.91594 5.23536C2.84425 5.26469 2.77912 5.30801 2.72435 5.36278C2.66958 5.41755 2.62626 5.48268 2.59693 5.55437C2.5676 5.62606 2.55284 5.70287 2.55352 5.78032C2.55419 5.85778 2.57028 5.93432 2.60085 6.00549C2.63143 6.07666 2.67587 6.14103 2.73158 6.19484L3.96883 7.43209C4.07822 7.54145 4.22657 7.60288 4.38125 7.60288C4.53592 7.60288 4.68427 7.54145 4.79366 7.43209L7.26875 4.95701C7.32446 4.9032 7.3689 4.83883 7.39947 4.76766C7.43004 4.69649 7.44614 4.61995 7.44681 4.54249C7.44748 4.46504 7.43272 4.38822 7.40339 4.31653C7.37406 4.24484 7.33075 4.17971 7.27598 4.12494C7.22121 4.07017 7.15608 4.02686 7.08439 3.99753C7.0127 3.9682 6.93588 3.95344 6.85843 3.95411C6.78097 3.95478 6.70443 3.97088 6.63326 4.00145C6.56209 4.03202 6.49772 4.07646 6.44391 4.13217L4.38125 6.19484V6.19367Z' fill='#27AE60')
                    span Nhà phát hành tin cậy
