.test-reading-box 
    .container 
        .test-reading-box__wrapper
            p.test-reading-box__wrapper-icon ! 
            p.test-reading-box__wrapper-heading Hết đọc thử
            p.test-reading-box__wrapper-subheading Bạn có mua sách hoặc thuê sách để tiếp tục đọc
            .test-reading-box__wrapper-button.d-flex
                a(href="#").btn.btn-primary.rent Thuê sách
                a(href="#").btn.btn-primary.buy Mua sách