.topview.bg-white.rounded
    .topview-content
        h5.topview-content-heading.h5-16.medium Top view
        .d-flex.position-relative.mt-3.topview-content-line
            img(src="./assets/images/topview-decu/topview-1.png", alt="")
            .topview-content-main
                p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                p.topview-content-main-view.regular.position-absolute 238 lượt xem
            span.topview-content-number.bold.position-absolute 01
        .d-flex.position-relative.mt-3.topview-content-line
            img(src="./assets/images/topview-decu/topview-2.png", alt="")
            .topview-content-main
                p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                p.topview-content-main-view.regular.position-absolute 238 lượt xem
            span.topview-content-number.bold.position-absolute 02
        .d-flex.position-relative.mt-3.topview-content-line
            img(src="./assets/images/topview-decu/topview-3.png", alt="")
            .topview-content-main
                p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                p.topview-content-main-view.regular.position-absolute 238 lượt xem
            span.topview-content-number.bold.position-absolute 03
        .d-flex.position-relative.mt-3.topview-content-line
            img(src="./assets/images/topview-decu/topview-4.png", alt="")
            .topview-content-main
                p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                p.topview-content-main-view.regular.position-absolute 238 lượt xem
            span.topview-content-number.bold.position-absolute 04
        .d-flex.position-relative.mt-3.topview-content-line
            img(src="./assets/images/topview-decu/topview-5.png", alt="")
            .topview-content-main
                p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                p.topview-content-main-view.regular.position-absolute 238 lượt xem
            span.topview-content-number.bold.position-absolute 05