.topview.bg-white.rounded
    .topview-content
        ul.nav.nav-tabs.d-flex.justify-content-around.border-0
            li.nav-item
                a.m-0.pb-1.topview-content-heading.h5-16.medium.position-relative.border-0(class ="nav-link active" data-toggle="tab" href="#topds" ) Top DS
            li.nav-item
                a.m-0.pb-1.topview-content-heading.h5-16.medium.position-relative.border-0(class="nav-link" data-toggle="tab" href="#topview") Top view
            li.nav-item
                a.m-0.pb-1.topview-content-heading.h5-16.medium.position-relative.border-0(class="nav-link" data-toggle="tab" href="#decu") Đề cử
        .tab-content.list__tabs
            #topds.tab-pane.active
                .d-flex.position-relative.mt-3.topview-content-line
                    img(src="./assets/images/topview-decu-mb/book-1.png", alt="")
                    .topview-content-main
                        p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                        p.topview-content-main-view.regular.position-absolute 238 lượt xem
                    span.topview-content-number.bold.position-absolute 01
                .d-flex.position-relative.mt-3.topview-content-line
                    img(src="./assets/images/topview-decu-mb/book-2.png", alt="")
                    .topview-content-main
                        p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                        p.topview-content-main-view.regular.position-absolute 238 lượt xem
                    span.topview-content-number.bold.position-absolute 02
                .d-flex.position-relative.mt-3.topview-content-line
                    img(src="./assets/images/topview-decu-mb/book-3.png", alt="")
                    .topview-content-main
                        p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                        p.topview-content-main-view.regular.position-absolute 238 lượt xem
                    span.topview-content-number.bold.position-absolute 03
                .d-flex.position-relative.mt-3.topview-content-line
                    img(src="./assets/images/topview-decu-mb/book-4.png", alt="")
                    .topview-content-main
                        p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                        p.topview-content-main-view.regular.position-absolute 238 lượt xem
                    span.topview-content-number.bold.position-absolute 04
                .d-flex.position-relative.mt-3.topview-content-line
                    img(src="./assets/images/topview-decu-mb/book-5.png", alt="")
                    .topview-content-main
                        p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                        p.topview-content-main-view.regular.position-absolute 238 lượt xem
                    span.topview-content-number.bold.position-absolute 05
            #topview.tab-pane.fade
                .d-flex.position-relative.mt-3.topview-content-line
                    img(src="./assets/images/topview-decu-mb/book-1.png", alt="")
                    .topview-content-main
                        p.topview-content-main-title.caption-12.medium Topview
                        p.topview-content-main-view.regular.position-absolute 238 lượt xem
                    span.topview-content-number.bold.position-absolute 01
                .d-flex.position-relative.mt-3.topview-content-line
                    img(src="./assets/images/topview-decu-mb/book-2.png", alt="")
                    .topview-content-main
                        p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                        p.topview-content-main-view.regular.position-absolute 238 lượt xem
                    span.topview-content-number.bold.position-absolute 02
                .d-flex.position-relative.mt-3.topview-content-line
                    img(src="./assets/images/topview-decu-mb/book-3.png", alt="")
                    .topview-content-main
                        p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                        p.topview-content-main-view.regular.position-absolute 238 lượt xem
                    span.topview-content-number.bold.position-absolute 03
                .d-flex.position-relative.mt-3.topview-content-line
                    img(src="./assets/images/topview-decu-mb/book-4.png", alt="")
                    .topview-content-main
                        p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                        p.topview-content-main-view.regular.position-absolute 238 lượt xem
                    span.topview-content-number.bold.position-absolute 04
                .d-flex.position-relative.mt-3.topview-content-line
                    img(src="./assets/images/topview-decu-mb/book-5.png", alt="")
                    .topview-content-main
                        p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                        p.topview-content-main-view.regular.position-absolute 238 lượt xem
                    span.topview-content-number.bold.position-absolute 05
            #decu.tab-pane.fade
                .d-flex.position-relative.mt-3.topview-content-line
                    img(src="./assets/images/topview-decu-mb/book-1.png", alt="")
                    .topview-content-main
                        p.topview-content-main-title.caption-12.medium De Cu
                        p.topview-content-main-view.regular.position-absolute 238 lượt xem
                    span.topview-content-number.bold.position-absolute 01
                .d-flex.position-relative.mt-3.topview-content-line
                    img(src="./assets/images/topview-decu-mb/book-2.png", alt="")
                    .topview-content-main
                        p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                        p.topview-content-main-view.regular.position-absolute 238 lượt xem
                    span.topview-content-number.bold.position-absolute 02
                .d-flex.position-relative.mt-3.topview-content-line
                    img(src="./assets/images/topview-decu-mb/book-3.png", alt="")
                    .topview-content-main
                        p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                        p.topview-content-main-view.regular.position-absolute 238 lượt xem
                    span.topview-content-number.bold.position-absolute 03
                .d-flex.position-relative.mt-3.topview-content-line
                    img(src="./assets/images/topview-decu-mb/book-4.png", alt="")
                    .topview-content-main
                        p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                        p.topview-content-main-view.regular.position-absolute 238 lượt xem
                    span.topview-content-number.bold.position-absolute 04
                .d-flex.position-relative.mt-3.topview-content-line
                    img(src="./assets/images/topview-decu-mb/book-5.png", alt="")
                    .topview-content-main
                        p.topview-content-main-title.caption-12.medium Thành phố thông minh - khung quản trị và phát triển
                        p.topview-content-main-view.regular.position-absolute 238 lượt xem
                    span.topview-content-number.bold.position-absolute 05
