section.audiobook__player
    .audiobook__player-header.button-action
        .container.d-flex.justify-content-between
            .main-logo
                a(href="./index-desktop.html")
                    img(src="./assets/images/audiobook-logo.svg", alt="main logo")
            a.btn.btn-outline-brand-2.btn-sm(href="./login-desktop.html").d-flex.align-items-center
                img.mr-1(src="./assets/images/button/user.svg" alt="")
                span Tài khoản
    .audiobook__player-content.bg-white
        .container-fluid
            .row
                .col-lg-6.col-sm-10.mx-auto
                    .audiobook-content__left
                        .audiobook__images.d-flex.justify-content-center.my-2
                            img(src="./assets/images/book-cover.jpg", alt="")
                        .audiobook__left-content
                            h5.h5-16.audiobook__title Các đô thị Việt Nam quá trình hình thành, phát triển và quy hoạch đô thị. Tập 1: Hà Nội, Hải Phòng, Vinh, Huế, Đà Nẵng, Hội An, Đà Lạt, Nha Trang, Buôn Ma Thuột, Cần Thơ
                            .audiobook__detail.d-flex
                                p.body-13.regular.mr-2.chapter-numb Chương 1
                                p.body-13.regular.lyrics-running Nội dung đang chạy ở đây Nội dung đang chạy ở đây Nội dung đang chạy ở đây Nội dung đang chạy ở đây Nội dung đang chạy ở đây
                            .audio--player
                                .audio-timebars
                                    .audio-time.d-flex.justify-content-between
                                        .current-time#current-time 00:00
                                        .duration-time#duration-time 00:00
                                    .timebar
                                        input(type="range" min="0" steps="1" id="songSlider" class="songSlider" value="0")
                                        #range-timeBar
                                .audio-controls.d-flex.justify-content-between.align-items-center
                                    select.option-speeds#change--speeds
                                        option(value="0.5") 0.5x
                                        option(value="1" selected) 1.0x
                                        option(value="1.5") 1.5x
                                        option(value="2") 2x
                                    .main-controls
                                        audio(id="main-audio" src="")
                                        img(src="./assets/images/audio-player/backsong.png", alt="" id="backSongBtn")
                                        img(src="./assets/images/audio-player/back15s.png", alt="" id="back15sBtn")
                                        .play-pause-btn
                                            i(class="fa fa-play audio-play-btn")
                                        img(src="./assets/images/audio-player/next15s.png", alt="" id="next15sBtn")
                                        img(src="./assets/images/audio-player/nextsong.png", alt="" id="nextSongBtn")
                                    .volume-event.px-3.d-flex.align-items-center
                                        i(class="fas fa-volume-up volumeBtn")
                                        .range-input.ml-2
                                            input(type="range" min="0" max="100" steps="1" value="100" id="volumeslider")
                                            #range-progressBar

                .col-lg-6.col-sm-12
                    .audiobook-content__right
                        h5.chapter__title.h5-16 Chương
                        ul.chaper__list
                            each item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,17,18,19,20]
                                li(data-src='https://stream.nxbxaydung.com.vn/public/audio/1113f58b-bf77-4f29-8183-53e49646a2f5/index_1113f58b-bf77-4f29-8183-53e49646a2f5.m3u8').chapter__list-item.d-flex.align-items-center
                                    //- audio(src="")
                                    .item-order
                                        span.chapter__number=item
                                        img(class="chapter__video-active" src="./assets/images/audio-player/waveform.png" alt="")
                                    p.item-intro Lời giới thiệu
                                    p.item-content Nội dung đang chạy ở đây
                                    span.item-time__counter.px-3 03:22
                                
