.container
    .row
        .col-12
            h4 Padding
                p .p-1.pt-1.pr-1.pb-1.pl-1.py-1.px-1
                p .p-2.pt-2.pr-2.pb-2.pl-2.py-2.px-2
                p .p-3.pt-3.pr-3.pb-3.pl-3.py-3.px-3
                p .p-4.pt-4.pr-4.pb-4.pl-4.py-4.px-4
                p .p-5.pt-5.pr-5.pb-5.pl-5.py-5.px-5
            h4 Margin
                p .m-1.mt-1.mr-1.mb-1.ml-1.my-1.mx-1
                p .m-2.mt-2.mr-2.mb-2.ml-2.my-2.mx-2
                p .m-3.mt-3.mr-3.mb-3.ml-3.my-3.mx-3
                p .m-4.mt-4.mr-4.mb-4.ml-4.my-4.mx-4
                p .m-5.mt-5.mr-5.mb-5.ml-5.my-5.mx-5
                p .mx-auto.ml-auto.mr-auto
            h4 Border Additive and Subtractive
                p .border-0
                p .border-top-0.border-right-0.border-bottom-0.border-left-0
            h4 Border Color
                p .border.border-primary
                p .border.border-secondary
                p .border.border-success
                p .border.border-danger
                p .border.border-warning
                p .border.border-info
                p .border.border-light
                p .border.border-dark
                p .border.border-white
            h4 Border Radius
                img(src="", alt="" class="rounded")
                img(src="", alt="" class="rounded-circle")
                img(src="", alt="" class="rounded-pill")
            h4 Close Icon
                button(type="button" class="close" aria-label="Close")
                    span(aria-hidden="true") &times;
            h4 Colors
                p .text-primary
                p .text-secondary
                p .text-success
                p .text-danger
                p .text-info
                p .text-light
                p .text-dark
                p .text-white
                
                p .bg-primary
                p .bg-secondary
                p .bg-success
                p .bg-danger
                p .bg-info
                p .bg-dark
                p .bg-white
                p .bg-light
            h4 Flex
                p .d-flex
                p .d-inline-flex
                p .flex-row
                p .flex-row-reverse
                p .flex-column
                p .flex-column-reverse
                p .justify-content-start
                p .justify-content-end
                p .justify-content-center
                p .justify-content-between
                p .justify-content-around
                p .align-items-start
                p .align-items-end
                p .align-items-center
                p .align-items-baseline
                p .align-items-stretch
                p .align-self-start
                p .align-self-end
                p .align-self-center
                p .align-self-baseline
                p .align-self-stretch
            h4 Position
                p .position-static
                p .position-relative
                p .position-absolute
                p .position-fixed
                p .position-sticky
            h4 Sizing
                p .w-25
                p .w-50
                p .w-75
                p .w-100
                p .w-auto
                p .min-vw-100
                p .min-vh-100
                p .vw-100
                p .vh-100
            h4 Text
                p .text-left
                p .text-center
                p .text-right
                p .text-lowercase
                p .text-uppercase
                p .text-capitalize
                p .font-weight-bold
                p .font-weight-normal



