.termsofuse
    .termsofuse__breadcrum
        include ../components/breadcrumb.pug
        +brcrumb('Điều khoản sử dụng')
    .container
        .row
            .col-lg-9
                .termsofuse__details
                    .termsofuse__details-title
                        h1.font-time Điều khoản sử dụng
                    .termsofuse__details-content
                        .content__titles
                            h4.font-time.size-title Chào mừng bạn đến với website của Nhà xuất bản Xây dựng!
                        .content__description
                            p.font-time Cùng với việc truy cập và sử dụng các dịch vụ của website nxbxaydung.com.vn để tìm kiếm thông tin hoặc mua sắm, bạn đã đồng ý tuân thủ các quy định và ràng buộc của Nhà xuất bản Xây dựng. Bạn vui lòng đọc kỹ các điều khoản sử dụng và tuân thủ một cách hợp tác, nhờ đó Nhà xuất bản Xây dựng có thể phục vụ bạn ngày càng tốt hơn. Nếu bạn có bất cứ câu hỏi hoặc thắc mắc nào về những điều khoản dưới đây, vui lòng liên hệ với chúng tôi qua địa chỉ banhang@nxbxaydung.com.vn hoặc số điện thoại 0888.08.02.90
                            br
                            p.font-time Lưu ý các điều khoản sử dụng dưới đây Nhà xuất bản Xây dựng có thể xem xét lại và thay đổi bất cứ lúc nào và được thông báo cụ thể trên website nxbxaydung.com.vn vì vậy bạn nên thường xuyên cập nhật thông tin.
                            br
                        .content__titles
                            h4.font-time.size-title 1. Đăng ký tài khoản
                        .content__description
                            p.font-time Khi sử dụng dịch vụ trên website nxbxaydung.com.vn, bạn sẽ cung cấp cho chúng tôi các thông tin bao gồm: họ tên, mật khẩu và địa chỉ email để đăng ký một tài khoản tại đây. Việc sử dụng và giữ kín thông tin tài khoản là trách nhiệm và quyền lợi của bạn. Bên cạnh đó khi tiến hành đặt hàng, bạn cần cung cấp một vài thông tin khác trong đơn hàng bao gồm tên, địa chỉ…..là những thông tin giúp Nhà xuất bản Xây dựng cung cấp đơn hàng một cách hiệu quả nhất. Nếu bạn cung cấp không đầy đủ hoặc không chính xác các thông tin này dẫn đến việc không thể giao hàng, chúng tôi có quyền từ chối phục vụ mà không phải chịu bất cứ trách nhiệm nào đối với bạn. Chính vì vậy, bạn nên đảm bảo các thông tin cung cấp luôn đầy đủ, chính xác và được cập nhật.
                            br
                            p.font-time Đôi khi, chúng tôi sẽ gửi các thông báo về việc ra mắt sách hoặc các chương trình khuyến mại trên website cho bạn. Lưu ý có thể có một số hệ thống email dùng công nghệ lọc hoặc ngăn chặn việc bạn nhận thư. Chúng tôi sẽ không chịu trách nhiệm về việc bạn có thực sự nhận được thư thông báo hay không trong những trường hợp này.
                            br
                        .content__titles
                            h4.font-time.size-title 2. Quyền được bảo mật thông tin khách hàng
                        .content__description
                            p.font-time Khi sử dụng dịch vụ trên website nxbxaydung.com.vn, bạn được đảm bảo rằng những thông tin bạn cung cấp cho chúng tôi sẽ chỉ được dùng vào mục đích nâng cao hiệu quả phục vụ của Nhà xuất bản Xây dựng. Những thông tin này sẽ không được chuyển giao cho bên thứ ba nào khác vì mục đích thương mại. Những thông tin này hoàn toàn được bảo mật, chỉ trong trường hợp pháp luật yêu cầu, Nhà xuất bản buộc phải cung cấp thông tin cho bộ phận có chức năng. Để tìm hiểu chi tiết bạn có thể tham khảo Chính sách bảo mật được đăng tại website này.                    
                            br
                        .content__titles
                            h4.font-time.size-title 3. Kết nối vào/ra từ web
                        .content__description
                            p.font-time Trên website chúng tôi có thể có nhiều link tới website của các công ty hay đối tác khác, nhưng  không là chủ quản của các website đó. Chúng tôi sẽ không chịu trách nhiệm hay quyền hạn đối với bất kỳ nội dung, quảng cáo, sản phẩm hay dịch vụ trên các website này. Chúng tôi cũng không chịu trách nhiệm dù trực tiếp hay gián tiếp cho bất kỳ rủi ro hay nguyên nhân mất mát nào khi bạn sử dụng hay tin tưởng vào nội dung, quảng cáo, sản phẩm và dịch vụ của các website đó.
                            br
                            p.font-time Các thông tin đăng tải với nguồn từ Nhà xuất bản Xây dựng đều thuộc sở hữu của Nhà xuất bản Xây dựng. Khi bạn muốn sao chép nội dung bài viết do đội ngũ BTV website đăng tải bạn cần ghi rõ nguồn lấy từ nxbxaydung.com.vn
                            br
                        .content__titles
                            h4.font-time.size-title 4. Trách nhiệm của khách hàng khi sử dụng dịch vụ trên website
                        .content__description
                            p.font-time Bạn tuyệt đối không được xâm nhập bất hợp pháp vào hệ thống hoặc làm thay đổi cấu trúc dữ liệu của website nxbxaydung.com.vn dưới bất kỳ hình thức nào. Bạn không được sử dụng bất kỳ phương tiện nào để can thiệp, hoặc cổ vũ việc xâm nhập vào hệ thống máy chủ của chúng tôi. Nếu bạn phát hiện ra bất kỳ lỗi hệ thống trong quá trình sử dụng, xin vui lòng báo cho chúng tôi qua số điện thoại 0888.08.02.90 hoặc email banhang@nxbxaydung.com.vn
                            br
                            p.font-time Bạn không được đưa ra những nhận xét, bình luận, đánh giá mang tính chính trị (tuyên truyền, chống phá, xuyên tạc chính quyền), kỳ thị tôn giáo, giới tính, sắc tộc, vi phạm pháp luật nước Cộng hòa xã hội chủ nghĩa Việt Nam.
                            br
                            p.font-time Bạn không được đưa ra những nhận xét, bình luận, đánh giá có ý xúc phạm, quấy rối, làm phiền đối với người khác.
                            br
                            p.font-time Bạn không được mạo nhận hoặc có hành vì cố ý tạo sự nhầm lẫn mình là một khách hàng hoặc là thành viên Ban quản trị của website nxbxaydung.com.vn.
                            br
                            p.font-time Chúng tối không cho phép các tổ chức, cá nhân khác quảng bá sản phẩm tại website nxbxaydung.com.vn mà chưa có sự đồng ý bằng văn bản từ Nhà xuất bản Xây dựng.
            .col-lg-3
                .termsofuse__bar
                    .termsofuse__bar-titles
                        include ../components/menu-topic.pug
                    .termsofuse__bar-license
                        include ../components/check-license.pug
                    .termsofuse__bar-news
                        include ../components/news.pug 