.result__search.p-2
    .result__search-content.d-flex.flex-column.align-items-center.justify-content-center.bg-white.rounded(style="height:550px")
        img(class="lazy" src ="./assets/images/ketquatimkiemmb.svg" data-src="./assets/images/ketquatimkiemmb.svg", alt="")
        .search__content-text.text-center.mt-2.mb-5
            h4.h4-18 Không có kết quả nào nào
            h6.h6-14(style="color:#91909A") Bạn hãy thử tìm kiếm với từ khoá khác