.list__category-wrapper-mb
    .container.bg-white
        .row
            .col-12
                include ../components/topic.pug
                +topic(18, "Các chủ đề")
    .my-2
        include ../components/typical-book-slider.pug
        +typical__book-slider('Giáo trình mới')
