.section
    include ../components/account-sidebar-mb.pug
    +slide__bar-mb("Video của bạn",true)
    .mb-2.mt-2
        include ../components/last-viewed-video.pug
    .mb-2
        include ../components/video-cua-ban.pug