.section
    .container
        .row
            .col-lg-3.col-md-12
                include ../components/account-sidebar.pug
                +slide__bar("video")
            .col-lg-9.col-md-12
                .mb-4
                    include ../components/last-viewed-video.pug
                div
                    include ../components/video-cua-ban.pug

