.my-account
    .container
        .row 
            .col-lg-3.col-md-4
                include ../components/account-sidebar.pug
                +slide__bar("history")
            .col-lg-9.col-md-8
                .content.content-purchase
                    .purchase-history.table-history
                        include ../.././includes/components/control-table.pug
                        +table-top('Lịch sử mua hàng')
                        .purchase-history__table.table-responsive-xl
                            table.table
                                thead
                                    tr
                                        th(scope='col') STT
                                        th(scope='col') Mã đơn
                                        th(scope='col') Ngày đặt
                                        th(scope='col') Số tiền
                                        th(scope='col') Trạng thái
                                        th(scope='col') Hành động
                                tbody
                                    tr
                                        th(scope='row') 1
                                        td #1938
                                        td 03/03/12 22:43
                                        td 115.000 đ
                                        td
                                            button(class="btn btn-outline-F2994A btn-xsm br-2px") Chờ duyệt
                                        td 
                                            a(class="btn btn-success btn-xsm br-2px mr-2" href="./detail-order-desktop.html") Xem
                                            a(class="btn btn-danger btn-xsm br-2px mr-2" href="#") Huỷ
                                            a(class="btn btn-secondary btn-xsm br-2px" href="./edit-order-desktop.html") Sửa
                                    tr
                                        th(scope='row') 2
                                        td #1938
                                        td 03/03/12 22:43
                                        td 115.000 đ
                                        td 
                                            button(class="btn btn-outline-success btn-xsm br-2px") Đã duyệt
                                        td 
                                            a(class="btn btn-success btn-xsm br-2px mr-2" href="./detail-order-desktop.html") Xem
                                            a(class="btn btn-danger btn-xsm br-2px mr-2" href="#") Huỷ
                                            a(class="btn btn-secondary btn-xsm br-2px" href="./edit-order-desktop.html") Sửa
                                    tr
                                        th(scope='row') 3
                                        td #1938
                                        td 03/03/12 22:43
                                        td 115.000 đ
                                        td 
                                            button(class="btn btn-outline-danger btn-xsm br-2px") Đã huỷ
                                        td 
                                            a(class="btn btn-success btn-xsm br-2px mr-2" href="#edit-order-desktop") Xem
                                    tr
                                        th(scope='row') 4
                                        td #1938
                                        td 03/03/12 22:43
                                        td 115.000 đ
                                        td 
                                            button(class="btn btn-outline-F2994A btn-xsm br-2px") Chờ duyệt
                                        td 
                                            a(class="btn btn-success btn-xsm br-2px mr-2" href="./detail-order-desktop.html") Xem
                                            a(class="btn btn-danger btn-xsm br-2px mr-2" href="#") Huỷ
                                            a(class="btn btn-secondary btn-xsm br-2px" href="./edit-order-desktop.html") Sửa
                                    tr
                                        th(scope='row') 5
                                        td #1938
                                        td 03/03/12 22:43
                                        td 115.000 đ
                                        td 
                                            button(class="btn btn-outline-primary btn-xsm br-2px") Thành công
                                        td 
                                            a(class="btn btn-success btn-xsm br-2px br-2px mr-2" href="./detail-order-desktop.html").see Xem
                                            a(class="btn btn-primary btn-xsm" href="#") Mua lại
                        include ../components/control-table.pug
                        +table-bot()
                                                    