.partner__author
    .partner__author-wrapper
        .partner__author-img
            img(src="./assets/images/img_author.png", alt="")
            .author__img-boder
        .partner__author-name
            h4.text-center
                a(href="") PGS.TS.KTS Nguyễn Đình Thi
        .partner__author-portfolio.d-flex.justify-content-center.align-items-center
            .author__portfolio-gt.text-center
                p.size-bold 13
                p.size-light Giải thưởng 
            .author__portfolio-gt.text-center
                p.size-bold 24
                p.size-light Sách - Giáo trình
        ul.partner__author-resume
            li.author__resume-date.d-flex.align-items-baseline
                span.icon 
                    svg(width='12' height='12' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M6 11.25C8.8995 11.25 11.25 8.8995 11.25 6C11.25 3.10051 8.8995 0.75 6 0.75C3.10051 0.75 0.75 3.10051 0.75 6C0.75 8.8995 3.10051 11.25 6 11.25ZM6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12Z' fill='black')
                        path(d='M6.69803 4.94092L4.97977 5.15625L4.91824 5.44189L5.25662 5.50342C5.47635 5.55615 5.52029 5.63525 5.47195 5.85498L4.91824 8.45654C4.77322 9.12891 4.99734 9.44531 5.52469 9.44531C5.93338 9.44531 6.40799 9.25635 6.62332 8.99707L6.68924 8.68506C6.53982 8.81689 6.3201 8.86963 6.17508 8.86963C5.96854 8.86963 5.89383 8.72461 5.94656 8.46973L6.69803 4.94092Z' fill='black')
                        circle(cx='6' cy='3.375' r='0.75' fill='black')
                p Năm sinh:
                    span Nguyễn Thời Trung đã công bố trên 200 công trình ở các tạp chí ISI uy tín. Theo cơ sở dữ liệu Web of Science (ISI) của Mỹ, giáo sư tiến sĩ Nguyễn Thời Trung có hơn 7000 trích dẫn khoa học cho đến nay Đến năm 2003, anh tốt nghiệp thạc sĩ cơ học ứng dụng tại Trường Đại học Khoa học Tự nhiên Thành phố Hồ Chí Minh và tốt nghiệp thạc sĩ châu Âu ngành cơ học công trình tại Đại học Liege (Bỉ). Sau đó, năm 2010 anh tốt nghiệp tiến sĩ về cơ học kỹ thuật tại Đại học Quốc gia Singapore (NUS). Năm 2015, ông tốt nghiệp cử nhân triết học tại Trường Đại học Khoa học Xã hội và Nhân văn Thành phố Hồ Chí Minh.Anh bắt đầu sự nghiệp giảng dạy và nghiên cứu khoa học tại bộ môn toán cơ, khoa toán tin, Trường Đại học Khoa học Tự nhiên Thành phố Hồ Chí Minh từ năm 2001. Sau khi tốt nghiệp tiến sĩ tại NUS, anh trở về nước và tham gia giảng dạy và nghiên cứu tại Trường Đại học Tôn Đức Thắng từ năm 2010, và nay là Viện trưởng Viện khoa học tính toán của TDTU. Năm 2013, Hội đồng chức danh giáo sư Nhà nước công nhận chức danh phó giáo sư cho anh. Năm 2017, anh được Uỷ ban đề bạt và phân công chuyên môn của TDTU phân công nhiệm vụ giáo sư nghiên cứu thực thụ qua bình duyệt của các chuyên gia hàng đầu thế giới.Năm 2018, Nguyễn Thời Trung được Đại học Old Dominion (Mỹ) mời tham gia giảng dạy và nghiên cứu. Đại học Old Dominion (ODU) là một trong những đại học lớn của bang Virginia (Mỹ) với hơn 24.000 sinh viên. Hàng năm, ODU đóng góp hơn 2 tỷ USD cho nền kinh tế của bang này.Nguyễn Thời Trung, vào năm 2019, đã được tạp chí khoa học và sinh học (tạp chí PLoS Biology) của Mỹ vừa bình chọn vào danh sách 100.000 nhà khoa học hàng đầu thế giới. Việc xếp hạng của PLoS Biology được căn cứ vào cơ sở dữ liệu của gần 7 triệu tác giả, nhà khoa học trong gần 60 năm trên toàn thế giới. Ngoài giáo sư Trung, danh sách này 2019 còn có hai nhà khoa học của Việt Nam nằm trong số 100.000 nhà khoa học hàng đầu thế giới, gồm giáo sư tiến sĩ khoa học Nguyễn Đình Đức (Đại học Quốc gia Hà Nội) và phó giáo sư Trần Xuân Bách (Trường Đại học Y Hà Nội, chuyên gia nghiên cứu về y tế cộng đồng).Trước đó, vào năm 2018 Giáo sư Nguyễn Thời Trung cũng đã được vinh danh là một trong 4 nhà khoa học xuất sắc quốc tế nhận giải thưởng khoa học "Thành tựu trọn đời" (Lifetime Achievement Award) của Trường Đại học Tôn Đức Thắng (TDTU PRIZE). Để giành giải thưởng này, anh đã vượt qua 62 ứng viên quốc tế đến từ nhiều quốc gia và vùng lãnh thổ như Mỹ, Nhật Bản, Trung Quốc, Đài Loan, Pháp, Nga, Bỉ. Giải thưởng này xét duyệt dựa trên 3 tiêu chí quan trọng: Năng suất và chất lượng nghiên cứu khoa học (thể hiện qua số công trình công bố quốc tế, tác động của tập san khoa học, vai trò và đóng góp của tác giả trong các công trình nghiên cứu đã công bố); Tầm quan trọng và cách tân trong nghiên cứu khoa học (thể hiện qua phương pháp, đánh giá của chuyên gia và kết quả triển khai trong thực tế); Tầm ảnh hưởng của nghiên cứu khoa học (được đánh giá qua các chỉ số trắc lượng khoa học như: tần số trích dẫn, vai trò lãnh đạo trong các hội nghị và xã hội).
            li.author__resume-date.d-flex.align-items-baseline
                span.icon 
                    svg(width='12' height='12' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M6 11.25C8.8995 11.25 11.25 8.8995 11.25 6C11.25 3.10051 8.8995 0.75 6 0.75C3.10051 0.75 0.75 3.10051 0.75 6C0.75 8.8995 3.10051 11.25 6 11.25ZM6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12Z' fill='black')
                        path(d='M6.69803 4.94092L4.97977 5.15625L4.91824 5.44189L5.25662 5.50342C5.47635 5.55615 5.52029 5.63525 5.47195 5.85498L4.91824 8.45654C4.77322 9.12891 4.99734 9.44531 5.52469 9.44531C5.93338 9.44531 6.40799 9.25635 6.62332 8.99707L6.68924 8.68506C6.53982 8.81689 6.3201 8.86963 6.17508 8.86963C5.96854 8.86963 5.89383 8.72461 5.94656 8.46973L6.69803 4.94092Z' fill='black')
                        circle(cx='6' cy='3.375' r='0.75' fill='black')
                p Đơn vị công tác:
                    span.d-block Trường Đại học Xây dựng
            li.author__resume-date.d-flex.align-items-baseline
                span.icon 
                    svg(width='12' height='12' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M6 11.25C8.8995 11.25 11.25 8.8995 11.25 6C11.25 3.10051 8.8995 0.75 6 0.75C3.10051 0.75 0.75 3.10051 0.75 6C0.75 8.8995 3.10051 11.25 6 11.25ZM6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12Z' fill='black')
                        path(d='M6.69803 4.94092L4.97977 5.15625L4.91824 5.44189L5.25662 5.50342C5.47635 5.55615 5.52029 5.63525 5.47195 5.85498L4.91824 8.45654C4.77322 9.12891 4.99734 9.44531 5.52469 9.44531C5.93338 9.44531 6.40799 9.25635 6.62332 8.99707L6.68924 8.68506C6.53982 8.81689 6.3201 8.86963 6.17508 8.86963C5.96854 8.86963 5.89383 8.72461 5.94656 8.46973L6.69803 4.94092Z' fill='black')
                        circle(cx='6' cy='3.375' r='0.75' fill='black')
                p Chức danh:
                    span.d-block Chủ tịch Hội đồng trường – Giảng viên Bộ môn Lý thuyết và Lịch sử Kiến trúc, Khoa Kiến trúc và Quy hoạch, trường Đại học Xây dựng
            li.author__resume-date.d-flex.align-items-baseline
                span.icon 
                    svg(width='12' height='12' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M6 11.25C8.8995 11.25 11.25 8.8995 11.25 6C11.25 3.10051 8.8995 0.75 6 0.75C3.10051 0.75 0.75 3.10051 0.75 6C0.75 8.8995 3.10051 11.25 6 11.25ZM6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12Z' fill='black')
                        path(d='M6.69803 4.94092L4.97977 5.15625L4.91824 5.44189L5.25662 5.50342C5.47635 5.55615 5.52029 5.63525 5.47195 5.85498L4.91824 8.45654C4.77322 9.12891 4.99734 9.44531 5.52469 9.44531C5.93338 9.44531 6.40799 9.25635 6.62332 8.99707L6.68924 8.68506C6.53982 8.81689 6.3201 8.86963 6.17508 8.86963C5.96854 8.86963 5.89383 8.72461 5.94656 8.46973L6.69803 4.94092Z' fill='black')
                        circle(cx='6' cy='3.375' r='0.75' fill='black')
                p Chức danh:
                    span.d-block Chủ tịch Hội đồng trường – Giảng viên Bộ môn Lý thuyết và Lịch sử Kiến trúc, Khoa Kiến trúc và Quy hoạch, trường Đại học Xây dựng
            li.author__resume-date.d-flex.align-items-baseline
                span.icon 
                    svg(width='12' height='12' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M6 11.25C8.8995 11.25 11.25 8.8995 11.25 6C11.25 3.10051 8.8995 0.75 6 0.75C3.10051 0.75 0.75 3.10051 0.75 6C0.75 8.8995 3.10051 11.25 6 11.25ZM6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12Z' fill='black')
                        path(d='M6.69803 4.94092L4.97977 5.15625L4.91824 5.44189L5.25662 5.50342C5.47635 5.55615 5.52029 5.63525 5.47195 5.85498L4.91824 8.45654C4.77322 9.12891 4.99734 9.44531 5.52469 9.44531C5.93338 9.44531 6.40799 9.25635 6.62332 8.99707L6.68924 8.68506C6.53982 8.81689 6.3201 8.86963 6.17508 8.86963C5.96854 8.86963 5.89383 8.72461 5.94656 8.46973L6.69803 4.94092Z' fill='black')
                        circle(cx='6' cy='3.375' r='0.75' fill='black')
                p Chức danh:
                    span.d-block Chủ tịch Hội đồng trường – Giảng viên Bộ môn Lý thuyết và Lịch sử Kiến trúc, Khoa Kiến trúc và Quy hoạch, trường Đại học Xây dựng
            li.author__resume-date.d-flex.align-items-baseline
                span.icon 
                    svg(width='12' height='12' viewbox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M6 11.25C8.8995 11.25 11.25 8.8995 11.25 6C11.25 3.10051 8.8995 0.75 6 0.75C3.10051 0.75 0.75 3.10051 0.75 6C0.75 8.8995 3.10051 11.25 6 11.25ZM6 12C9.31371 12 12 9.31371 12 6C12 2.68629 9.31371 0 6 0C2.68629 0 0 2.68629 0 6C0 9.31371 2.68629 12 6 12Z' fill='black')
                        path(d='M6.69803 4.94092L4.97977 5.15625L4.91824 5.44189L5.25662 5.50342C5.47635 5.55615 5.52029 5.63525 5.47195 5.85498L4.91824 8.45654C4.77322 9.12891 4.99734 9.44531 5.52469 9.44531C5.93338 9.44531 6.40799 9.25635 6.62332 8.99707L6.68924 8.68506C6.53982 8.81689 6.3201 8.86963 6.17508 8.86963C5.96854 8.86963 5.89383 8.72461 5.94656 8.46973L6.69803 4.94092Z' fill='black')
                        circle(cx='6' cy='3.375' r='0.75' fill='black')
                p Chức danh:
                    span.d-block Chủ tịch Hội đồng trường – Giảng viên Bộ môn Lý thuyết và Lịch sử Kiến trúc, Khoa Kiến trúc và Quy hoạch, trường Đại học Xây dựng                        
        .partner__author-viewmore.d-flex.justify-content-center
            button.btn-toggle.d-flex.justify-content-center.align-items-center(type='button' data-toggle='collapse' data-target='#collapseExample' aria-expanded='false' aria-controls='collapseExample')
                | Xem đầy đủ
                svg(width='16' height='16' viewbox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M1.64592 4.64592C1.69236 4.59935 1.74754 4.56241 1.80828 4.5372C1.86903 4.512 1.93415 4.49902 1.99992 4.49902C2.06568 4.49902 2.13081 4.512 2.19155 4.5372C2.2523 4.56241 2.30747 4.59935 2.35392 4.64592L7.99992 10.2929L13.6459 4.64592C13.6924 4.59943 13.7476 4.56255 13.8083 4.53739C13.8691 4.51223 13.9342 4.49929 13.9999 4.49929C14.0657 4.49929 14.1308 4.51223 14.1915 4.53739C14.2522 4.56255 14.3074 4.59943 14.3539 4.64592C14.4004 4.6924 14.4373 4.74759 14.4624 4.80833C14.4876 4.86907 14.5005 4.93417 14.5005 4.99992C14.5005 5.06566 14.4876 5.13076 14.4624 5.1915C14.4373 5.25224 14.4004 5.30743 14.3539 5.35392L8.35392 11.3539C8.30747 11.4005 8.2523 11.4374 8.19155 11.4626C8.1308 11.4878 8.06568 11.5008 7.99992 11.5008C7.93415 11.5008 7.86903 11.4878 7.80828 11.4626C7.74754 11.4374 7.69236 11.4005 7.64592 11.3539L1.64592 5.35392C1.59935 5.30747 1.56241 5.2523 1.5372 5.19155C1.512 5.13081 1.49902 5.06568 1.49902 4.99992C1.49902 4.93415 1.512 4.86903 1.5372 4.80828C1.56241 4.74754 1.59935 4.69236 1.64592 4.64592Z' fill='white')
.partner__title
    h2.mb-0 Sách của PGS.TS.KTS Nguyễn Đình Thi (24)
