section.video-viewer__display
    .audiobook__player-header.button-action.d-flex.justify-content-between.video--viewer
        .main-logo.d-flex.align-items-center
            a(href="./index-desktop.html")
                img(src="./assets/images/audio-player/sublogo.png", alt="main logo")
            .learning-content.ml-3
                <svg class="roate-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 5.33325L4 9.33325L4.94333 10.2766L8 7.21992L11.0567 10.2766L12 9.33325L8 5.33325Z" fill="#007BFF"/></svg>
                span.caption-12.regular.text-primary Nội dung học
        a.btn.btn-outline-brand-2.btn-sm(href="./login-desktop.html").d-flex.align-items-center
            img.mr-1(src="./assets/images/button/user.svg" alt="")
            span Tài khoản
    .content__study.bg-white.d-flex
        .slidebar-content-left
            h6.mb-0.h6-14.bold.content__study-title Khoá học: Thực hành kế toán xây dựng trong doanh nghiệp
            .panel-wrapper.px-3
                each item in [1,2,3,4]
                    .panel-group.content__group(id =`accordion${item}`)
                        .panel.panel-default
                            .panel-heading.d-flex.border_bottom.py-2.panel-change-icon
                                .heading--icon.mr-1
                                    <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 0.333252L0 4.33325L0.943333 5.27658L4 2.21992L7.05667 5.27658L8 4.33325L4 0.333252Z" fill="#333333"/></svg>
                                .panel-title
                                    a(data-toggle='collapse', data-parent=`#accordion${item}`, href=`#collapseThree${item}`)
                                        p.body-13.bold.font-respons Phần 1: Hợp đồng trong xây dựng
                            .panel-collapse.collapse(id =`collapseThree${item}`)
                                .panel-body
                                    each item in [1,2,3,4]
                                        .name__subjects-lock.d-flex.align-items-md-center.justify-content-between.border_bottom.py-2
                                            .d-flex
                                                .name__subjects-icon.me-auto.mr-1
                                                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.99998 1.83325C4.31665 1.83325 1.33331 4.81658 1.33331 8.49992C1.33331 12.1832 4.31665 15.1666 7.99998 15.1666C11.6833 15.1666 14.6666 12.1832 14.6666 8.49992C14.6666 4.81658 11.6833 1.83325 7.99998 1.83325ZM6.66665 11.4999V5.49992L10.6666 8.49992L6.66665 11.4999Z" fill="#E0E0E0"/></svg>
                                                .name__subjects-text
                                                    p.body-13.regular Bài 2: Giới thiệu chung Phân loại hợp đồng và nghị định 37    
        .video--player
            .container.container--cs
                include ../components/book-video.pug
                .video-content-detail
                    .video-detail-heading.d-flex.justify-content-between
                        .video-detail-text
                            p.caption-12.regular Phần 1: Hợp đồng trong xây dựng
                            h5.h5-16.bold Bài 2: Giới thiệu chung Phân loại hợp đồng và Nghị định 37
                        .vido-detail-btn
                            .button__item
                                button.btn.btn-success.btn-sm
                                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.583374 6.99992C0.583374 3.45609 3.45621 0.583252 7.00004 0.583252C10.5439 0.583252 13.4167 3.45609 13.4167 6.99992C13.4167 10.5437 10.5439 13.4166 7.00004 13.4166C3.45621 13.4166 0.583374 10.5437 0.583374 6.99992Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M10.0979 4.69165C10.3257 4.91946 10.3257 5.2888 10.0979 5.51661L6.47711 9.30827C6.2493 9.53608 5.87995 9.53608 5.65215 9.30827L3.90215 7.55828C3.67434 7.33047 3.67434 6.96112 3.90215 6.73332C4.12995 6.50551 4.4993 6.50551 4.72711 6.73332L6.06463 8.07084L9.27296 4.69165C9.50077 4.46384 9.87011 4.46384 10.0979 4.69165Z" fill="#27AE34"/></svg>
                                    span.ml-1 Tôi đã xem xong
                    .video-detail-download
                        .download-types.d-flex.align-items-center.mb-2
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.00001 9.83325C2.3682 9.83325 2.66668 10.1317 2.66668 10.4999V13.1666C2.66668 13.3434 2.73691 13.513 2.86194 13.638C2.98696 13.763 3.15653 13.8333 3.33334 13.8333H12.6667C12.8435 13.8333 13.0131 13.763 13.1381 13.638C13.2631 13.513 13.3333 13.3434 13.3333 13.1666V10.4999C13.3333 10.1317 13.6318 9.83325 14 9.83325C14.3682 9.83325 14.6667 10.1317 14.6667 10.4999V13.1666C14.6667 13.697 14.456 14.2057 14.0809 14.5808C13.7058 14.9559 13.1971 15.1666 12.6667 15.1666H3.33334C2.80291 15.1666 2.2942 14.9559 1.91913 14.5808C1.54406 14.2057 1.33334 13.697 1.33334 13.1666V10.4999C1.33334 10.1317 1.63182 9.83325 2.00001 9.83325Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M4.19526 6.69526C4.45561 6.43491 4.87772 6.43491 5.13807 6.69526L8 9.55719L10.8619 6.69526C11.1223 6.43491 11.5444 6.43491 11.8047 6.69526C12.0651 6.95561 12.0651 7.37772 11.8047 7.63807L8.4714 10.9714C8.21106 11.2318 7.78894 11.2318 7.5286 10.9714L4.19526 7.63807C3.93491 7.37772 3.93491 6.95561 4.19526 6.69526Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M8.00001 1.83325C8.3682 1.83325 8.66668 2.13173 8.66668 2.49992V10.4999C8.66668 10.8681 8.3682 11.1666 8.00001 11.1666C7.63182 11.1666 7.33334 10.8681 7.33334 10.4999V2.49992C7.33334 2.13173 7.63182 1.83325 8.00001 1.83325Z" fill="black"/></svg>
                            p.body-13.regular Tải tài liệu đính kèm cho bài giảng này
                        .download-type.doc-file.d-flex.align-items-center.mb-2
                            <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.3531 3.50938L7.99063 0.146875C7.89688 0.053125 7.77031 0 7.6375 0H1C0.723437 0 0.5 0.223437 0.5 0.5V13.5C0.5 13.7766 0.723437 14 1 14H11C11.2766 14 11.5 13.7766 11.5 13.5V3.86406C11.5 3.73125 11.4469 3.60313 11.3531 3.50938ZM10.3469 4.09375H7.40625V1.15313L10.3469 4.09375ZM10.375 12.875H1.625V1.125H6.34375V4.5C6.34375 4.67405 6.41289 4.84097 6.53596 4.96404C6.65903 5.08711 6.82595 5.15625 7 5.15625H10.375V12.875ZM6.25156 6.375H5.74844C5.6625 6.375 5.5875 6.43281 5.56719 6.51719L4.79063 9.625L4.07031 6.52031C4.05 6.43594 3.975 6.375 3.8875 6.375H3.33437C3.30563 6.37504 3.27729 6.38168 3.25152 6.39441C3.22574 6.40713 3.20324 6.4256 3.18573 6.4484C3.16822 6.47119 3.15618 6.4977 3.15052 6.52588C3.14487 6.55405 3.14576 6.58316 3.15312 6.61094L4.3125 10.9234C4.33437 11.0047 4.40938 11.0625 4.49375 11.0625H4.99375C5.07812 11.0625 5.15313 11.0062 5.175 10.9234L6 7.84531L6.825 10.9234C6.84687 11.0047 6.92188 11.0625 7.00625 11.0625H7.50313C7.5875 11.0625 7.6625 11.0062 7.68437 10.9234L8.84688 6.61094C8.85417 6.58316 8.85502 6.55408 8.84934 6.52593C8.84366 6.49777 8.83161 6.47129 8.81411 6.44852C8.79662 6.42574 8.77414 6.40727 8.7484 6.39453C8.72266 6.38179 8.69435 6.37511 8.66562 6.375H8.10938C8.02187 6.375 7.94687 6.43594 7.92656 6.52031L7.21094 9.63125L6.43281 6.51719C6.4125 6.43281 6.3375 6.375 6.25156 6.375Z" fill="#828282"/></svg>
                            a(href="#" download).caption-12.regular.text-primary.ml-1 Tên file.doc
                        .download-type.pdf-file.d-flex.align-items-center.mb-2
                            <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.5312 2.72925L8.9375 0.104248C8.65625 -0.177002 8.25 -0.333252 7.875 -0.333252H1.5C0.65625 -0.333252 0 0.354248 0 1.16675V14.1667C0 15.0105 0.65625 15.6667 1.5 15.6667H10.5C11.3125 15.6667 12 15.0105 12 14.1667V3.79175C12 3.41675 11.8125 3.0105 11.5312 2.72925ZM10.375 3.66675H8V1.29175L10.375 3.66675ZM1.5 14.1667V1.16675H6.5V4.41675C6.5 4.85425 6.8125 5.16675 7.25 5.16675H10.5V14.1667H1.5ZM9.3125 9.698C8.9375 9.323 7.84375 9.41675 7.28125 9.47925C6.75 9.16675 6.40625 8.698 6.15625 8.04175C6.25 7.54175 6.46875 6.7605 6.3125 6.29175C6.1875 5.47925 5.125 5.54175 4.96875 6.10425C4.84375 6.60425 4.96875 7.323 5.1875 8.198C4.875 8.948 4.40625 9.948 4.09375 10.5417C3.46875 10.8542 2.625 11.3542 2.5 11.9792C2.40625 12.4792 3.3125 13.698 4.875 11.0105C5.5625 10.7605 6.34375 10.4792 7 10.3542C7.59375 10.698 8.28125 10.8855 8.75 10.8855C9.5625 10.8855 9.625 10.0105 9.3125 9.698ZM3.125 12.1355C3.28125 11.698 3.875 11.198 4.0625 11.0417C3.46875 11.9792 3.125 12.1355 3.125 12.1355ZM5.65625 6.16675C5.90625 6.16675 5.875 7.16675 5.71875 7.448C5.59375 7.0105 5.59375 6.16675 5.65625 6.16675ZM4.90625 10.448C5.21875 9.91675 5.46875 9.29175 5.6875 8.72925C5.9375 9.198 6.25 9.573 6.625 9.823C5.96875 9.97925 5.40625 10.2292 4.90625 10.448ZM9 10.2917C9 10.2917 8.84375 10.4792 7.84375 10.0417C8.9375 9.948 9.125 10.198 9 10.2917Z" fill="#828282"/></svg>
                            a(href="#" download).caption-12.regular.text-primary.ml-1 Tên file.pdf
                        .download-type.xml-file.d-flex.align-items-center.mb-2
                           <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.5312 2.72925L8.9375 0.104248C8.65625 -0.177002 8.25 -0.333252 7.875 -0.333252H1.5C0.65625 -0.333252 0 0.354248 0 1.16675V14.1667C0 15.0105 0.65625 15.6667 1.5 15.6667H10.5C11.3125 15.6667 12 15.0105 12 14.1667V3.79175C12 3.41675 11.8125 3.0105 11.5312 2.72925ZM10.375 3.66675H8V1.29175L10.375 3.66675ZM1.5 14.1667V1.16675H6.5V4.41675C6.5 4.85425 6.8125 5.16675 7.25 5.16675H10.5V14.1667H1.5ZM8.125 6.66675H7.21875C7.0625 6.66675 6.9375 6.7605 6.875 6.8855C6.3125 7.91675 6.1875 8.198 6 8.66675C5.5625 7.7605 5.78125 8.1355 5.09375 6.8855C5.03125 6.7605 4.90625 6.66675 4.75 6.66675H3.875C3.5625 6.66675 3.40625 6.97925 3.53125 7.22925L4.96875 9.66675L3.53125 12.1042C3.375 12.3542 3.5625 12.6667 3.875 12.6667H4.75C4.90625 12.6667 5.03125 12.6042 5.09375 12.4792C5.78125 11.2292 5.8125 11.073 6 10.6667C6.4375 11.6355 6.15625 11.1667 6.875 12.4792C6.9375 12.6042 7.0625 12.6667 7.21875 12.6667H8.125C8.40625 12.6667 8.59375 12.3542 8.4375 12.1042L7 9.66675C7 9.6355 7.9375 8.10425 8.4375 7.22925C8.59375 6.97925 8.40625 6.66675 8.125 6.66675Z" fill="#828282"/></svg>
                            a(href="#" download).caption-12.regular.text-primary.ml-1 Tên file.xml
                .video-comment
                    include ../components/comment.pug
                







